Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore: fix lint-staged config to avoid unprettifiable files
  .config/lint-staged.config.js
Labels: none

chore(vscode): do not search generated types and distfiles
  .vscode/settings.json
Labels: none

feat(core): export MODULE_REFS constant; fix strict mode in function wrapper
  packages/core/src/constants.js
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/internal.ts
  packages/core/test/endowmentsToolkit.spec.js
  packages/core/test/scenarios/builtin.js
  packages/core/test/scenarios/index.js
Labels: pkg:lavamoat-core

chore(browserify): skip builtin scenario
  packages/browserify/test/runScenarios.spec.js
Labels: pkg:lavamoat-browserify

fix(deps): upgrade ses, @types/node, endo
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/.c8rc
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(tofu): fix some internal types
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

feat(types): add `include` property to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore: fix lint-staged config to avoid unprettifiable files
  .config/lint-staged.config.js
Labels: none

feat(core): export MODULE_REFS constant; fix strict mode in function wrapper
  packages/core/src/constants.js
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/internal.ts
  packages/core/test/endowmentsToolkit.spec.js
  packages/core/test/scenarios/builtin.js
  packages/core/test/scenarios/index.js
Labels: pkg:lavamoat-core

feat(types): add `include` property to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

fix(deps): upgrade ses, @types/node, endo
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/.c8rc
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(vscode): do not search generated types and distfiles
  .vscode/settings.json
Labels: none

chore(browserify): skip builtin scenario
  packages/browserify/test/runScenarios.spec.js
Labels: pkg:lavamoat-browserify

chore(ci): ensure setup runs before linting happens
  .github/workflows/nodejs.yml
Labels: none

chore(tofu): fix some internal types
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

fix(git-safe): adapt to github API change
  packages/git-safe-dependencies/src/validate-git.js
Labels: none

fix(git-safe): adapt to github API change
  packages/git-safe-dependencies/src/validate-git.js
Labels: none

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(node): force worker count to 3 in worker pool test
  packages/node/test/unit/worker-pool.spec.js
Labels: pkg:@lavamoat/node

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

chore(node): force worker count to 3 in worker pool test (#1900)
  packages/node/test/unit/worker-pool.spec.js
Labels: pkg:@lavamoat/node

chore(core): erase the premature strict directive from defaultCreateFunctionWrapper to allow a well documented PR merge for that line
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix(core): make the wrapper for global functions strict
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix(core): make the wrapper for global functions strict (#1898)
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

test(node): add e2e test for type stripping
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/basic-ts/helper.ts
  packages/node/test/e2e/fixture/basic-ts/index.ts
  packages/node/test/e2e/fixture/basic-ts/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/basic-ts/node_modules/simple-dep/index.js
  packages/node/test/e2e/fixture/basic-ts/node_modules/simple-dep/package.json
  packages/node/test/e2e/fixture/basic-ts/package.json
  packages/node/test/e2e/fixture/basic-ts/requirer.cjs
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

feat(node): typescript support via type stripping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/with-type-stripping.js
  packages/node/src/constants.js
Labels: pkg:@lavamoat/node

fix(node): limit type stripping to root compartment only
  packages/node/src/compartment/with-type-stripping.js
  packages/node/test/e2e/fixture/basic-ts/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/basic-ts/node_modules/simple-dep/actuallyJustJS.ts
  packages/node/test/e2e/fixture/basic-ts/node_modules/simple-dep/index.js
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

chore: upgrade ESLint v8 to v10 with flat config
  .config/eslintrc.typed-workspace.js
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/aa/.eslintrc.js
  packages/allow-scripts/.eslintrc.js
  packages/browserify/.eslintrc.js
  packages/core/.eslintrc.js
  packages/git-safe-dependencies/.eslintrc.js
  packages/lavamoat-node/.eslintrc.js
  packages/lavapack/.eslintrc.js
  packages/laverna/.eslintrc.js
  packages/node/.depcheckrc.yml
  packages/node/.eslintrc.cjs
  packages/node/package.json
  packages/react-native-lockdown/.eslintrc.js
  packages/vog/.eslintrc.cjs
  packages/yarn-plugin-allow-scripts/.eslintrc.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore: upgrade ESLint v8 to v10 with flat config
  .config/eslintrc.typed-workspace.js
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/aa/.eslintrc.js
  packages/allow-scripts/.eslintrc.js
  packages/browserify/.eslintrc.js
  packages/core/.eslintrc.js
  packages/git-safe-dependencies/.eslintrc.js
  packages/lavamoat-node/.eslintrc.js
  packages/lavapack/.eslintrc.js
  packages/laverna/.eslintrc.js
  packages/node/.depcheckrc.yml
  packages/node/.eslintrc.cjs
  packages/node/package.json
  packages/react-native-lockdown/.eslintrc.js
  packages/vog/.eslintrc.cjs
  packages/yarn-plugin-allow-scripts/.eslintrc.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

even more mess
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/webpack/examples/lavamoat/node/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
  packages/webpack/examples/webpack.config.js
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(node): fix corner case where policy override path was guessed incorrectly
  .wallaby.cjs
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/test-util.js
  packages/node/test/types.ts
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix corner case where policy override path was guessed incorrectly
  .wallaby.cjs
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/test-util.js
  packages/node/test/types.ts
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

feat: experimental fiddling with RAG
  .claude/settings.json
  docs/knowledge/architecture/overview.md
  docs/knowledge/decisions/001-use-ses.md
  docs/knowledge/security/policy-generation.md
  tools/knowledge-rag/.gitignore
  tools/knowledge-rag/README.md
  tools/knowledge-rag/package-lock.json
  tools/knowledge-rag/package.json
  tools/knowledge-rag/src/db.ts
  tools/knowledge-rag/src/embeddings.ts
  tools/knowledge-rag/src/hook.ts
  tools/knowledge-rag/src/index.ts
  tools/knowledge-rag/src/query.ts
  tools/knowledge-rag/src/server.ts
  tools/knowledge-rag/tsconfig.json
Labels: none

fix(node): fix SES policy violation summary formatting
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

feat(node): implement import.meta.resolve
  packages/node/src/exec/exec-compartment-class.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/import-meta-resolve/app.js
  packages/node/test/unit/fixture/import-meta-resolve/node_modules/helper/lib/nested.js
  packages/node/test/unit/fixture/import-meta-resolve/node_modules/helper/package.json
  packages/node/test/unit/fixture/import-meta-resolve/node_modules/helper/target.js
  packages/node/test/unit/fixture/import-meta-resolve/package.json
Labels: pkg:@lavamoat/node
