Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none

chore: build types first
  .github/actions/test/action.yml
  package.json
Labels: none

feat(policy): create @lavamoat/policy
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(policy): prettify schema after writing
  packages/policy/scripts/create-policy-schema.ts
Labels: none

chore(node): refactor some utils
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

feat(node): add "validate" command; use @lavamoat/policy
  package-lock.json
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/policy-util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

chore: update lockfile
  package-lock.json
Labels: none

chore(policy): add eslint config
  packages/policy/.eslintrc.cjs
Labels: none

feat(react-native-lockdown): use vendored SES version (#1716)
  .eslintrc.js
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/vendor/ses-hermes.cjs
  packages/react-native-lockdown/vendor/ses.cjs
Labels: none

docs(webpack): manual diagram wip
  packages/webpack/DEVELOPMENT.md
Labels: pkg:@lavamoat/webpack

chore: perf improvement from review
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): factor iteration into the responsible components
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): untangle generator wrapper while preserving the time constraints
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/exclude.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/types.d.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
  packages/webpack/test/e2e-main.spec.js
Labels: pkg:@lavamoat/webpack

docs(webpack): documentation updates and diagram generator
  packages/webpack/DEVELOPMENT.md
  packages/webpack/diagram.md
  packages/webpack/src/buildtime/diagnostics.js
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore(webpack): cleanup after refactoring and fix types
  packages/webpack/README.md
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/diagnostics.js
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/buildtime/wrapper.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/src/runtime/runtimeUnlocked.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

refactor(webpack): move utilities around
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/progress.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): progress on refactoring, working but some cleanup needed. dismantling identifierLookup remains todo
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): extract processing modules
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

docs(webpack): update development docs
  packages/webpack/DEVELOPMENT.md
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

chore(webpack): Apply suggestions from code review
  packages/webpack/README.md
  packages/webpack/src/buildtime/exclude.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
Labels: pkg:@lavamoat/webpack

chore(webpack): change how types are imported, fill in some missing types
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/buildtime/exclude.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

docs(webpack): update development docs
  packages/webpack/DEVELOPMENT.md
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

chore(webpack): Apply suggestions from code review
  packages/webpack/README.md
  packages/webpack/src/buildtime/exclude.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
Labels: pkg:@lavamoat/webpack

chore: perf improvement from review
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore(webpack): change how types are imported, fill in some missing types
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/buildtime/exclude.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore(webpack): cleanup after refactoring and fix types
  packages/webpack/README.md
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/diagnostics.js
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/buildtime/wrapper.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/src/runtime/runtimeUnlocked.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

refactor(webpack): progress on refactoring, working but some cleanup needed. dismantling identifierLookup remains todo
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): move utilities around
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/progress.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): extract processing modules
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): untangle generator wrapper while preserving the time constraints
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/exclude.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/types.d.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
  packages/webpack/test/e2e-main.spec.js
Labels: pkg:@lavamoat/webpack

refactor(webpack): factor iteration into the responsible components
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore(webpack): bump version to 1.0.0
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack

chore(react-native-lockdown): update version to 0.0.1
  packages/react-native-lockdown/package.json
Labels: none

chore(react-native-lockdown): release-please configuration
  .release-please-manifest.json
  release-please-config.json
Labels: none

chore(webpack): bump version to 1.0.0
  .release-please-manifest.json
Labels: none

chore(react-native-lockdown): update version to 0.0.1
  packages/react-native-lockdown/package.json
Labels: none

chore: update release-please configuration (#1719)
  .release-please-manifest.json
  packages/react-native-lockdown/package.json
  release-please-config.json
Labels: none

chore: update release-please configuration
  release-please-config.json
Labels: none

chore: update release-please configuration (#1720)
  release-please-config.json
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
