Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
  packages/types/package.json
  packages/types/src/module-record.ts
  packages/types/test/policy.spec.ts
  packages/types/test/tsconfig.json
  packages/types/tsconfig.json
  packages/webpack/src/runtime/runtime.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

fix(types): update @babel/types
  package-lock.json
  packages/types/.depcheckrc.yml
  packages/types/package.json
Labels: none

chore(types): add lint:deps script
  packages/core/.depcheckrc.yml
  packages/types/package.json
Labels: pkg:lavamoat-core

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(types): remove reference to non-existent @types/ses
  packages/types/test/tsconfig.json
Labels: none

fix(tofu): update type for new SetFieldType behavior
  packages/tofu/src/inspectPrimordialAssignments.js
Labels: pkg:lavamoat-tofu

chore(core): avoid deprecated LavaMoatPolicyOverrides type
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/mergePolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/stringifyPolicy.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core

feat(policy): create @lavamoat/policy
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.mjs
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none

chore(renovate): use helpers:disableTypesNodeMajor (#1677)
  .github/renovate.json5
Labels: none

chore(core,node): lint
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/test/scenario.ts
  packages/node/src/types.ts
  packages/node/test/stubs.d.ts
  packages/node/test/types.ts
  packages/node/test/unit/policy/types.ts
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

chore(eslint): use consistent type imports/exports in ts files
  .config/eslintrc.typed-workspace.js
  .eslintignore
Labels: none

test(react-native-lockdown): remove redundant test
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
Labels: none

docs(react-native-lockdown): update troubleshooting license year
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

fix(react-native-lockdown): max callstack exceeded
  packages/react-native-lockdown/src/index.js
Labels: none

feat(react-native-lockdown): default Hermes runtime true
  packages/react-native-lockdown/src/index.js
Labels: none

docs(react-native-lockdown): add Static Hermes warning
  packages/react-native-lockdown/README.md
Labels: none

docs(react-native-lockdown): vetted shims
  packages/react-native-lockdown/README.md
Labels: none

feat(react-native-lockdown): refactor for nicer warnings
  packages/react-native-lockdown/src/index.js
Labels: none

refactor(react-native-lockdown): rename to userConfig
  packages/react-native-lockdown/src/index.js
Labels: none

feat(react-native-lockdown): suffix beta to pkg ver
  package-lock.json
  packages/react-native-lockdown/package.json
Labels: none

chore(react-native-lockdown): update supported node versions
  packages/react-native-lockdown/package.json
Labels: none

docs(react-native-lockdown): unsupported React Native versions
  packages/react-native-lockdown/README.md
Labels: none

docs(react-native-lockdown): update readme hermes example
  packages/react-native-lockdown/README.md
Labels: none

docs(react-native-lockdown): update comments
  packages/react-native-lockdown/src/index.js
Labels: none

feat(react-native-lockdown): prepend harden before entryfile
  packages/react-native-lockdown/src/index.js
Labels: none

docs(react-native-lockdown): add license to readme
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

fix(react-native-lockdown): npm i update lockfile node v22.16.0
  package-lock.json
Labels: none

chore(react-native-lockdown): bump @react-native/js-polyfills
  package-lock.json
  packages/react-native-lockdown/package.json
Labels: none

docs(react-native-lockdown): add troubleshooting readme link (babel)
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

refactor(react-native-lockdown): linebreaks
  packages/react-native-lockdown/src/index.js
Labels: none

feat(react-native-lockdown): shim in the _D hermes promise implementation uses
  packages/react-native-lockdown/src/repair.js
Labels: none

feat(react-native-lockdown): flatten polyfills for user
  packages/react-native-lockdown/src/index.js
Labels: none

test(react-native-lockdown): ava assert test throws
  packages/react-native-lockdown/test/unit/validatePolyfills.spec.js
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
