Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/hooks.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/test-util.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

feat(vog)!: wrap cli-spinner
  packages/node/src/report.js
  packages/vog/README.md
  packages/vog/src/spinner.ts
Labels: pkg:@lavamoat/node

fix(preinstall-always-fail): give correct instructions for npm and both Yarn versions
  packages/preinstall-always-fail/package.json
Labels: pkg:@lavamoat/preinstall-always-fail

chore: review fixes
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/run-script-wrapper.spec.js
  packages/harden/test/snapshots/run-script-wrapper.spec.js.md
  packages/harden/test/snapshots/run-script-wrapper.spec.js.snap
Labels: none

chore: snapshot assertion was not a good choice
  packages/harden/test/run-script-wrapper.spec.js
  packages/harden/test/snapshots/run-script-wrapper.spec.js.md
  packages/harden/test/snapshots/run-script-wrapper.spec.js.snap
Labels: none

feat(harden): extend script configs (#2116)
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/projects/runner-features/lavamoat/scripts.compose.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.cycle.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.permissions.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.tmp.json
  packages/harden/test/projects/runner-features/package.json
  packages/harden/test/run-script-wrapper.spec.js
Labels: none

chore: fix RN changelog
  packages/react-native-lockdown/CHANGELOG.md
Labels: none

chore(ci): migrate from release-please to Changesets
  .changeset/README.md
  .changeset/config.json
  .github/actions/prepare/action.yml
  .github/workflows/release-please.yml
  .github/zizmor.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Labels: none

docs: update RELEASE.md
  RELEASE.md
Labels: none

chore(ci): zizmor lint fixes
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/labeler.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/hooks.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/test-util.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

feat(vog)!: wrap cli-spinner
  packages/node/src/report.js
  packages/vog/README.md
  packages/vog/src/spinner.ts
Labels: pkg:@lavamoat/node

feat(node): poke hole for custom capabilities
  packages/node/src/cli.js
  packages/node/src/compartment/power.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/preamble.js
  packages/node/src/types.ts
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
Labels: pkg:@lavamoat/node

fix(tofu): stop treating float typed arrays as primordials
  packages/tofu/src/primordials.js
  packages/tofu/test/inspectGlobals.spec.js
  packages/webpack/test/e2e-float-typed-arrays.spec.js
  packages/webpack/test/fixtures/main/float-typed-arrays.js
  packages/webpack/test/fixtures/main/node_modules/float-typed-array-package/index.js
  packages/webpack/test/fixtures/main/node_modules/float-typed-array-package/package.json
  packages/webpack/test/fixtures/main/package.json
Labels: pkg:lavamoat-tofu, pkg:@lavamoat/webpack

chore(tofu): drop the inline rationale comment
  packages/tofu/src/primordials.js
Labels: pkg:lavamoat-tofu

chore: drop explanatory comments from tests and fixture
  packages/tofu/test/inspectGlobals.spec.js
  packages/webpack/test/e2e-float-typed-arrays.spec.js
  packages/webpack/test/fixtures/main/node_modules/float-typed-array-package/index.js
Labels: pkg:lavamoat-tofu, pkg:@lavamoat/webpack

fix(tofu): stop treating float typed arrays as primordials (#2120)
  packages/tofu/src/primordials.js
  packages/tofu/test/inspectGlobals.spec.js
  packages/webpack/test/e2e-float-typed-arrays.spec.js
  packages/webpack/test/fixtures/main/float-typed-arrays.js
  packages/webpack/test/fixtures/main/node_modules/float-typed-array-package/index.js
  packages/webpack/test/fixtures/main/node_modules/float-typed-array-package/package.json
  packages/webpack/test/fixtures/main/package.json
Labels: pkg:lavamoat-tofu, pkg:@lavamoat/webpack

fix: update message on preinstall-always-fail
  packages/preinstall-always-fail/package.json
Labels: pkg:@lavamoat/preinstall-always-fail

fix(harden): fix workspaces support
  package-lock.json
  packages/harden/package.json
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/runner.cjs
  packages/harden/src/pnpm/opinions.js
  packages/harden/test/projects/pnpm/package.json
  packages/harden/test/projects/runner-workspace-npm/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-npm/package.json
  packages/harden/test/projects/runner-workspace-npm/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-pnpm/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-pnpm/package.json
  packages/harden/test/projects/runner-workspace-pnpm/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-pnpm/pnpm-workspace.yaml
  packages/harden/test/projects/runner-workspace-yarn/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-yarn/package.json
  packages/harden/test/projects/runner-workspace-yarn/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-yarn/yarn.lock
  packages/harden/test/runner.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
Labels: none

fix(core): Avoid disruptive errors when a scuttled global is accessed by Chrome itself
  packages/core/src/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

fix(core): Avoid disruptive errors when a scuttled global is accessed by Chrome itself (#2126)
  packages/core/src/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

fix: update message on preinstall-always-fail (#2124)
  packages/preinstall-always-fail/package.json
Labels: pkg:@lavamoat/preinstall-always-fail

feat(tofu): Ignore cjs-module-lexer exports annotation
  packages/tofu/src/findGlobals.js
  packages/tofu/src/util.js
  packages/tofu/test/findGlobals.spec.js
Labels: pkg:lavamoat-tofu

test(tofu): perf test to compare performance of finding globals over time
  packages/tofu/test/perfGlobals.js
Labels: pkg:lavamoat-tofu

fix(yarn): avoid attempting to run scripts on yarn update-lockfile mode install
  packages/harden/src/template/lavamoat/plugin-allow-scripts.js
  packages/yarn-plugin-allow-scripts/bundles/@yarnpkg/plugin-allow-scripts.js
  packages/yarn-plugin-allow-scripts/sources/index.ts
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

feat(tofu): Ignore cjs-module-lexer exports annotation (#2129)
  packages/tofu/src/findGlobals.js
  packages/tofu/src/util.js
  packages/tofu/test/findGlobals.spec.js
  packages/tofu/test/perfGlobals.js
Labels: pkg:lavamoat-tofu

fix(yarn): avoid attempting to run scripts on yarn update-lockfile mode install
  packages/harden/src/template/lavamoat/plugin-allow-scripts.js
  packages/yarn-plugin-allow-scripts/bundles/@yarnpkg/plugin-allow-scripts.js
  packages/yarn-plugin-allow-scripts/sources/index.ts
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts

fix(webpack): workaround for bad webidl issue on TextEncoder and SESv2
  packages/webpack/src/runtime/repairs/globalthis.js
Labels: pkg:@lavamoat/webpack

chore(ci): migrate from release-please to Changesets
  .changeset/README.md
  .changeset/config.json
  .github/actions/prepare/action.yml
  .github/workflows/release-please.yml
  .github/zizmor.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Labels: none

chore(ci): zizmor lint fixes
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/labeler.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none
