Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

secret prototype repair for FF contentscript sandbox (#1832)
  packages/webpack/src/runtime/repairs/globalthis.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/repairs-globalthis.spec.js
Labels: pkg:@lavamoat/webpack

feat(webpack): use the final module info in connections to handle the optimizations webpack sideEffect option does. wip
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/main.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/index.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/inner.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/package.json
  packages/webpack/test/fixtures/main/node_modules/uses-reexport-package/index.js
  packages/webpack/test/fixtures/main/node_modules/uses-reexport-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

feat(webpack,core): Add a meta field to policy resource, report webpack optimizations to it.
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/README.md
  packages/webpack/test/fixtures/main/node_modules/reexport-package/package.json
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.md
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.snap
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.md
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore: type niceties
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/webpack/src/buildtime/policyGenerator.js
Labels: pkg:@lavamoat/webpack

fix(webpack): strip policy meta from the policy that goes into the bundle, fix related tests
  packages/webpack/src/buildtime/aa.js
  packages/webpack/test/aa.spec.js
  packages/webpack/test/e2e-policy-gen.spec.js
  packages/webpack/test/snapshots/aa.spec.js.md
  packages/webpack/test/snapshots/aa.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore: mark meta field in policy experimental
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore: type niceties
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/webpack/src/buildtime/policyGenerator.js
Labels: pkg:@lavamoat/webpack

fix(webpack): strip policy meta from the policy that goes into the bundle, fix related tests
  packages/webpack/src/buildtime/aa.js
  packages/webpack/test/aa.spec.js
  packages/webpack/test/e2e-policy-gen.spec.js
  packages/webpack/test/snapshots/aa.spec.js.md
  packages/webpack/test/snapshots/aa.spec.js.snap
Labels: pkg:@lavamoat/webpack

feat(webpack): use the final module info in connections to handle the optimizations webpack sideEffect option does. wip
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/main.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/index.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/inner.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/package.json
  packages/webpack/test/fixtures/main/node_modules/uses-reexport-package/index.js
  packages/webpack/test/fixtures/main/node_modules/uses-reexport-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

feat(webpack,core): Add a meta field to policy resource, report webpack optimizations to it.
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/node_modules/reexport-package/README.md
  packages/webpack/test/fixtures/main/node_modules/reexport-package/package.json
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.md
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.snap
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.md
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore: mark meta field in policy experimental
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

fix(core)!: stop overwriting the policy file while loading.
  packages/core/src/loadPolicy.js
Labels: pkg:lavamoat-core

fix(core)!: stop overwriting the policy file while loading. (#1835)
  packages/core/src/loadPolicy.js
Labels: pkg:lavamoat-core

fix!: indicate breaking change propagation: stop overwriting the policy file while loading. (#1835)
  packages/browserify/package.json
  packages/lavamoat-node/package.json
Labels: pkg:lavamoat-browserify, pkg:lavamoat-node

chore(webpack): fixed type errors from update
  package-lock.json
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore(node): wip [ci skip]
  package-lock.json
  packages/browserify/package.json
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/lavamoat-node/package.json
  packages/node/package.json
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/module-resolver.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/shims.d.ts
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/src/worker-pool.js
  packages/node/test/unit/fixtures/test-worker.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
  packages/node/test/unit/worker-pool.spec.js
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/node, pkg:lavamoat-node

fix(webpack): add j to the list of harmless fields on __webpack_require__
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

fix(webpack): adapt scuttling config for runtime regardless of where it comes from
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/src/runtime/scuttlingConf.js
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

feat(types): add "include" prop to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): export MODULE_REFS
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

fix(browserify): hotfix for incorrect policy validation in lavamoat-browserify (to be replaced with modern schema based validation later)
  packages/browserify/src/index.js
  packages/browserify/test/fixtures/exampleApp/policy-override.json
  packages/browserify/test/fixtures/exampleApp/policy.json
Labels: pkg:lavamoat-browserify

test(browserify): explicitly test for false value being supported in policy
  packages/browserify/test/globalWrites.spec.js
Labels: pkg:lavamoat-browserify

fix(browserify): hotfix for incorrect policy validation in lavamoat-browserify (#1840)
  packages/browserify/src/index.js
  packages/browserify/test/fixtures/exampleApp/policy-override.json
  packages/browserify/test/fixtures/exampleApp/policy.json
  packages/browserify/test/globalWrites.spec.js
Labels: pkg:lavamoat-browserify

chore: fancier or
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): add j to the list of harmless fields on __webpack_require__ (#1838)
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore: comment on the needless field access
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): adapt scuttling config for runtime regardless of where it comes from (#1839)
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/src/runtime/scuttlingConf.js
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

chore: lint
  packages/node/src/policy-util.js
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

feat(types): add "include" prop to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): export MODULE_REFS
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

fix(node): update code to use latest version of https://github.com/endojs/endo/pull/2988
  package-lock.json
  packages/node/package.json
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

test(core): capture the issue with policy narrowing not working in a test
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

fix(core): fix policy narrowing logic in the policy merge
  packages/core/src/mergePolicy.js
  packages/core/test/endowmentsToolkit.spec.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

chore: switched types in dedupePolicyPaths to overloads
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(core): fix policy narrowing logic in the policy merge (#1843)
  packages/core/src/mergePolicy.js
  packages/core/test/endowmentsToolkit.spec.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

fix(vog): fix eslint/tseslint disagreement
  .eslintignore
  packages/vog/.depcheckrc.yml
  packages/vog/.eslintrc.cjs
  packages/vog/package.json
  packages/vog/src/tsconfig.json
  packages/vog/test/tsconfig.json
Labels: none

chore(deps): update lockfile
  package-lock.json
Labels: none

fix(vog): fix eslint/tseslint disagreement (#1846)
  .eslintignore
  package-lock.json
  packages/vog/.depcheckrc.yml
  packages/vog/.eslintrc.cjs
  packages/vog/package.json
  packages/vog/src/tsconfig.json
  packages/vog/test/tsconfig.json
Labels: none
