Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore: review type improvement
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore: review cleanups
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): static shims for runtime, runtimeConfigurationPerChunk_experimental to control embedded runtime options (#1792)
  package-lock.json
  packages/webpack/README.md
  packages/webpack/package.json
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/lavamoat.d.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/assemble.spec.js
  packages/webpack/test/e2e-static-shims.spec.js
  packages/webpack/test/fixtures/static-shims/shim-lockdown.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

feat: draft paranoid exports branding
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

feat: move brand check to debug
  packages/webpack/src/runtime/debug.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore: trim CODEOWNERS
  .github/CODEOWNERS
Labels: none

chore: trim CODEOWNERS (#1799)
  .github/CODEOWNERS
Labels: none

feat(webpack): repair for window.event deprecated leaky poperty (#1785)
  packages/webpack/src/runtime/repairs/eventsetter.js
  packages/webpack/src/runtime/repairs/index.js
Labels: pkg:@lavamoat/webpack

feat(core): avoid copying fields from a potential other-realm proto in endowmentsToolkit
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

fix(core): fix logical issue in filtering keys on non-shared proto
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

chore: review suggestion
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore: review suggestion
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

chore: review cleanup
  packages/webpack/src/buildtime/aa.js
Labels: pkg:@lavamoat/webpack

chore: nicer types import
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

chore: post-merge fix
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): fix the naive assumption that there can only be 1 module with a certain path (#1793)
  packages/webpack/src/buildtime/aa.js
  packages/webpack/test/e2e-layers.spec.js
  packages/webpack/test/e2e-repairs.spec.js
  packages/webpack/test/fixtures/main/layers/app.js
  packages/webpack/test/fixtures/main/layers/bootstrap.js
  packages/webpack/test/fixtures/main/layers/common.js
  packages/webpack/test/fixtures/main/webpack.config.js
  packages/webpack/test/scaffold.js
  packages/webpack/test/snapshots/e2e-layers.spec.js.md
  packages/webpack/test/snapshots/e2e-layers.spec.js.snap
Labels: pkg:@lavamoat/webpack

feat(webpack): add generatePolicyOnly option (#1789)
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-policy-gen.spec.js
Labels: pkg:@lavamoat/webpack

feat(core): support Firefox contentscript shenanigans with cross-realm window prototypes (#1786)
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(webpack): tidy up chunk running in thests
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/e2e-lockdown-inline.spec.js
  packages/webpack/test/e2e-scuttle.spec.js
  packages/webpack/test/e2e-static-shims.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): add @lavamoat/types
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:lavamoat-node

feat(types): create @lavamoat/types
  packages/aa/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(core,node): updates post-merge of @lavamoat/node
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
  packages/types/src/module-record.ts
  packages/types/test/policy.spec.ts
  packages/types/test/tsconfig.json
  packages/types/tsconfig.json
  packages/webpack/src/runtime/runtime.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

fix(types): update @babel/types
  packages/types/.depcheckrc.yml
Labels: none

fix(tofu): update type for new SetFieldType behavior
  packages/tofu/src/inspectPrimordialAssignments.js
Labels: pkg:lavamoat-tofu

chore(types): add lint:deps script
  packages/core/.depcheckrc.yml
  packages/types/package.json
Labels: pkg:lavamoat-core

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore(types): remove reference to non-existent @types/ses
  packages/types/test/tsconfig.json
Labels: none

fix(webpack): fix type import
  package-lock.json
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore: update lockfile
  package-lock.json
Labels: none

chore(core): avoid deprecated LavaMoatPolicyOverrides type
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/mergePolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/stringifyPolicy.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
