Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(deps): upgrade @types/node, replace @tsconfig/node20 w/ @tsconfig/node22
  .config/tsconfig.workspace.json
  package-lock.json
  package.json
  packages/node/package.json
  tsconfig.json
Labels: pkg:@lavamoat/node

chore(ci): remove Node v20.x from matrix
  .github/workflows/nodejs.yml
Labels: none

feat(webpack): execute custom capabilities - repair wip
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

remove support for Node.js v20.x (#2031)
  .config/tsconfig.workspace.json
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/browserify/package.json
  packages/core/package.json
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/preinstall-always-fail/package.json
  packages/react-native-lockdown/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
  tsconfig.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(renovate): add zizmor group and config
  .github/renovate.json5
Labels: none

chore(renovate): add zizmor group and config (#2045)
  .github/renovate.json5
Labels: none

feat: Add opt-in flag to overwrite policy.json with overrides
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

Address PR comments
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore(ci): use installed commitlint to lint PR commits
  .github/workflows/commitlint.yml
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/react-native-lockdown/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore: add eslint rule to ban @internal in js sources
  eslint.config.mjs
Labels: none

chore: lint; remove @internal from .js sources
  packages/aa/src/index.js
  packages/laverna/src/index.js
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/exec-compartment-class.js
  packages/node/src/format.js
  packages/node/src/fs.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/util.js
  packages/node/src/worker-pool.js
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/laverna, pkg:@lavamoat/node

feat(node): add --compact flag for policy override compaction
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

fix(deps): upgrade Endo
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(node): refactors
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-gen/policy-gen-parsers.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/test/tsconfig.json
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

feat(types)!: expand LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core)!: support expanded LavaMoatPolicy.include
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

fix(deps): upgrade @endo/compartment-mapper to v2.3.0
  package-lock.json
  package.json
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

chore: add installed-check to lint scripts
  package-lock.json
  package.json
Labels: none

chore(ci): lint stuff in parallel
  .github/workflows/nodejs.yml
Labels: none

fix(lavamoat-node): fix usage for yargs@18.x
  packages/lavamoat-node/src/cli.js
  packages/lavamoat-node/src/run-command.js
Labels: pkg:lavamoat-node

chore(ci): use installed commitlint to lint PR commits
  .github/workflows/commitlint.yml
Labels: none

chore: add eslint rule to ban @internal in js sources
  eslint.config.mjs
Labels: none

chore: lint; remove @internal from .js sources
  packages/aa/src/index.js
  packages/laverna/src/index.js
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/exec-compartment-class.js
  packages/node/src/format.js
  packages/node/src/fs.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/util.js
  packages/node/src/worker-pool.js
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/laverna, pkg:@lavamoat/node

fix(lavapack)!: minimum ES version now ES2023
  packages/lavapack/src/builder-runtime.js
Labels: pkg:@lavamoat/lavapack

chore(ci): lint stuff in parallel
  .github/workflows/nodejs.yml
Labels: none

chore: add installed-check to lint scripts
  package-lock.json
  package.json
Labels: none

fix(react-native-lockdown)!: update engines
  packages/react-native-lockdown/package.json
Labels: none

feat(webpack): capture importScripts reference for use in runtime despite scuttling.
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat: Add opt-in flag to overwrite policy.json with overrides (#2061)
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

wip
  eslint.config.mjs
  packages/harden/package.json
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/adapters/.runner.npm.cjs
  packages/harden/src/runner/adapters/.runner.yarn4.js
  packages/harden/src/runner/buildRunners.js
  packages/harden/src/runner/runScriptWrapper.cjs
  packages/harden/src/template/lavamoat/.env.ban.json
  packages/harden/src/template/lavamoat/.runner.cjs
  packages/harden/src/template/lavamoat/.runner.npm.cjs
  packages/harden/src/template/lavamoat/.runner.yarn4.js
  packages/harden/src/template/lavamoat/scripts.loose.json
  packages/harden/src/template/lavamoat/scripts.strict.json
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/test/projects/runner-npm/.npmrc
  packages/harden/test/projects/runner-pnpm/pnpm-workspace.yaml
  packages/harden/test/runner.spec.js
Labels: none

fix runner tests
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/adapters/.runner.npm.cjs
  packages/harden/src/template/lavamoat/.runner.npm.cjs
  packages/harden/src/template/lavamoat/.runner.yarn4.js
  packages/harden/src/template/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-npm/.npmrc
  packages/harden/test/projects/runner-pnpm/package.json
  packages/harden/test/projects/runner-pnpm/pnpm-workspace.yaml
  packages/harden/test/runner.spec.js
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
