Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  package-lock.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

feat(types): add "include" prop to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): export MODULE_REFS
  packages/core/src/index.js
Labels: pkg:lavamoat-core

chore: lint
  packages/node/src/policy-util.js
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

chore(vscode): exclude packages/*/types directories from quick open/search (generated declarations)
  .vscode/settings.json
Labels: none

fix(node): update code to use latest version of https://github.com/endojs/endo/pull/2988
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): re-export FileUrlString from endo
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

feat(core): export MODULE_REFS
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

chore(node): remove ban-types rule from eslint config
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

chore(node): lint/reformat everything
  package-lock.json
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/compartment/power.js
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/exec/default-attenuator.js
  packages/node/src/format.js
  packages/node/src/log.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-util.js
  packages/node/src/preamble.js
  packages/node/src/resolve.js
  packages/node/test/e2e/cli-general.spec.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/integration/scenario-util.js
  packages/node/test/integration/scenario.spec.js
  packages/node/test/stubs.d.ts
  packages/node/test/test-util.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/resolve.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

feat(policy): create @lavamoat/policy
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.eslintrc.cjs
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/test.js
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: none

chore(policy): add a moatload of integration tests
  packages/policy/test/fixture/policy-1.json
  packages/policy/test/fixture/policy-10.json
  packages/policy/test/fixture/policy-11.json
  packages/policy/test/fixture/policy-12.json
  packages/policy/test/fixture/policy-13.json
  packages/policy/test/fixture/policy-14.json
  packages/policy/test/fixture/policy-15.json
  packages/policy/test/fixture/policy-16.json
  packages/policy/test/fixture/policy-17.json
  packages/policy/test/fixture/policy-18.json
  packages/policy/test/fixture/policy-19.json
  packages/policy/test/fixture/policy-2.json
  packages/policy/test/fixture/policy-20.json
  packages/policy/test/fixture/policy-21.json
  packages/policy/test/fixture/policy-22.json
  packages/policy/test/fixture/policy-3.json
  packages/policy/test/fixture/policy-4.json
  packages/policy/test/fixture/policy-5.json
  packages/policy/test/fixture/policy-6.json
  packages/policy/test/fixture/policy-7.json
  packages/policy/test/fixture/policy-8.json
  packages/policy/test/fixture/policy-9.json
  packages/policy/test/policy-schema.spec.ts
Labels: none

fix(policy): canonical names can have capital letters
  packages/policy/src/policy-schema.ts
Labels: none

chore: just fiddling to see what is trivial and what is not
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/4/index.ts
  packages/tofu/test/inspectEsmImports.spec.js
Labels: pkg:lavamoat-tofu, pkg:lavamoat-node

fix(lavamoat-node): fix missing cjs extension in the list of extensions to resolve - for better ecosystem support
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/test/projects/1/node-modules/b/README.md
  packages/lavamoat-node/test/projects/1/node-modules/b/index.cjs
  packages/lavamoat-node/test/projects/1/node-modules/b/package.json
Labels: pkg:lavamoat-node

fix: lavamoat node cli entry args
  packages/lavamoat-node/src/cli.js
Labels: pkg:lavamoat-node

fix: lavamoat node cli entry args (#1857)
  packages/lavamoat-node/src/cli.js
Labels: pkg:lavamoat-node

fix(lavamoat-node): return entry module exports namespace from programmatic use of lavamoat runLava function
  packages/lavamoat-node/src/index.js
Labels: pkg:lavamoat-node

test(lavamoat-node): test the -- argument passing
  packages/lavamoat-node/src/cli.js
  packages/lavamoat-node/src/run-command.js
  packages/lavamoat-node/src/yargsFlags.js
  packages/lavamoat-node/test/projects/5/index.js
  packages/lavamoat-node/test/waysToRun.spec.js
Labels: pkg:lavamoat-node

test(lavamoat-node): add a regression test for programmatic run return value
  packages/lavamoat-node/test/projects/2/index.js
  packages/lavamoat-node/test/waysToRun.spec.js
Labels: pkg:lavamoat-node

chore: move the comment to a better spot
  packages/lavamoat-node/src/cli.js
Labels: pkg:lavamoat-node

chore: further comments cleanup
  packages/lavamoat-node/src/cli.js
Labels: pkg:lavamoat-node

chore: document usage of -- in the readme
  packages/lavamoat-node/README.md
Labels: pkg:lavamoat-node

chore: open up features and fixes reviews to a potentially wider group
  .github/CODEOWNERS
Labels: none

fix(lavamoat-node): cli entry args (#1857) (#1859)
  packages/lavamoat-node/README.md
  packages/lavamoat-node/src/cli.js
  packages/lavamoat-node/src/run-command.js
  packages/lavamoat-node/src/yargsFlags.js
  packages/lavamoat-node/test/projects/5/index.js
  packages/lavamoat-node/test/waysToRun.spec.js
Labels: pkg:lavamoat-node

chore: remove unintended typescript support bit
  packages/lavamoat-node/src/parseForPolicy.js
Labels: pkg:lavamoat-node

chore: cleanaup
  packages/lavamoat-node/src/parseForPolicy.js
Labels: pkg:lavamoat-node

fix(lavamoat-node): fix missing cjs extension in the list of extensions to resolve (#1856)
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/test/projects/1/node-modules/b/README.md
  packages/lavamoat-node/test/projects/1/node-modules/b/index.cjs
  packages/lavamoat-node/test/projects/1/node-modules/b/package.json
Labels: pkg:lavamoat-node

fix: typescript got confused into creating a cyclic reference in types for scuttling in core
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/webpack/examples/webpack.config.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

fix: typescript got confused into creating a cyclic reference in types for scuttling in core
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/webpack/examples/webpack.config.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

fix(policy): canonical names can have capital letters
  packages/policy/src/policy-schema.ts
Labels: none

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  package-lock.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

feat(policy): create @lavamoat/policy
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.eslintrc.cjs
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/test.js
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
