Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(node): rename option root => project-root
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): update snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): create a disposable tempdir wrapper for E2E tests
  packages/node/test/e2e/cli-util.js
Labels: pkg:@lavamoat/node

chore(node): prefix human-readable paths with `./` where appropriate
  packages/node/src/util.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): refactor resolveEntrypoint
  packages/node/src/cli.js
  packages/node/src/internal.ts
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): reorganize E2E fixtures a little
  packages/node/test/e2e/fixture/basic/index.js
  packages/node/test/e2e/fixture/basic/package.json
  packages/node/test/e2e/fixture/bin/.npmrc
  packages/node/test/e2e/fixture/bin/README.md
  packages/node/test/e2e/fixture/bin/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/bin
  packages/node/test/e2e/fixture/bin/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/package.json
  packages/node/test/e2e/fixture/bin/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/bin/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin/package.json
  packages/node/test/e2e/fixture/deptree/index.js
  packages/node/test/e2e/fixture/deptree/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/index.js
  packages/node/test/e2e/fixture/dev/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/package.json
  packages/node/test/e2e/fixture/untrusted/README.md
  packages/node/test/e2e/fixture/untrusted/app.js
  packages/node/test/e2e/fixture/untrusted/package.json
Labels: pkg:@lavamoat/node

chore(node): update E2E tests for new helpers
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

chore(e2e-dogfood): create a working dummy project to test with
  package-lock.json
  packages/__e2e-dogfooding__/README.md
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/src/App.tsx
  packages/__e2e-dogfooding__/src/example.ts
  packages/__e2e-dogfooding__/src/index.tsx
  packages/__e2e-dogfooding__/src/styles.css
  packages/__e2e-dogfooding__/tsconfig.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(node): create a fixture helper for tests
  packages/node/test/test-util.js
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

test(e2e-dogfood): add lavamoat setup and initial minimal test for building with lavamoat/node
  package-lock.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/webpack/policy.json
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

docs(e2e-dogfooding): document running
  packages/__e2e-dogfooding__/README.md
Labels: none

chore(e2e-dogfood): fix annoying warning
  packages/__e2e-dogfooding__/src/App.tsx
Labels: none

test(e2e-dogfooding): added an easier version
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore(e2e): update policy
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
Labels: none

chore(dogfood): wip
  package-lock.json
  package.json
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/package.json
  patches/graceful-fs+4.2.11.patch
Labels: none

chore(renovate): ignore perf/trials
  .github/renovate.json5
Labels: none

prevent exploding on install
  packages/allow-scripts/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(renovate): ignore perf/trials (#1616)
  .github/renovate.json5
Labels: none

chore(ci): remove pr-review workflow
  .github/workflows/pr-review.yml
Labels: none

poc node scuttling
  packages/node/src/cli.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/test/types.ts
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
  packages/node/test/unit/scenario.spec.js
Labels: pkg:@lavamoat/node

types
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

types
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

types
  packages/core/src/scuttle.js
Labels: pkg:lavamoat-core

types
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
Labels: pkg:lavamoat-core

types
  packages/node/src/exec/default-attenuator.js
Labels: pkg:@lavamoat/node

lint
  packages/node/src/compartment/module-transforms.js
  packages/node/src/exec/default-attenuator.js
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

fix
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

types
  packages/core/src/scuttle.d.ts
Labels: pkg:lavamoat-core

poc scuttling for node-endo
  packages/core/src/scuttle.d.ts
  packages/node/src/cli.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
  packages/node/test/unit/scenario.spec.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

chore(ci): remove pr-review workflow (#1614)
  .github/workflows/pr-review.yml
Labels: none

chore: review fix and cleanup
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(webpack): enable syntax checks by default, check prior to concatenation.
  packages/webpack/src/buildtime/wrapper.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore: remove peer dependency on always-fail (#1623)
  packages/allow-scripts/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(renovate): re-ignore paths that should be ignored
  .github/renovate.json5
Labels: none

chore(renovate): re-ignore paths that should be ignored (#1631)
  .github/renovate.json5
Labels: none

chore(renovate): add packages/*test to ignored paths
  .github/renovate.json5
Labels: none

chore(renovate): add packages/*test to ignored paths (#1637)
  .github/renovate.json5
Labels: none

update globalThis ts type
  packages/core/src/scuttle.d.ts
Labels: pkg:lavamoat-core

make opts optional
  packages/core/src/scuttle.d.ts
Labels: pkg:lavamoat-core

change cli name
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node
