Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(node): add ESLint rule about LavaMoatModuleOptions
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

fix(node): root module not conflated with root compartment
  packages/node/src/cli.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/test/unit/policy/build-module-records.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix resolution of filepaths from module descriptors
  packages/node/src/cli.js
  packages/node/src/constants.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

fix(policy-differ): fix action main file path
  actions/lavamoat-policy-differ/action.yml
Labels: none

test(node): test canonical names in policy generation e2e
  .gitignore
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/deptree/app.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/deptree/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/deptree/package.json
Labels: pkg:@lavamoat/node

refactor(core/browserify): export global this aliases to one place (#1539)
  packages/browserify/src/index.js
  packages/browserify/test/globalRef.spec.js
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core

fix(node): generate policy with canonical names
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/index.js
  packages/node/test/unit/policy-gen.spec.js
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
  packages/node/test/unit/snapshots/policy-gen.spec.js.md
  packages/node/test/unit/snapshots/policy-gen.spec.js.snap
Labels: pkg:@lavamoat/node

test(webpack): correct testsuite for chunks and context modules
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/fixtures/main/dynamic-chunk.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/forcechunk.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/package.json
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

fix(webpack): wrap nmd and hmd wrappers equally
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

feat(webpack): change how inlining lockdown is configured - from array of specific strings to a regexp
  packages/webpack/README.md
  packages/webpack/src/buildtime/emitSes.js
Labels: pkg:@lavamoat/webpack

feat(webpack): avoid errors when code is instrumented for HMR despite HMR not being enabled
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

fix(webpack): overwrite global aliases even if endowed
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

feat(webpack): policy debugging capabilities and tighter tests
  packages/webpack/src/runtime/debug.js
Labels: pkg:@lavamoat/webpack

feat(webpack): unlockedChunksUnsafe option to refrain from protecting selected chunks
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

fix(webpack): emit ses files correctly
  packages/webpack/src/buildtime/emitSes.js
Labels: pkg:@lavamoat/webpack

fix(webpack): cache natives to avoid clash with scuttling
  packages/webpack/src/runtime/debug.js
Labels: pkg:@lavamoat/webpack

feat(webapck): unsafely implement webpack support for context modules
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

feat(webpack): protect webpack core logic from scuttling
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

test(node): test canonical names in policy generation e2e
  .gitignore
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/deptree/app.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/deptree/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/deptree/package.json
Labels: pkg:@lavamoat/node

fix(node): generate policy with canonical names
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/index.js
  packages/node/test/unit/policy-gen.spec.js
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
  packages/node/test/unit/snapshots/policy-gen.spec.js.md
  packages/node/test/unit/snapshots/policy-gen.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): update policy gen tests for canonical names
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/snapshots/cli.spec.js.md
  packages/node/test/e2e/snapshots/cli.spec.js.snap
  packages/node/test/unit/policy-gen.spec.js
  packages/node/test/unit/policy/generation.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/generation.spec.js.md
  packages/node/test/unit/policy/snapshots/generation.spec.js.snap
  packages/node/test/unit/scenario.spec.js
Labels: pkg:@lavamoat/node

chore(core): refactors and improvements for test harnesses
  packages/node/src/util.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/types.ts
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(node): consolidate getting of canonical name
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
Labels: pkg:@lavamoat/node

chore(node): disable wacky tseslint rule
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(webpack): BROKEN AND MESSY STATE - this might work for context modules
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/forcechunk.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/package.json
  packages/webpack/test/fixtures/main/package.json
Labels: pkg:@lavamoat/webpack

chore(node): fix merge issue
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
Labels: pkg:@lavamoat/node

chore(ci): add socket config
  socket.yml
Labels: none

fix(node): canonical names in policy generation (#1546)
  .gitignore
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/util.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/deptree/app.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/deptree/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/deptree/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/deptree/package.json
  packages/node/test/e2e/snapshots/cli.spec.js.md
  packages/node/test/e2e/snapshots/cli.spec.js.snap
  packages/node/test/types.ts
  packages/node/test/unit/policy/generation.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/generation.spec.js.md
  packages/node/test/unit/policy/snapshots/generation.spec.js.snap
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario.spec.js
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
  packages/node/test/unit/snapshots/policy-gen.spec.js.md
  packages/node/test/unit/snapshots/policy-gen.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node,perf): upgrade @endo/compartment-mapper
  package-lock.json
  package.json
  packages/node/package.json
  packages/perf/package.json
Labels: pkg:lavamoat-perf, pkg:@lavamoat/node

chore(laverna,node,webpack): upgrade memfs
  package-lock.json
  package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/laverna, pkg:@lavamoat/node

chore: better clean:types script
  package.json
Labels: none

chore(eslint,node): allow unused vars beginning with _, fix paths in @lavamoat/node
  .config/eslintrc.typed-workspace.js
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

chore(node): peer review updates
  .config/eslintrc.typed-workspace.js
Labels: none

chore: better clean:types script
  package.json
Labels: none

chore(eslint,node): allow unused vars beginning with _, fix paths in @lavamoat/node
  .config/eslintrc.typed-workspace.js
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

chore(laverna,node,webpack): upgrade memfs
  package-lock.json
  package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/laverna, pkg:@lavamoat/node

fix(node,perf): upgrade @endo/compartment-mapper
  package-lock.json
  package.json
  packages/node/package.json
  packages/perf/package.json
Labels: pkg:lavamoat-perf, pkg:@lavamoat/node

chore(node): peer review updates
  .config/eslintrc.typed-workspace.js
Labels: none

chore(node): add wallaby config
  .wallaby.cjs
  package-lock.json
  package.json
Labels: none

chore(ci): add socket config
  socket.yml
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
