Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

feat(allow-scripts): yarn berry support
  package-lock.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/setup.js
  packages/allow-scripts/src/yarn-berry-plugin.cjs
Labels: pkg:@lavamoat/allow-scripts

chore(node): fix memfs types in test
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:@lavamoat/node

chore: update lockfile
  package-lock.json
Labels: none

feat(webpack): null runtime
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): prevent webpack from eliminating reexports and failing policy enforcement
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

feat(webpack): more power to the runtime debugger
  packages/webpack/src/runtime/debug.js
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package.json
Labels: none

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

feat(vog): create @lavamoat/vog
  package.json
  packages/vog/.gitignore
  packages/vog/LICENSE
  packages/vog/README.md
  packages/vog/package.json
  packages/vog/src/index.ts
  packages/vog/src/log.ts
  packages/vog/src/progress.ts
  packages/vog/src/spinner.ts
  packages/vog/src/tsconfig.json
  packages/vog/src/util.ts
  packages/vog/test/log.test.ts
  packages/vog/test/tsconfig.json
  packages/vog/tsconfig.json
  tsconfig.json
Labels: none

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore: add knip
  .knip.jsonc
  package.json
Labels: none

feat(policy): create @lavamoat/policy
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none

chore(policy): prettify schema after writing
  packages/policy/scripts/create-policy-schema.ts
Labels: none

chore: build types first
  .github/actions/test/action.yml
  package.json
Labels: none

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): refactor some utils
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(policy): add test exception for unsupported Node.js versions
  packages/policy/package.json
  packages/policy/scripts/test.js
Labels: none

chore(policy): add eslint config
  packages/policy/.eslintrc.cjs
Labels: none

feat(node): add "validate" command; use @lavamoat/policy
  package-lock.json
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/policy-util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

chore: update lockfile
  package-lock.json
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(vog): create @lavamoat/vog
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/vog/.gitignore
  packages/vog/LICENSE
  packages/vog/README.md
  packages/vog/package.json
  packages/vog/src/index.ts
  packages/vog/src/log.ts
  packages/vog/src/progress.ts
  packages/vog/src/spinner.ts
  packages/vog/src/tsconfig.json
  packages/vog/src/util.ts
  packages/vog/test/log.test.ts
  packages/vog/test/tsconfig.json
  packages/vog/tsconfig.json
  tsconfig.json
Labels: none

feat(vog): create @lavamoat/vog
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/vog/.gitignore
  packages/vog/LICENSE
  packages/vog/README.md
  packages/vog/package.json
  packages/vog/src/index.ts
  packages/vog/src/log.ts
  packages/vog/src/progress.ts
  packages/vog/src/spinner.ts
  packages/vog/src/tsconfig.json
  packages/vog/src/util.ts
  packages/vog/test/log.test.ts
  packages/vog/test/tsconfig.json
  packages/vog/tsconfig.json
  tsconfig.json
Labels: none

fix(vog): fix exports
  packages/vog/package.json
Labels: none

fix(vog): fix exports (#1809)
  packages/vog/package.json
Labels: none

feat(allow-scripts): change the recommended use of allow-scripts to global install
  packages/allow-scripts/README.md
  packages/allow-scripts/src/setup.js
Labels: pkg:@lavamoat/allow-scripts

feat(webpack): null runtime
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): add explicit error messages when a compilation concludes with nothing to protect
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-null-runtime.spec.js
  packages/webpack/test/snapshots/e2e-null-runtime.spec.js.md
  packages/webpack/test/snapshots/e2e-null-runtime.spec.js.snap
Labels: pkg:@lavamoat/webpack

feat(webpack): null runtime
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): add explicit error messages when a compilation concludes with nothing to protect
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-null-runtime.spec.js
  packages/webpack/test/snapshots/e2e-null-runtime.spec.js.md
  packages/webpack/test/snapshots/e2e-null-runtime.spec.js.snap
Labels: pkg:@lavamoat/webpack

wip
  packages/core/src/scuttle.js
Labels: pkg:lavamoat-core

feat(webpack): runtime debugger bail out before unresponsive
  packages/webpack/src/runtime/debug.js
Labels: pkg:@lavamoat/webpack

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

feat(policy): create @lavamoat/policy
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none
