Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore(node): add coverage for getCanonicalName
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

fix(node): type syntax
  packages/node/src/compartment/compartment-descriptor-transform.js
Labels: pkg:@lavamoat/node

chore(node): avoid mutating CompartmentDescriptor.label
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/build-module-records.spec.js
  packages/node/test/unit/policy/load-compartment-map.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add test case for policy enforcement
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/policy-enforcement/README.md
  packages/node/test/unit/fixture/policy-enforcement/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/app.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/package.json
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
Labels: pkg:@lavamoat/node

chore(node): housekeeping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): add failing test for optional dependency handling
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/optional/README.md
  packages/node/test/unit/fixture/optional/node_modules/app/index.js
  packages/node/test/unit/fixture/optional/node_modules/app/package.json
  packages/node/test/unit/fixture/optional/node_modules/dummy/index.js
  packages/node/test/unit/fixture/optional/node_modules/dummy/package.json
  packages/node/test/unit/fixture/optional/node_modules/muddy/index.js
  packages/node/test/unit/fixture/optional/node_modules/muddy/package.json
Labels: pkg:@lavamoat/node

chore(node): isolate SES compat warning aggregator
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): fixes for #1547
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): add coverage test
  package-lock.json
  package.json
  packages/node/.c8rc
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore(renovate): use helpers:disableTypesNodeMajor
  .github/renovate.json5
Labels: none

chore(node): update lockfile
  package-lock.json
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

docs(react-native-lockdown): spelling
  packages/react-native-lockdown/README.md
Labels: none

docs(react-native-lockdown): vetted shims
  packages/react-native-lockdown/README.md
Labels: none

docs(react-native-lockdown): react-native-v8
  packages/react-native-lockdown/README.md
Labels: none

docs(react-native-lockdown): update troubleshooting important alert
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

docs(react-native-lockdown): add troubleshooting readme link (babel)
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

docs(react-native-lockdown): add troubleshooting readme link (metro)
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

docs(react-native-lockdown): update troubleshooting ses transformed link
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

docs(react-native-lockdown): reorder md links
  packages/react-native-lockdown/README.md
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

chore(react-native-lockdown): remove stale devDep
  package-lock.json
  packages/react-native-lockdown/package.json
Labels: none

feat(react-native-lockdown): flatten polyfills for user
  packages/react-native-lockdown/src/index.js
Labels: none

refactor(webpack): progress on refactoring, working but some cleanup needed. dismantling identifierLookup remains todo
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

docs(react-native-lockdown): update readme hermes example
  packages/react-native-lockdown/README.md
Labels: none

fix(react-native-lockdown): max callstack exceeded
  packages/react-native-lockdown/src/index.js
Labels: none

test(react-native-lockdown): remove comment
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
Labels: none

chore(react-native-lockdown): add license md
  packages/react-native-lockdown/LICENSE.md
Labels: none

docs(react-native-lockdown): add license to readme
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
