Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

define scuttling opt in right place
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

proper type import
  packages/node/src/exec/default-attenuator.js
Labels: pkg:@lavamoat/node

cache native isArray
  packages/node/src/exec/default-attenuator.js
Labels: pkg:@lavamoat/node

export exceptions to constants
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
Labels: pkg:@lavamoat/node

add simplify
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

feat(webpack): unlockedChunksUnsafe option to refrain from protecting selected chunks (#1375)
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

chore(node): rebuild linux native fixtures
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
Labels: pkg:@lavamoat/node

remove hidden true
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

update type name
  packages/node/src/types.ts
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(node): rebuild linux native fixtures
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
Labels: pkg:@lavamoat/node

chore(node): add linux-arm64 prebuilt binary
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/.gitignore
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/json-fixture/static-native.json
Labels: pkg:@lavamoat/node

chore(node): add linux-arm64 prebuilt binary
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/.gitignore
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/json-fixture/static-native.json
Labels: pkg:@lavamoat/node

chore(ci): make ava better [ci skip]
  package.json
Labels: none

feat(core): relax scuttling by skipping intrinsics
  packages/core/src/scuttle.js
  packages/core/test/scenarios/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

chore(node): fix native module tests
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/native/README.md
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/hello.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/LICENSE
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/README.md
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/bin.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/build-test.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/index.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/node-gyp-build.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/optional.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/package.json
  packages/node/test/unit/json-fixture/native.json
  packages/node/test/unit/json-fixture/static-native.json
Labels: pkg:@lavamoat/node

chore(node): fix native module tests
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/native/README.md
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/hello.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/LICENSE
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/README.md
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/bin.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/build-test.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/index.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/node-gyp-build.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/optional.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/package.json
  packages/node/test/unit/json-fixture/native.json
  packages/node/test/unit/json-fixture/static-native.json
Labels: pkg:@lavamoat/node

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(deps): upgrade ava to v6.2.0
  package-lock.json
  package.json
Labels: none

chore(aa): cleanup symlinks
  packages/aa/test/index.spec.js
  packages/aa/test/symlink-perf.spec.js
  packages/aa/test/utils.js
Labels: pkg:@lavamoat/aa

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

chore(webpack): fix dynamic import tests for ava 6
  packages/webpack/test/e2e-dynamic-import.spec.js
Labels: pkg:@lavamoat/webpack

chore(ci): extract win & macos tests into new workflows
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(ci): add missing (!) workspaces to CI
  .github/workflows/nodejs.yml
Labels: none

chore(webpack): add comment to test weirdness
  packages/webpack/test/e2e-dynamic-import.spec.js
Labels: pkg:@lavamoat/webpack

chore(ci): use composite actions
  .github/actions/prepare/action.yml
  .github/actions/test/action.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(ci): attempt to allow empty node-version in prepare action
  .github/actions/prepare/action.yml
Labels: none

chore(browserify): cleanup after watchify test
  packages/browserify/test/policy.spec.js
Labels: pkg:lavamoat-browserify

chore(ci): add v24 to matrix
  .github/workflows/nodejs.yml
Labels: none

feat(node): add custom errors
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/index.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): rename option root => project-root
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(ci): do not use gleb installer
  .github/actions/prepare/action.yml
Labels: none

chore(node): consume custom errors
  packages/node/src/compartment/parse-native.js
  packages/node/src/error.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

chore(node): update snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(core): test fix for Node.js v24
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

chore(node): refactor resolveEntrypoint
  packages/node/src/cli.js
  packages/node/src/internal.ts
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): create a disposable tempdir wrapper for E2E tests
  packages/node/test/e2e/cli-util.js
Labels: pkg:@lavamoat/node

chore(node): create a fixture helper for tests
  packages/node/test/test-util.js
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(node): prefix human-readable paths with `./` where appropriate
  packages/node/src/util.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix path resolution logging output
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
