Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(node): remove unused dependencies
  package-lock.json
  packages/node/package.json
  packages/node/src/policy-gen/shims.d.ts
Labels: pkg:@lavamoat/node

fix(types): fix DebugInfo type
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore(node): fix policy gen unit test
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:@lavamoat/node

fix(node): updates for endojs/endo#2988 and endojs/endo#2915
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/index.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): move SourceType to external types
  packages/node/src/internal.ts
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

fix(node): round 1 of review edits
  package-lock.json
  packages/node/package.json
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/error.js
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

test(node): test args re-assembly in cli precisely
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/basic/echo.js
Labels: pkg:@lavamoat/node

chore: fix scuttling type leftover
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore: peer review edits part 2
  packages/node/src/cli.js
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

refactor(node): reuse functionWrapper from core in node
  packages/core/src/endowmentsToolkit.js
  packages/core/src/internal.ts
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/exec-compartment-class.js
  packages/node/src/exec/function-wrapper.js
  packages/node/src/exec/run.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

test(node): test evasive transforms and trim what runs
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/power.js
  packages/node/test/unit/compartment/module-transforms.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix handling of untrusted roots
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/test/unit/policy/load-for-policy.spec.js
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add WritePolicyError
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): pluralize some messages
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

fix(node): fix handling of CLI args with -- in em
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

chore(node): better guessing at policy override filename
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): add pluralize
  packages/node/src/util.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): add e2e tests for --dev
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/deptree/lavamoat/node/dev-policy.json
  packages/node/test/e2e/fixture/deptree/node_modules/dev-pkg/index.js
  packages/node/test/e2e/fixture/deptree/node_modules/dev-pkg/package.json
  packages/node/test/e2e/fixture/deptree/package.json
  packages/node/test/e2e/fixture/deptree/tool.js
Labels: pkg:@lavamoat/node

chore(node): pluralize unknown resource reporting
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

chore(node): consolidate a couple types
  packages/node/src/internal.ts
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): add e2e test for when an expected package is missing at runtime
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/missing-from-disk/index.js
  packages/node/test/e2e/fixture/missing-from-disk/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/missing-from-disk/package.json
Labels: pkg:@lavamoat/node

chore(node): remove old TODO
  packages/node/test/unit/exec/execute.spec.js
Labels: pkg:@lavamoat/node

chore(node): add test to ensure exit modules aren't actually loaded upon policy generation
  packages/node/test/unit/fixture/exit-module-no-import/index.js
  packages/node/test/unit/fixture/exit-module-no-import/package.json
  packages/node/test/unit/json-fixture/exit-module-no-import.json
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add test for when a package exists and is mentioned everywhere except package.json
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/missing-from-descriptors/index.js
  packages/node/test/e2e/fixture/missing-from-descriptors/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/missing-from-descriptors/node_modules/undeclared-dep/index.js
  packages/node/test/e2e/fixture/missing-from-descriptors/node_modules/undeclared-dep/package.json
  packages/node/test/e2e/fixture/missing-from-descriptors/package.json
Labels: pkg:@lavamoat/node

fix(node): fix $root$ in policy.json
  packages/node/src/policy-converter.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/circular-root-dep/helper.js
  packages/node/test/e2e/fixture/circular-root-dep/index.js
  packages/node/test/e2e/fixture/circular-root-dep/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/circular-root-dep/node_modules/child-pkg/index.js
  packages/node/test/e2e/fixture/circular-root-dep/node_modules/child-pkg/package.json
  packages/node/test/e2e/fixture/circular-root-dep/package.json
Labels: pkg:@lavamoat/node

fix(node): loosen up evadeImportString
  packages/node/src/compartment/module-transforms.js
Labels: pkg:@lavamoat/node

chore(node): fix some e2e tests
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/deptree/lavamoat/node/dev-policy.json
  packages/node/test/e2e/fixture/deptree/node_modules/dev-pkg/index.js
  packages/node/test/test-util.js
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(node): lint/reformat everything
  package-lock.json
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/compartment/power.js
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/exec/default-attenuator.js
  packages/node/src/format.js
  packages/node/src/log.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-util.js
  packages/node/src/preamble.js
  packages/node/src/resolve.js
  packages/node/test/e2e/cli-general.spec.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/integration/scenario-util.js
  packages/node/test/integration/scenario.spec.js
  packages/node/test/stubs.d.ts
  packages/node/test/test-util.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/resolve.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

fix!: drop Node.js v18 support
  .github/workflows/nodejs.yml
  AGENTS.md
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/browserify/package.json
  packages/core/package.json
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/README.md
  packages/laverna/package.json
  packages/node/README.md
  packages/node/package.json
  packages/preinstall-always-fail/package.json
  packages/react-native-lockdown/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(aa): upgrade resolve to v1.22.11 (#1885)
  package-lock.json
  packages/aa/package.json
Labels: pkg:@lavamoat/aa

test(lavamoat-node): add a regression test for programmatic run return value (#1860)
  packages/lavamoat-node/test/projects/2/index.js
  packages/lavamoat-node/test/waysToRun.spec.js
Labels: pkg:lavamoat-node

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  package-lock.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

feat(policy): create @lavamoat/policy
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.eslintrc.cjs
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/test.js
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: none
