Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

Update .eslintrc.js
  .eslintrc.js
Labels: none

Potential fix for code scanning alert no. 3: Incomplete string escaping or encoding
  packages/allow-scripts/test/utils.js
Labels: pkg:@lavamoat/allow-scripts

Potential fix for code scanning alert no. 1: Shell command built from environment values
  packages/allow-scripts/test/prepare.js
Labels: pkg:@lavamoat/allow-scripts

Potential fix for code scanning alert no. 1: Shell command built from environment values (#21)
  packages/allow-scripts/test/prepare.js
Labels: pkg:@lavamoat/allow-scripts

Add ESLint workflow for code quality checks
  .github/workflows/eslint.yml
Labels: none

Update eslint.yml
  .github/workflows/eslint.yml
Labels: none

Update eslint.yml
  .github/workflows/eslint.yml
Labels: none

Update eslint.yml
  .github/workflows/eslint.yml
Labels: none

Potential fix for code scanning alert no. 4: Prototype-polluting assignment (#20)
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

Add SonarCloud analysis workflow (#18)
  .github/workflows/sonarcloud.yml
Labels: none

feat(lavamoat-node): expose run() from runLava
  packages/lavamoat-node/src/index.js
Labels: pkg:lavamoat-node

feat(lavamoat-node): expose top level export as return value of runLava (#1872)
  packages/lavamoat-node/src/index.js
Labels: pkg:lavamoat-node

feat(types): add "include" prop to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): export MODULE_REFS
  packages/core/src/index.js
Labels: pkg:lavamoat-core

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

chore: lint
  packages/node/src/policy-util.js
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

chore(vscode): exclude packages/*/types directories from quick open/search (generated declarations)
  .vscode/settings.json
Labels: none

fix(node): update code to use latest version of https://github.com/endojs/endo/pull/2988
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): re-export FileUrlString from endo
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

chore(node): remove ban-types rule from eslint config
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

feat(core): export MODULE_REFS
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

chore(node): remove unused dependencies
  package-lock.json
  packages/node/package.json
  packages/node/src/policy-gen/shims.d.ts
Labels: pkg:@lavamoat/node

chore(node): fix policy gen unit test
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:@lavamoat/node

fix(types): fix DebugInfo type
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore(node): move SourceType to external types
  packages/node/src/internal.ts
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

fix(types): remove dependency on type-fest; update LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore: peer review edits part 2
  packages/node/src/cli.js
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

test(node): test args re-assembly in cli precisely
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/basic/echo.js
Labels: pkg:@lavamoat/node

fix(node): round 1 of review edits
  package-lock.json
  packages/node/package.json
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/error.js
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

fix(node): updates for endojs/endo#2988 and endojs/endo#2915
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/index.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

refactor(node): reuse functionWrapper from core in node
  packages/core/src/endowmentsToolkit.js
  packages/core/src/internal.ts
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/exec-compartment-class.js
  packages/node/src/exec/function-wrapper.js
  packages/node/src/exec/run.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

chore: fix scuttling type leftover
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

fix(node): fix handling of untrusted roots
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/test/unit/policy/load-for-policy.spec.js
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
Labels: pkg:@lavamoat/node

test(node): test evasive transforms and trim what runs
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/power.js
  packages/node/test/unit/compartment/module-transforms.spec.js
Labels: pkg:@lavamoat/node

chore(node): add pluralize
  packages/node/src/util.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): consolidate a couple types
  packages/node/src/internal.ts
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

fix(node): fix handling of CLI args with -- in em
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

chore(node): add WritePolicyError
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): better guessing at policy override filename
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): pluralize some messages
  packages/node/src/report.js
Labels: pkg:@lavamoat/node
