Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore(node): add coverage for getCanonicalName
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix path resolution logging output
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

fix(node): execution: rename compartment descriptor labels to canonical names
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): isolate SES compat warning aggregator
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

fix(node): type syntax
  packages/node/src/compartment/compartment-descriptor-transform.js
Labels: pkg:@lavamoat/node

chore(node): housekeeping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): avoid mutating CompartmentDescriptor.label
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/build-module-records.spec.js
  packages/node/test/unit/policy/load-compartment-map.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add test case for policy enforcement
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/policy-enforcement/README.md
  packages/node/test/unit/fixture/policy-enforcement/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/app.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/package.json
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
Labels: pkg:@lavamoat/node

chore(node): add failing test for optional dependency handling
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/optional/README.md
  packages/node/test/unit/fixture/optional/node_modules/app/index.js
  packages/node/test/unit/fixture/optional/node_modules/app/package.json
  packages/node/test/unit/fixture/optional/node_modules/dummy/index.js
  packages/node/test/unit/fixture/optional/node_modules/dummy/package.json
  packages/node/test/unit/fixture/optional/node_modules/muddy/index.js
  packages/node/test/unit/fixture/optional/node_modules/muddy/package.json
Labels: pkg:@lavamoat/node

chore(node): add coverage test
  package-lock.json
  package.json
  packages/node/.c8rc
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(node): fixes for #1547
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

fix(node): custom logger in policy gen
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

feat(core): add "hints" to policy schema
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/test/types/policy.spec.ts
Labels: pkg:lavamoat-core

chore(node): custom log in unit test macros
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

wip [ci skip]
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/test/unit/fixture/hints-ext/README.md
  packages/node/test/unit/fixture/hints-ext/index.js
  packages/node/test/unit/fixture/hints-ext/node_modules/blinken/index.js
  packages/node/test/unit/fixture/hints-ext/node_modules/blinken/package.json
  packages/node/test/unit/fixture/hints-ext/node_modules/fred/index.js
  packages/node/test/unit/fixture/hints-ext/node_modules/fred/package.json
  packages/node/test/unit/fixture/hints-ext/node_modules/fugs/index.js
  packages/node/test/unit/fixture/hints-ext/node_modules/fugs/package.json
  packages/node/test/unit/fixture/hints-ext/node_modules/tool/index.js
  packages/node/test/unit/fixture/hints-ext/node_modules/tool/package.json
  packages/node/test/unit/fixture/hints-ext/node_modules/winken/index.js
  packages/node/test/unit/fixture/hints-ext/node_modules/winken/package.json
  packages/node/test/unit/fixture/hints-ext/package.json
  packages/node/test/unit/fixture/hints-ext/tool.config.js
  packages/node/test/unit/json-fixture/hints-ext.json
  packages/node/test/unit/policy-schema.spec.js
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:@lavamoat/node

feat(node): implement hints for packages
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-util.js
  packages/node/test/unit/fixture/hints-builtin/README.md
  packages/node/test/unit/fixture/hints-builtin/lavamoat/node/policy-override.json
  packages/node/test/unit/fixture/hints-builtin/lavamoat/node/policy.json
  packages/node/test/unit/fixture/hints-builtin/node_modules/blinken/index.js
  packages/node/test/unit/fixture/hints-builtin/node_modules/blinken/package.json
  packages/node/test/unit/fixture/hints-builtin/node_modules/fred/index.js
  packages/node/test/unit/fixture/hints-builtin/node_modules/fred/package.json
  packages/node/test/unit/fixture/hints-builtin/node_modules/fugs/index.js
  packages/node/test/unit/fixture/hints-builtin/node_modules/fugs/package.json
  packages/node/test/unit/fixture/hints-builtin/node_modules/tool/index.js
  packages/node/test/unit/fixture/hints-builtin/node_modules/tool/package.json
  packages/node/test/unit/fixture/hints-builtin/node_modules/winken/index.js
  packages/node/test/unit/fixture/hints-builtin/node_modules/winken/package.json
  packages/node/test/unit/fixture/hints-builtin/package.json
  packages/node/test/unit/fixture/hints/README.md
  packages/node/test/unit/fixture/hints/node_modules/blinken/index.js
  packages/node/test/unit/fixture/hints/node_modules/blinken/package.json
  packages/node/test/unit/fixture/hints/node_modules/fred/index.js
  packages/node/test/unit/fixture/hints/node_modules/fred/package.json
  packages/node/test/unit/fixture/hints/node_modules/fugs/index.js
  packages/node/test/unit/fixture/hints/node_modules/fugs/package.json
  packages/node/test/unit/fixture/hints/node_modules/tool/index.js
  packages/node/test/unit/fixture/hints/node_modules/tool/package.json
  packages/node/test/unit/fixture/hints/node_modules/winken/index.js
  packages/node/test/unit/fixture/hints/node_modules/winken/package.json
  packages/node/test/unit/fixture/hints/package.json
  packages/node/test/unit/json-fixture/hints-builtin.json
  packages/node/test/unit/json-fixture/hints.json
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:@lavamoat/node

chore(node): update JSON test fixtures
  packages/node/test/unit/fixture/README.md
  packages/node/test/unit/fixture/dynamic-builtin/package.json
  packages/node/test/unit/fixture/dynamic/package.json
  packages/node/test/unit/fixture/hashbang/package.json
  packages/node/test/unit/fixture/native/.npmrc
  packages/node/test/unit/fixture/native/package.json
  packages/node/test/unit/fixture/no-deps/package.json
  packages/node/test/unit/fixture/override-expansion/package.json
  packages/node/test/unit/fixture/override-merging/package.json
  packages/node/test/unit/fixture/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/fixture/relative-package/package.json
  packages/node/test/unit/fixture/static-native/package.json
  packages/node/test/unit/fixture/unused-dependency/package.json
  packages/node/test/unit/json-fixture/dynamic-builtin.json
  packages/node/test/unit/json-fixture/dynamic.json
  packages/node/test/unit/json-fixture/hashbang.json
  packages/node/test/unit/json-fixture/native.json
  packages/node/test/unit/json-fixture/no-deps.json
  packages/node/test/unit/json-fixture/override-expansion.json
  packages/node/test/unit/json-fixture/override-merging.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
  packages/node/test/unit/json-fixture/relative-package.json
  packages/node/test/unit/json-fixture/static-native.json
  packages/node/test/unit/json-fixture/unused-dependency.json
Labels: pkg:@lavamoat/node

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

docs(webpack): documentation updates and diagram generator
  packages/webpack/DEVELOPMENT.md
  packages/webpack/diagram.md
  packages/webpack/src/buildtime/diagnostics.js
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): update Node.js engines
  package-lock.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack

chore: rename all LICENSE.md to LICENSE
  LICENSE
  packages/aa/LICENSE
  packages/allow-scripts/LICENSE
  packages/browserify/LICENSE
  packages/core/LICENSE
  packages/lavamoat-node/LICENSE
  packages/lavapack/LICENSE
  packages/node/LICENSE
  packages/perf/LICENSE
  packages/preinstall-always-fail/LICENSE
  packages/survey/LICENSE
  packages/tofu/LICENSE
  packages/webpack/LICENSE
  packages/yarn-plugin-allow-scripts/LICENSE
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/node, pkg:lavamoat-node

feat(react-native-lockdown): @lavamoat/react-native-lockdown beta
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/src/repair.js
Labels: none

chore(react-native-lockdown): update package-lock.json
  package-lock.json
Labels: none

docs(react-native-lockdown): document repair polyfill
  packages/react-native-lockdown/src/repair.js
Labels: none

chore(react-native-lockdown): add license file
  packages/react-native-lockdown/LICENSE
Labels: none

docs(react-native-lockdown): create readme markdown
  packages/react-native-lockdown/README.md
Labels: none

test(react-native-lockdown): lockdownSerializer function
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/test/unit/snapshots/lockdownSerializer.spec.js.md
Labels: none

test(react-native-lockdown): assertPolyfills function
  packages/react-native-lockdown/test/unit/assertPolyfills.spec.js
  packages/react-native-lockdown/test/unit/snapshots/lockdownSerializer.spec.js.snap
Labels: none

docs(react-native-lockdown): create troubleshooting markdown
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

test(react-native-lockdown): lockdownSerializer function
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/test/unit/snapshots/lockdownSerializer.spec.js.md
Labels: none

test(react-native-lockdown): assertPolyfills function
  packages/react-native-lockdown/test/unit/assertPolyfills.spec.js
  packages/react-native-lockdown/test/unit/snapshots/lockdownSerializer.spec.js.snap
Labels: none

feat(react-native-lockdown): @lavamoat/react-native-lockdown beta
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/src/repair.js
Labels: none

chore(react-native-lockdown): add license file
  packages/react-native-lockdown/LICENSE
Labels: none

docs(react-native-lockdown): document repair polyfill
  packages/react-native-lockdown/src/repair.js
Labels: none

docs(react-native-lockdown): create troubleshooting markdown
  packages/react-native-lockdown/TROUBLESHOOTING.md
Labels: none

chore(react-native-lockdown): update package-lock.json
  package-lock.json
Labels: none

docs(react-native-lockdown): create readme markdown
  packages/react-native-lockdown/README.md
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
