Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(ci): update release-please config with package names
  release-please-config.json
Labels: none

fix(deps): add @babel/types override
  package-lock.json
  package.json
Labels: none

chore(react-native-lockdown): fix publish config (#1723)
  packages/react-native-lockdown/package.json
Labels: none

chore(ci): update release-please config with package names (#1727)
  release-please-config.json
Labels: none

fix(react-native-lockdown): add vendor directory when creating tarball
  packages/react-native-lockdown/package.json
Labels: none

chore: update release-please configuration
  release-please-config.json
Labels: none

fix(react-native-lockdown): add vendor directory when creating tarball (#1728)
  packages/react-native-lockdown/package.json
Labels: none

chore: update release-please configuration (#1732)
  release-please-config.json
Labels: none

chore(aa): disable symlink perf test on all darwin
  packages/aa/test/symlink-perf.spec.js
Labels: pkg:@lavamoat/aa

bridgecodeql.yml
  .github/workflows/codeql.yml
Labels: none

docs: add troubleshooting example for SES lockdown specific issues
  docs/examples/troubleshooting/_packages/override/index.js
  docs/examples/troubleshooting/_packages/polyfill/index.js
  docs/examples/troubleshooting/app.js
  docs/examples/troubleshooting/onlySES.js
  docs/examples/troubleshooting/package-lock.json
  docs/examples/troubleshooting/package.json
Labels: none

chore(react-native-lockdown): add ses@1.14.0
  package-lock.json
  packages/react-native-lockdown/package.json
Labels: none

feat(react-native-lockdown): use ses@1.14.0
  packages/react-native-lockdown/src/index.js
Labels: none

test(react-native-lockdown): use official ses paths
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
Labels: none

chore(react-native-lockdown): remove vendored ses versions
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/vendor/ses-hermes.cjs
  packages/react-native-lockdown/vendor/ses.cjs
Labels: none

chore(ci): cleanup release-please configuration
  release-please-config.json
Labels: none

fix(webpack): fix how ambient asset files requests are filtered
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

feat(webpack): defend webpack runtime from scuttling
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

fix(webpack): make the defensive preamble more compatible with various environments
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore: add missing description
  packages/webpack/src/buildtime/modulesData.js
Labels: pkg:@lavamoat/webpack

chore(ci): cleanup release-please configuration (#1738)
  release-please-config.json
Labels: none

docs: leave hints as to what has been using the globals
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): properly expose types for the plugin
  packages/webpack/package.json
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

feat: add trustedTypes to the list of globals we cache for runtime
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): defend webpack runtime from scuttling (#1740)
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore: review fixes
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

feat(webpack): properly expose types for the plugin (#1741)
  packages/webpack/package.json
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

feat(react-native-lockdown): ses@1.14.0 (#1737)
  package-lock.json
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/vendor/ses-hermes.cjs
  packages/react-native-lockdown/vendor/ses.cjs
Labels: none

docs: add troubleshooting example for SES lockdown specific issues (#1736)
  docs/examples/troubleshooting/_packages/override/index.js
  docs/examples/troubleshooting/_packages/polyfill/index.js
  docs/examples/troubleshooting/app.js
  docs/examples/troubleshooting/onlySES.js
  docs/examples/troubleshooting/package-lock.json
  docs/examples/troubleshooting/package.json
Labels: none

test(webpack): cover allowed data url assets
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/node_modules/resource-hack/index.js
  packages/webpack/test/fixtures/main/node_modules/resource-hack/tiny.gif
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

fix(webpack): fix how ambient asset files requests are filtered (#1739)
  packages/webpack/src/buildtime/modulesData.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/node_modules/resource-hack/index.js
  packages/webpack/test/fixtures/main/node_modules/resource-hack/tiny.gif
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

docs: add ROADMAP.md
  ROADMAP.md
Labels: none

fix(aa): avoid colliding symlinks between tests - cleanup was async and overlapping
  packages/aa/test/symlink-perf.spec.js
  packages/aa/test/utils.js
Labels: pkg:@lavamoat/aa

feat(core): decouple writable store from root compartment global
  packages/core/package.json
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(core): type prepareTest in packages/core/test/endowmentsToolkit.spec.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(core): rename test
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(core): review cleanup
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(webpack): repairs for globals that need more than unwrap from core
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-repairs.spec.js
  packages/webpack/test/fixtures/main/node_modules/message-package/index.js
  packages/webpack/test/fixtures/main/node_modules/message-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/src/repairs.js
  packages/webpack/test/fixtures/main/webpack.config.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

chore(node): update snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): prefix human-readable paths with `./` where appropriate
  packages/node/src/util.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node
