Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

wip2
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/run-script-wrapper.cjs
Labels: none

chore: debug ci
  packages/harden/package.json
Labels: none

chore: debug ci
  packages/harden/package.json
Labels: none

wip
  .release-please-manifest.json
  eslint.config.mjs
  package-lock.json
  packages/harden/package.json
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/make-run-script-wrapper.global.d.ts
  packages/harden/src/runner/runner-bundler.js
  packages/harden/src/template/lavamoat/README.md
  packages/harden/src/yarn/opinions.js
  packages/harden/test/runner-bundler.spec.js
  packages/permissioned-runner/.depcheckrc.yml
  packages/permissioned-runner/CHANGELOG.md
  packages/permissioned-runner/LICENSE
  packages/permissioned-runner/README.md
  packages/permissioned-runner/package.json
  packages/permissioned-runner/src/index.js
  packages/permissioned-runner/src/npm-runner.js
  packages/permissioned-runner/src/run-script-wrapper.js
  packages/permissioned-runner/src/tsconfig.json
  packages/permissioned-runner/src/yarn-plugin.cjs
  packages/permissioned-runner/test/tsconfig.json
  packages/permissioned-runner/tsconfig.json
  release-please-config.json
Labels: none

fix(harden): use the project root for `projectRoot` in the Yarn runner plugin
  packages/harden/src/yarn/runner-plugin.js
Labels: none

fix(harden): best effort attempt to support (p)npm run in workspace folders too
  package-lock.json
  packages/harden/package.json
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/test/projects/runner-workspace-npm/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-npm/package.json
  packages/harden/test/projects/runner-workspace-npm/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-pnpm/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-pnpm/package.json
  packages/harden/test/projects/runner-workspace-pnpm/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-pnpm/pnpm-workspace.yaml
  packages/harden/test/projects/runner-workspace-yarn/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-yarn/package.json
  packages/harden/test/projects/runner-workspace-yarn/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-yarn/yarn.lock
  packages/harden/test/runner.spec.js
Labels: none

chore: avoid interfering with corepack in tests
  packages/harden/test/runner.spec.js
Labels: none

chore: avoid interfering with corepack in tests
  packages/harden/package.json
  packages/harden/test/runner.spec.js
Labels: none

fix(harden): cleaner PATH handling
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/runner.spec.js
Labels: none

feat(harden): runner scriptsConfig wildcard matching by prefix
  packages/harden/README.md
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/projects/runner-features/lavamoat/scripts.empty.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.permissions.json
  packages/harden/test/projects/runner-features/package.json
  packages/harden/test/runner.spec.js
Labels: none

test: declutter the diff snapshot a little
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
  packages/harden/test/utils.js
Labels: none

fix: avoid accumulating NODE_OPTIONS
  packages/harden/src/runner/run-script-wrapper.cjs
Labels: none

chore: avoid interfering with corepack in tests
  packages/harden/package.json
  packages/harden/test/runner.spec.js
Labels: none

feat(harden): check --json option
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/tools/verifier.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

fix(core): prevent the endowment logic from skipping writable fields (#2081)
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

feat(tofu): Inspect globals passed as function arguments
  packages/tofu/src/inspectSource.js
  packages/tofu/test/inspectGlobals.spec.js
Labels: pkg:lavamoat-tofu

fix: move keyPath shift down
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

fix(tofu): explore edge cases in globals as function arguments
  packages/tofu/src/inspectSource.js
  packages/tofu/test/inspectGlobals.spec.js
Labels: pkg:lavamoat-tofu

chore: propagate ses lockdown update
  packages/core/lib/lockdown.umd.js
Labels: pkg:lavamoat-core

chore: fix audit
  package-lock.json
Labels: none

chore: typescript types are correct now, use them
  packages/node/src/compartment/node-compartment-map.js
Labels: pkg:@lavamoat/node

chore: fix audit (#2093)
  package-lock.json
Labels: none

fix(deps): upgrade @endo/compartment-mapper to v2.3.0
  package-lock.json
Labels: none

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

fix(deps): upgrade ses
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

chore(eslint): simplify eslint-plugin-ava use
  eslint.config.mjs
Labels: none

fix(deps): upgrade ses
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

chore(eslint): simplify eslint-plugin-ava use
  eslint.config.mjs
Labels: none

fix(deps): upgrade js-yaml
  package-lock.json
  packages/git-safe-dependencies/package.json
Labels: none

feat(types)!: expand LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core)!: support expanded LavaMoatPolicy.include
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

chore(ci): zizmor lint fixes
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/labeler.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(ci): migrate from release-please to Changesets
  .changeset/README.md
  .changeset/config.json
  .github/actions/prepare/action.yml
  .github/workflows/release-please.yml
  .github/zizmor.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Labels: none

docs: update RELEASE.md
  RELEASE.md
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

chore(browserify): increase ava timeout
  packages/browserify/package.json
Labels: pkg:lavamoat-browserify

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
