Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(node): update JSON fixture docs for snapshot-fs v5
  packages/node/test/unit/json-fixture/README.md
Labels: pkg:@lavamoat/node

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

feat(types): create @lavamoat/types
  package-lock.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: none

chore(node): update native fixtures
  .eslintrc.js
  packages/node/test/unit/fixture/native/.gitignore
  packages/node/test/unit/fixture/native/.npmrc
  packages/node/test/unit/fixture/native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/native/node_modules/node-gyp-build/SECURITY.md
  packages/node/test/unit/fixture/native/node_modules/node-gyp-build/bin.js
  packages/node/test/unit/fixture/native/node_modules/node-gyp-build/package.json
  packages/node/test/unit/fixture/native/package.json
  packages/node/test/unit/json-fixture/native.json
Labels: pkg:@lavamoat/node

fix(node,perf): upgrade @endo/compartment-mapper
  package-lock.json
  package.json
  packages/node/package.json
  packages/perf/package.json
Labels: pkg:lavamoat-perf, pkg:@lavamoat/node

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

chore(node): workaround for failure of Endo to parse "export * as x from 'y'"
  packages/node/src/index.js
Labels: pkg:@lavamoat/node

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

feat(node): better UX for specifying entry points
  packages/node/src/cli.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/bin-entry/.npmrc
  packages/node/test/e2e/fixture/bin-entry/README.md
  packages/node/test/e2e/fixture/bin-entry/app.js
  packages/node/test/e2e/fixture/bin-entry/lard-o-matic/bin.js
  packages/node/test/e2e/fixture/bin-entry/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin-entry/lard-o-matic/package.json
  packages/node/test/e2e/fixture/bin-entry/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/bin-entry/node_modules/.package-lock.json
  packages/node/test/e2e/fixture/bin-entry/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin-entry/package.json
  packages/node/test/e2e/fixture/extensionless/.npmrc
  packages/node/test/e2e/fixture/extensionless/README.md
  packages/node/test/e2e/fixture/extensionless/app.js
  packages/node/test/e2e/fixture/extensionless/lard-o-matic/bin
  packages/node/test/e2e/fixture/extensionless/lard-o-matic/index.js
  packages/node/test/e2e/fixture/extensionless/lard-o-matic/package.json
  packages/node/test/e2e/fixture/extensionless/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/extensionless/node_modules/.package-lock.json
  packages/node/test/e2e/fixture/extensionless/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/extensionless/package.json
  packages/node/test/e2e/snapshots/cli.spec.js.md
  packages/node/test/e2e/snapshots/cli.spec.js.snap
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture/bin-entry.json
  packages/node/test/unit/json-fixture/extensionless.json
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add tests for resolution utils - Unit tests for `resolveWorkspace()` and `resolveBinScript()` - E2E test for `resolveEntrypoint()` since it must use a real filesystem
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

fix(node): exec supports extensionless files
  packages/node/src/compartment/options.js
Labels: pkg:@lavamoat/node

chore: better clean:types script
  package.json
Labels: none

chore(node): reorganize E2E tests
  packages/node/test/e2e/cli-general.spec.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
  packages/node/test/e2e/snapshots/cli.spec.js.md
  packages/node/test/e2e/snapshots/cli.spec.js.snap
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

chore(node): add TODO for execution unit test
  packages/node/test/unit/exec.spec.js
Labels: pkg:@lavamoat/node

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

chore(node): allow override of entrypoints within JSON fixtures
  packages/node/test/types.ts
  packages/node/test/unit/exec-macros.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/json-fixture/README.md
  packages/node/test/unit/json-fixture/bin-entry.json
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(laverna,node,webpack): upgrade memfs
  package-lock.json
  package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/laverna, pkg:@lavamoat/node

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

chore(node): add test for bin script entrypoint execution
  packages/node/test/unit/exec.spec.js
Labels: pkg:@lavamoat/node

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

chore(eslint): allow unused vars beginning with _, fix paths in @lavamoat/node
  .config/eslintrc.typed-workspace.js
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/src/runtime/runtime.js
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

feat(node): add --quiet and --verbose
  packages/node/src/cli.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): post-merge lint fixes
  packages/node/src/fs.js
  packages/node/src/util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/scenario-util.js
Labels: pkg:@lavamoat/node

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore(node): add wallaby config
  .wallaby.cjs
  package-lock.json
  package.json
Labels: none

chore(node): fix policy type location
  packages/node/test/unit/exec-macros.js
Labels: pkg:@lavamoat/node

chore(types): fix @babel/types version
  package-lock.json
  packages/types/package.json
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

chore: fix lint-staged config to ignore fixtures
  .config/lint-staged.config.js
Labels: none

feat(core): support generating policies with a "root" field
  package-lock.json
  package.json
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/test/generatePolicy.spec.js
  packages/core/test/snapshots/generatePolicy.spec.js.md
  packages/core/test/snapshots/generatePolicy.spec.js.snap
  packages/core/test/types/policy.spec.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core
