Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(ci): extract win & macos tests into new workflows
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(webpack): fix dynamic import tests for ava 6
  packages/webpack/test/e2e-dynamic-import.spec.js
Labels: pkg:@lavamoat/webpack

chore(ci): attempt to allow empty node-version in prepare action
  .github/actions/prepare/action.yml
Labels: none

chore(webpack): add comment to test weirdness
  packages/webpack/test/e2e-dynamic-import.spec.js
Labels: pkg:@lavamoat/webpack

chore(ci): do not use gleb installer
  .github/actions/prepare/action.yml
Labels: none

chore(ci): use composite actions
  .github/actions/prepare/action.yml
  .github/actions/test/action.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(ci): add v24 to matrix
  .github/workflows/nodejs.yml
Labels: none

chore(node): rename option root => project-root
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): refactor resolveEntrypoint
  packages/node/src/cli.js
  packages/node/src/internal.ts
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): update snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): create a fixture helper for tests
  packages/node/test/test-util.js
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(node): create a disposable tempdir wrapper for E2E tests
  packages/node/test/e2e/cli-util.js
Labels: pkg:@lavamoat/node

chore(node): prefix human-readable paths with `./` where appropriate
  packages/node/src/util.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): reorganize E2E fixtures a little
  packages/node/test/e2e/fixture/basic/index.js
  packages/node/test/e2e/fixture/basic/package.json
  packages/node/test/e2e/fixture/bin/.npmrc
  packages/node/test/e2e/fixture/bin/README.md
  packages/node/test/e2e/fixture/bin/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/bin
  packages/node/test/e2e/fixture/bin/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/package.json
  packages/node/test/e2e/fixture/bin/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/bin/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin/package.json
  packages/node/test/e2e/fixture/deptree/index.js
  packages/node/test/e2e/fixture/deptree/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/index.js
  packages/node/test/e2e/fixture/dev/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/package.json
  packages/node/test/e2e/fixture/untrusted/README.md
  packages/node/test/e2e/fixture/untrusted/app.js
  packages/node/test/e2e/fixture/untrusted/package.json
Labels: pkg:@lavamoat/node

chore: rename "generation" test to "generate"
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): update E2E tests for new helpers
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): execution: rename compartment descriptor labels to canonical names
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): add coverage for getCanonicalName
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix path resolution logging output
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

chore(node): add test case for policy enforcement
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/policy-enforcement/README.md
  packages/node/test/unit/fixture/policy-enforcement/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/app.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/package.json
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
Labels: pkg:@lavamoat/node

fix(node): type syntax
  packages/node/src/compartment/compartment-descriptor-transform.js
Labels: pkg:@lavamoat/node

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore(node): avoid mutating CompartmentDescriptor.label
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/build-module-records.spec.js
  packages/node/test/unit/policy/load-compartment-map.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): housekeeping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(e2e-dogfood): create a working dummy project to test with
  package-lock.json
  packages/__e2e-dogfooding__/README.md
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/src/App.tsx
  packages/__e2e-dogfooding__/src/example.ts
  packages/__e2e-dogfooding__/src/index.tsx
  packages/__e2e-dogfooding__/src/styles.css
  packages/__e2e-dogfooding__/tsconfig.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(e2e-dogfood): fix annoying warning
  packages/__e2e-dogfooding__/src/App.tsx
Labels: none

test(e2e-dogfooding): added an easier version
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

test(e2e-dogfood): add lavamoat setup and initial minimal test for building with lavamoat/node
  package-lock.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/webpack/policy.json
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

docs(e2e-dogfooding): document running
  packages/__e2e-dogfooding__/README.md
Labels: none

chore(dogfood): wip
  package-lock.json
  package.json
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/package.json
  patches/graceful-fs+4.2.11.patch
Labels: none

chore(e2e): update policy
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
Labels: none

fix: add Node.js v24.0.0 to supported engines
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/browserify/package.json
  packages/core/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/perf/package.json
  packages/preinstall-always-fail/package.json
  packages/survey/package.json
  packages/tofu/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(eslint): workaround for lint failure See https://github.com/kytta/eslint-plugin-node-import/issues/10 for explanation
  .eslintrc.js
Labels: none

chore(ci): add missing (!) workspaces to CI
  .github/workflows/nodejs.yml
Labels: none

chore(ci): add v24 to matrix
  .github/workflows/nodejs.yml
Labels: none

chore(ci): extract win & macos tests into new workflows
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(ci): do not use gleb installer
  .github/actions/prepare/action.yml
Labels: none

chore(aa): cleanup symlinks
  packages/aa/test/index.spec.js
  packages/aa/test/symlink-perf.spec.js
  packages/aa/test/utils.js
Labels: pkg:@lavamoat/aa

chore(ci): attempt to allow empty node-version in prepare action
  .github/actions/prepare/action.yml
Labels: none

fix: add Node.js v24.0.0 to supported engines
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/browserify/package.json
  packages/core/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/perf/package.json
  packages/preinstall-always-fail/package.json
  packages/survey/package.json
  packages/tofu/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node
