Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(git-safe): improve git specifier detection and tests
  packages/git-safe-dependencies/package.json
  packages/git-safe-dependencies/src/index.js
  packages/git-safe-dependencies/src/isgit.js
  packages/git-safe-dependencies/test/isgit.spec.js
  packages/git-safe-dependencies/test/manual/run.sh
  packages/git-safe-dependencies/test/manual/snapshot.txt
  packages/git-safe-dependencies/test/manual/yarn-mmm/package.json
  packages/git-safe-dependencies/test/manual/yarn-mmm/yarn.lock
Labels: none

chore: Apply suggestions from code review
  packages/git-safe-dependencies/src/isgit.js
Labels: none

chore: test plans
  packages/git-safe-dependencies/test/isgit.spec.js
Labels: none

test(git-safe): rewrite snapshot test to ava
  packages/git-safe-dependencies/package.json
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/fixtures/npm-realistic/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/workspaces/example/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/workspaces/example2/package.json
  packages/git-safe-dependencies/test/fixtures/npm/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm/package.json
  packages/git-safe-dependencies/test/fixtures/workflows/add-release-label.yml
  packages/git-safe-dependencies/test/fixtures/workflows/more/add-mmi-reviewer-and-notify.yml
  packages/git-safe-dependencies/test/fixtures/workflows2/ignore.json
  packages/git-safe-dependencies/test/fixtures/workflows2/more/add-mmi-reviewer-and-notify.yml
  packages/git-safe-dependencies/test/fixtures/yarn-berry-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-berry-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-berry/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-berry/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-nopackage/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock.ignore.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/yarn.lock
  packages/git-safe-dependencies/test/manual/actions.sh
  packages/git-safe-dependencies/test/manual/run.sh
  packages/git-safe-dependencies/test/manual/snapshot.txt
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

fix(git-safe): improve git specifier detection and tests (#1556)
  packages/git-safe-dependencies/src/index.js
  packages/git-safe-dependencies/src/isgit.js
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/fixtures/npm-realistic/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/workspaces/example/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/workspaces/example2/package.json
  packages/git-safe-dependencies/test/fixtures/npm/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm/package.json
  packages/git-safe-dependencies/test/fixtures/workflows/add-release-label.yml
  packages/git-safe-dependencies/test/fixtures/workflows/more/add-mmi-reviewer-and-notify.yml
  packages/git-safe-dependencies/test/fixtures/workflows2/ignore.json
  packages/git-safe-dependencies/test/fixtures/workflows2/more/add-mmi-reviewer-and-notify.yml
  packages/git-safe-dependencies/test/fixtures/yarn-berry-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-berry-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-berry/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-berry/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-nopackage/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock.ignore.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/yarn.lock
  packages/git-safe-dependencies/test/isgit.spec.js
  packages/git-safe-dependencies/test/manual/actions.sh
  packages/git-safe-dependencies/test/manual/run.sh
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

chore(git-safe): relative path snapshots
  packages/git-safe-dependencies/package.json
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

test(git-safe): remove one last flakiness source in snapshot tests
  packages/git-safe-dependencies/package.json
  packages/git-safe-dependencies/test/fixtures/workflows/add-release-label.yml
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

test(git-safe): fix flakiness of snapshot tests (#1560)
  packages/git-safe-dependencies/package.json
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/fixtures/workflows/add-release-label.yml
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

fix(core): remove unused type-fest
  package-lock.json
  packages/core/package.json
Labels: pkg:lavamoat-core

fix(core): handle extensionless files of unknown format
  packages/core/src/generatePolicy.js
  packages/core/test/generatePolicy.spec.js
Labels: pkg:lavamoat-core

fix(node): fix attenuator compartment handling
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
Labels: pkg:@lavamoat/node

chore(node): remove dead code
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

fix(node): better policy override path handling
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:@lavamoat/node

chore(node): remove more dead code
  packages/node/src/policy-gen/policy-gen-context.js
Labels: pkg:@lavamoat/node

fix(core): LavaMoatPolicy.resources is now required
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

fix(node): remove unused option
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

feat(node): add custom errors
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/index.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): consume custom errors
  packages/node/src/compartment/parse-native.js
  packages/node/src/error.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

chore(node): downgrade SES compat warnings to debug loglevel
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/lavamoat-node/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa, pkg:lavamoat-node

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/src/runtime/runtime.js
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

chore(types): fix @babel/types version
  package-lock.json
  packages/types/package.json
Labels: none

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

chore: update lockfile
  package-lock.json
Labels: none

chore(node): fix policy type location
  packages/node/test/unit/exec-macros.js
Labels: pkg:@lavamoat/node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
