Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore: rename "generation" test to "generate"
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): execution: rename compartment descriptor labels to canonical names
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

fix(node): fix path resolution logging output
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

fix(node): type syntax
  packages/node/src/compartment/compartment-descriptor-transform.js
Labels: pkg:@lavamoat/node

chore(node): add test case for policy enforcement
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/policy-enforcement/README.md
  packages/node/test/unit/fixture/policy-enforcement/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/app.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/package.json
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
Labels: pkg:@lavamoat/node

chore(node): add coverage for getCanonicalName
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore(node): avoid mutating CompartmentDescriptor.label
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/build-module-records.spec.js
  packages/node/test/unit/policy/load-compartment-map.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add failing test for optional dependency handling
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/optional/README.md
  packages/node/test/unit/fixture/optional/node_modules/app/index.js
  packages/node/test/unit/fixture/optional/node_modules/app/package.json
  packages/node/test/unit/fixture/optional/node_modules/dummy/index.js
  packages/node/test/unit/fixture/optional/node_modules/dummy/package.json
  packages/node/test/unit/fixture/optional/node_modules/muddy/index.js
  packages/node/test/unit/fixture/optional/node_modules/muddy/package.json
Labels: pkg:@lavamoat/node

chore(node): isolate SES compat warning aggregator
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): housekeeping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): refactor some utils
  packages/node/src/cli.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): fixes for #1547
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): add coverage test
  package-lock.json
  package.json
  packages/node/.c8rc
  packages/node/package.json
Labels: pkg:@lavamoat/node

fix(node): custom logger in policy gen
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore(node): update lockfile
  package-lock.json
  package.json
  packages/node/package.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore: cherry-pick node-refactor with this
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

fix(node): fix import map resolution
  packages/node/src/internal.ts
  packages/node/src/policy-gen/module-resolver.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

fix(node): correct policy loading problems
  packages/node/src/cli.js
  packages/node/src/constants.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/scenario-runner.js
Labels: pkg:@lavamoat/node

chore(node): better warning reports
  package-lock.json
  packages/node/package.json
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/report.js
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore: fixup node-refactor
  packages/node/src/exec/execute.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/types.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

fix(node): typo
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore(e2e-dogfood): create a working dummy project to test with
  package-lock.json
  packages/__e2e-dogfooding__/README.md
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/src/App.tsx
  packages/__e2e-dogfooding__/src/example.ts
  packages/__e2e-dogfooding__/src/index.tsx
  packages/__e2e-dogfooding__/src/styles.css
  packages/__e2e-dogfooding__/tsconfig.json
  packages/__e2e-dogfooding__/webpack.config.js
  packages/core/package.json
Labels: pkg:lavamoat-core

chore(node): add failing test for canonical names
  packages/node/test/unit/fixture/canonical-name/README.md
  packages/node/test/unit/fixture/canonical-name/node_modules/app/index.js
  packages/node/test/unit/fixture/canonical-name/node_modules/app/package.json
  packages/node/test/unit/fixture/canonical-name/node_modules/gambadilegno/index.js
  packages/node/test/unit/fixture/canonical-name/node_modules/gambadilegno/package.json
  packages/node/test/unit/fixture/canonical-name/node_modules/goofy/index.js
  packages/node/test/unit/fixture/canonical-name/node_modules/goofy/package.json
  packages/node/test/unit/fixture/canonical-name/node_modules/paperino/index.js
  packages/node/test/unit/fixture/canonical-name/node_modules/paperino/package.json
  packages/node/test/unit/fixture/canonical-name/node_modules/pippo/index.js
  packages/node/test/unit/fixture/canonical-name/node_modules/pippo/package.json
  packages/node/test/unit/fixture/canonical-name/node_modules/topolino/index.js
  packages/node/test/unit/fixture/canonical-name/node_modules/topolino/package.json
  packages/node/test/unit/fixture/canonical-name/package.json
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/json-fixture/canonical-name.json
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(node): add some docstrings in test types
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

test(e2e-dogfood): add lavamoat setup and initial minimal test for building with lavamoat/node
  package-lock.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/webpack/policy.json
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(e2e-dogfood): fix annoying warning
  packages/__e2e-dogfooding__/src/App.tsx
Labels: none

docs(e2e-dogfooding): document running
  packages/__e2e-dogfooding__/README.md
Labels: none

test(e2e-dogfooding): added an easier version
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore(git-safe-dependencies): fix snapshots by normalizing output
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

chore(git-safe-dependencies): types & tweaks
  packages/git-safe-dependencies/src/cli-actions.js
  packages/git-safe-dependencies/src/cli.js
  packages/git-safe-dependencies/src/workflow.js
Labels: none

chore(dogfood): add patch for graceful-fs
  package.json
  patches/graceful-fs+4.2.11.patch
Labels: none

chore(dogfood): patch @babel/helper-define-polyfill-provider
  patches/@babel+helper-define-polyfill-provider+0.6.4.patch
Labels: none

chore(dogfood): update with scripts for build.js
  package-lock.json
  package.json
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/build/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/build/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

feat(webpack): update lockdown settings for better compatibility and easier debugging
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

chore(git-safe-dependencies): fix snapshots by normalizing output (#1759)
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: none

chore(git-safe-dependencies): types & tweaks (#1760)
  packages/git-safe-dependencies/src/cli-actions.js
  packages/git-safe-dependencies/src/cli.js
  packages/git-safe-dependencies/src/workflow.js
Labels: none

fix(webpack): avoid scuttling the global Webpack uses for sharing chunks
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

test(webpack): doublecheck that the property is not only unscuttled but also exists
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

feat(core): decouple writable store from root compartment global
  packages/core/package.json
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core
