Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore: rename all LICENSE.md to LICENSE
  LICENSE
  packages/aa/LICENSE
  packages/allow-scripts/LICENSE
  packages/browserify/LICENSE
  packages/core/LICENSE
  packages/lavamoat-node/LICENSE
  packages/lavapack/LICENSE
  packages/node/LICENSE
  packages/perf/LICENSE
  packages/preinstall-always-fail/LICENSE
  packages/survey/LICENSE
  packages/tofu/LICENSE
  packages/webpack/LICENSE
  packages/yarn-plugin-allow-scripts/LICENSE
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/node, pkg:lavamoat-node

chore(core): update vendored ses
  packages/core/lib/lockdown.umd.js
Labels: pkg:lavamoat-core

fix(lavapack)!: bump lowest supported ES version to 2022 (ES13)
  packages/lavapack/src/builder-runtime.js
Labels: pkg:@lavamoat/lavapack

chore(ci): attempt to allow flaky macOS tests to re-run
  .github/workflows/nodejs-macos.yml
  .github/workflows/rerun.yml
Labels: none

fix(lavamoat-node): support packages with falsy main field
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/falsy-main/.npmrc
  packages/lavamoat-node/test/projects/falsy-main/index.js
  packages/lavamoat-node/test/projects/falsy-main/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/falsy-main/node-modules/a/index.js
  packages/lavamoat-node/test/projects/falsy-main/node-modules/a/package.json
  packages/lavamoat-node/test/projects/falsy-main/node-modules/b/index.js
  packages/lavamoat-node/test/projects/falsy-main/node-modules/b/package.json
  packages/lavamoat-node/test/projects/falsy-main/package.json
  packages/lavamoat-node/test/projects/falsy-main/yarn.lock
Labels: pkg:lavamoat-node

chore(ci): Apply suggestions from code review
  .github/workflows/nodejs-macos.yml
  .github/workflows/rerun.yml
Labels: none

chore(ci): attempt to allow flaky macOS tests to re-run
  .github/workflows/nodejs-macos.yml
  .github/workflows/rerun.yml
Labels: none

chore(ci): Apply suggestions from code review
  .github/workflows/nodejs-macos.yml
  .github/workflows/rerun.yml
Labels: none

fix(lavamoat-node): support packages with falsy main field
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/falsy-main/.npmrc
  packages/lavamoat-node/test/projects/falsy-main/index.js
  packages/lavamoat-node/test/projects/falsy-main/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/falsy-main/node-modules/a/index.js
  packages/lavamoat-node/test/projects/falsy-main/node-modules/a/package.json
  packages/lavamoat-node/test/projects/falsy-main/node-modules/b/index.js
  packages/lavamoat-node/test/projects/falsy-main/node-modules/b/package.json
  packages/lavamoat-node/test/projects/falsy-main/package.json
  packages/lavamoat-node/test/projects/falsy-main/yarn.lock
Labels: pkg:lavamoat-node

fix(react-native-lockdown): add types
  packages/react-native-lockdown/.eslintrc.js
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/src/lockdown-serializer.ts
  packages/react-native-lockdown/src/repair.js
  packages/react-native-lockdown/src/tsconfig.json
  packages/react-native-lockdown/src/types.ts
  packages/react-native-lockdown/test/tsconfig.json
  packages/react-native-lockdown/test/unit/assertPolyfills.spec.js
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/tsconfig.json
  tsconfig.json
Labels: none

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

fix(deps): add @babel/types override
  package-lock.json
  package.json
Labels: none

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
  packages/types/package.json
  packages/types/src/module-record.ts
  packages/types/test/policy.spec.ts
  packages/types/test/tsconfig.json
  packages/types/tsconfig.json
  packages/webpack/src/runtime/runtime.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(types): update @babel/types
  package-lock.json
  packages/types/.depcheckrc.yml
  packages/types/package.json
Labels: none

fix(tofu): update type for new SetFieldType behavior
  packages/tofu/src/inspectPrimordialAssignments.js
Labels: pkg:lavamoat-tofu

chore(types): add lint:deps script
  packages/core/.depcheckrc.yml
  packages/types/package.json
Labels: pkg:lavamoat-core

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

feat(policy): create @lavamoat/policy
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore(types): remove reference to non-existent @types/ses
  packages/types/test/tsconfig.json
Labels: none

chore(core): avoid deprecated LavaMoatPolicyOverrides type
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/mergePolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/stringifyPolicy.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(policy): prettify schema after writing
  packages/policy/scripts/create-policy-schema.ts
Labels: none

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none
