Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

fix: ensure internal sequence of specifier handling does not leak control flow from kernel code
  packages/core/src/kernelCoreTemplate.js
  packages/core/test/scenarios/policyEvasion.js
Labels: pkg:lavamoat-core

chore: staged publishing with laverna
  .github/workflows/publish-stage.yml
  package.json
Labels: none

feat(laverna)!: add staged publishing as default
  packages/laverna/README.md
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/publisher.js
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/test/snapshots/cli.spec.js.md
  packages/laverna/test/snapshots/cli.spec.js.snap
Labels: pkg:@lavamoat/laverna

chore: silence the test to avoid triggering unrelated failures
  packages/core/test/scenarios/policyEvasion.js
Labels: pkg:lavamoat-core

fix: ensure internal sequence of specifier handling does not leak con… (#1992)
  packages/core/src/kernelCoreTemplate.js
  packages/core/test/scenarios/policyEvasion.js
Labels: pkg:lavamoat-core

chore(ci): add zizmor workflow
  .github/workflows/zizmor.yml
Labels: none

chore(ci): use staged publishing w/ release-please
  .github/actions/prepare/action.yml
  .github/workflows/release-please.yml
Labels: none

chore(ci): use staged publishing w/ release-please (#1994)
  .github/actions/prepare/action.yml
  .github/workflows/release-please.yml
Labels: none

Revert "chore: release main (#1979)"
  .release-please-manifest.json
  package-lock.json
  packages/browserify/CHANGELOG.md
  packages/browserify/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/lavamoat-node/CHANGELOG.md
  packages/lavamoat-node/package.json
  packages/lavapack/CHANGELOG.md
  packages/lavapack/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/tofu/CHANGELOG.md
  packages/tofu/package.json
  packages/webpack/CHANGELOG.md
  packages/webpack/package.json
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/node, pkg:lavamoat-node

Revert "chore: release main (#1979)"
  .release-please-manifest.json
  package-lock.json
  packages/browserify/CHANGELOG.md
  packages/browserify/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/lavamoat-node/CHANGELOG.md
  packages/lavamoat-node/package.json
  packages/lavapack/CHANGELOG.md
  packages/lavapack/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/tofu/CHANGELOG.md
  packages/tofu/package.json
  packages/webpack/CHANGELOG.md
  packages/webpack/package.json
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/node, pkg:lavamoat-node

chore(ci): fix pack job in release-please workflow
  .github/workflows/release-please.yml
Labels: none

chore(ci): fix pack job in release-please workflow
  .github/workflows/release-please.yml
Labels: none

chore(ci): add setup-node action to publish job
  .github/workflows/release-please.yml
Labels: none

chore(ci): fix pack job in release-please workflow
  .github/workflows/release-please.yml
Labels: none

chore(ci): add setup-node action to publish job
  .github/workflows/release-please.yml
Labels: none

chore: add a way to manually retry the publishing steps
  .github/workflows/release-please.yml
Labels: none

chore: add a way to manually retry the publishing steps (#2001)
  .github/workflows/release-please.yml
Labels: none

fix: pack input processing
  .github/workflows/release-please.yml
Labels: none

fix: is it quotes
  .github/workflows/release-please.yml
Labels: none

fix: more quotes. I will rewrite from bash to js out of spite
  .github/workflows/release-please.yml
Labels: none

chore: final fixes to publishing pipeline (#2002)
  .github/workflows/release-please.yml
Labels: none

fix: vscode being helpful...
  .github/workflows/release-please.yml
Labels: none

fix: vscode being helpful with the closing quote here
  .github/workflows/release-please.yml
Labels: none

fix: vscode being helpful with the closing quote here (#2003)
  .github/workflows/release-please.yml
Labels: none

fix: vscode being helpful with the closing quote here
  .github/workflows/release-please.yml
Labels: none

fix: vscode being helpful with the closing quote here (#2004)
  .github/workflows/release-please.yml
Labels: none

fix: zizmor made more quotes
  .github/workflows/release-please.yml
Labels: none

fix: zizmor made more quotes (#2005)
  .github/workflows/release-please.yml
Labels: none

chore(ci): apply zizmor fixes
  .github/actions/test/action.yml
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
  .github/workflows/rerun.yml
Labels: none

chore(ci): apply zizmor fixes (#2006)
  .github/actions/test/action.yml
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
  .github/workflows/rerun.yml
Labels: none

chore: bump zizmor action to latest in hope it'll respect the ignore comments
  .github/workflows/zizmor.yml
Labels: none

chore: eliminate zizmor complaint about permission
  .github/workflows/assign-author.yml
Labels: none

chore: zizmor baseline passing
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-please.yml
  .github/workflows/rerun.yml
  .github/workflows/zizmor.yml
Labels: none

chore: update codeql to matching version
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: none

chore(ci): add zizmor workflow (#1995)
  .github/codeql/codeql-config.yml
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-please.yml
  .github/workflows/rerun.yml
  .github/workflows/zizmor.yml
Labels: none

fix(webpack): stabilize runtime lookup data
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/runtimeBuilder.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): make runtime emission deterministic for reproducible builds
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/plugin.js
  packages/webpack/test/aa.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): reproducible builds require runtime to be stable on unstable input ordering
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/runtime-stability.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): reproducible builds require runtime to be stable on unstable input ordering (#2014)
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/runtime-stability.spec.js
Labels: pkg:@lavamoat/webpack

wip
  packages/harden/.depcheckrc.yml
  packages/harden/CHANGELOG.md
  packages/harden/LICENSE
  packages/harden/README.md
  packages/harden/package.json
  packages/harden/src/cli.js
  packages/harden/src/detecting-config.md
  packages/harden/src/index.js
  packages/harden/src/npm/index.js
  packages/harden/src/opinions.js
  packages/harden/src/plan.md
  packages/harden/src/pnpm/index.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/npmrc.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/tsconfig.json
  packages/harden/src/yarn/index.js
  packages/harden/test/prepare.js
  packages/harden/test/tsconfig.json
  packages/harden/test/utils.js
  packages/harden/tsconfig.json
Labels: none
