Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore: migrate to eslint 9 (WIP) [ci skip]
  .config/eslintrc.typed-workspace.js
  .config/eslintrc.typed-workspace.mjs
  .eslintignore
  .eslintrc-old.js
  eslint.config-TEMP.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  packages/aa/.eslintrc.js
  packages/allow-scripts/.eslintrc.js
  packages/browserify/.eslintrc.js
  packages/core/.eslintrc.js
  packages/perf/.eslintrc.js
  packages/survey/.eslintrc.js
  packages/yarn-plugin-allow-scripts/.eslintrc.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:survey, pkg:@lavamoat/yarn-plugin-allow-scripts

test(webpack): cover context modules usage with tests before exploring the implementation
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/hack-dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/index.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/package.json
  packages/webpack/test/fixtures/main/node_modules/dynamic-stealer/index.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-stealer/package.json
  packages/webpack/test/fixtures/main/node_modules/dynamic-target/index.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-target/package.json
  packages/webpack/test/fixtures/main/node_modules/flag-package/hack.js
  packages/webpack/test/fixtures/main/node_modules/flag-package/index.js
  packages/webpack/test/fixtures/main/node_modules/flag-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/scaffold.js
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.md
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.snap
Labels: pkg:@lavamoat/webpack

test(webpack): correct testsuite for chunks and context modules
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/fixtures/main/dynamic-chunk.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/forcechunk.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/package.json
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

feat(webpack): BROKEN AND MESSY STATE - this might work for context modules
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/forcechunk.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/package.json
  packages/webpack/test/fixtures/main/package.json
Labels: pkg:@lavamoat/webpack

feat(webpack): simple contextmodule policy seems to work
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/forcechunk.js
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.md
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore(webpack): cleanup in contextmodule implementation
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/aa.spec.js
  packages/webpack/test/e2e-nodejs.spec.js
  packages/webpack/test/e2e-policy-dependencies.spec.js
  packages/webpack/test/e2e-policy-errors.spec.js
  packages/webpack/test/e2e-policy-gen.spec.js
  packages/webpack/test/e2e-polyfill.spec.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/emptycontext.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/lavamoat-node/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa, pkg:lavamoat-node

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/src/runtime/runtime.js
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

chore(types): fix @babel/types version
  package-lock.json
  packages/types/package.json
Labels: none

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

chore(node): fix policy type location
  packages/node/test/unit/exec-macros.js
Labels: pkg:@lavamoat/node

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

fix: upgrade ses to v1.11.0
  package-lock.json
  package.json
  packages/core/package.json
  packages/node/package.json
  packages/perf/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(core): handle extensionless files of unknown format
  packages/core/src/generatePolicy.js
  packages/core/test/generatePolicy.spec.js
Labels: pkg:lavamoat-core

fix(core): LavaMoatPolicy.resources is now required
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

chore(node): remove dead code
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): remove more dead code
  packages/node/src/policy-gen/policy-gen-context.js
Labels: pkg:@lavamoat/node

fix(node): better policy override path handling
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:@lavamoat/node

fix(node): fix attenuator compartment handling
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
Labels: pkg:@lavamoat/node

fix(core): remove unused type-fest
  package-lock.json
  packages/core/package.json
Labels: pkg:lavamoat-core

fix(node): remove unused option
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore(node): downgrade SES compat warnings to debug loglevel
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

fix(node): peer review changes
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
  packages/node/test/unit/fixture/dynamic/package.json
  packages/node/test/unit/fixture/relative-package/README.md
  packages/node/test/unit/fixture/relative-package/index.js
  packages/node/test/unit/fixture/relative-package/node_modules/blinken/index.js
  packages/node/test/unit/fixture/relative-package/node_modules/blinken/package.json
  packages/node/test/unit/fixture/relative-package/node_modules/winken/index.js
  packages/node/test/unit/fixture/relative-package/node_modules/winken/package.json
  packages/node/test/unit/fixture/relative-package/package.json
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture/relative-package.json
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/generation.spec.js
  packages/node/test/unit/policy/snapshots/generation.spec.js.md
  packages/node/test/unit/policy/snapshots/generation.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): cleanup import hooks
  packages/node/src/compartment/import-hook.js
Labels: pkg:@lavamoat/node

chore(node): rename toUrlString to toEndoUrl
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/util.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
