Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

wip
  eslint.config.mjs
  packages/harden/src/cli.js
  packages/harden/src/index.js
  packages/harden/src/npm/index.js
  packages/harden/src/opinions.js
  packages/harden/src/pnpm/index.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/yarn/index.js
Labels: none

first working draft
  packages/harden/package-lock.json
  packages/harden/package.json
  packages/harden/src/cli.js
  packages/harden/src/index.js
  packages/harden/src/npm/index.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/opinions.js
  packages/harden/src/plan.md
  packages/harden/src/pnpm/index.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/npmrc.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/tools/print.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/versions.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/index.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/index.spec.js
  packages/harden/test/projects/npm/package.json
  packages/harden/test/projects/pnpm/package.json
  packages/harden/test/projects/yarn/package.json
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

more paranoid, better tests
  packages/harden/src/npm/index.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/index.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/legacyYarnrc.js
  packages/harden/src/tools/npmrc.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/tools/regex-escape.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/index.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/detect.spec.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

tidy up
  packages/harden/src/detecting-config.md
  packages/harden/src/npm/opinions.js
  packages/harden/src/plan.md
  packages/harden/test/index.spec.js
Labels: none

back up runner implementation
  packages/harden/src/template/lavamoat/.env.ban.json
  packages/harden/src/template/lavamoat/.runner.js
  packages/harden/src/template/lavamoat/README.md
Labels: none

populate allowlists in npm, pnpm
  packages/harden/README.md
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

wip
  packages/harden/src/npm/index.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/index.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/index.js
  packages/harden/test/index.spec.js
  packages/harden/test/projects/npm/package.json
  packages/harden/test/projects/pnpm/package.json
  packages/harden/test/projects/yarn/package.json
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

wip
  packages/harden/src/npm/index.js
  packages/harden/src/yarn/index.js
Labels: none

wip yarn
  package-lock.json
  packages/harden/package.json
  packages/harden/src/cli.js
  packages/harden/src/npm/index.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

attempt at reading scripts from yarn
  packages/harden/src/yarn/internals.js
Labels: none

gona have to suffice for yarn for now
  package-lock.json
  packages/harden/README.md
  packages/harden/package.json
  packages/harden/src/npm/index.js
  packages/harden/src/pnpm/index.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/index.js
  packages/harden/src/yarn/internals.js
  packages/harden/test/index.spec.js
  packages/harden/test/projects/npm/package.json
  packages/harden/test/projects/pnpm/package.json
  packages/harden/test/projects/yarn/package.json
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

shell runner
  packages/harden/README.md
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/template/lavamoat/README.md
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/tools/types.ts
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

drop unnecessary dep
  package-lock.json
  packages/harden/package.json
Labels: none

chore(deps): update lockfile for npm audit
  package-lock.json
Labels: none

chore(ci): add TS analysis to CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/react-native-lockdown/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

feat(node): add --compact flag for policy override compaction
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(deps): upgrade Endo
  package-lock.json
  package.json
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

feat(types): support additionalLocations
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): add merge support for LavaMoatPolicy.additionalLocations
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/execute.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/internal.ts
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

fix(deps): upgrade @yarnpkg/*
  package-lock.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts

chore(ci): add TS analysis to CodeQL workflow (#2009)
  .github/workflows/codeql-analysis.yml
Labels: none

chore(deps): update lockfile for npm audit (#2021)
  package-lock.json
Labels: none

moved allowlist to opinions and set up alternatives in config. some bugs wip
  package-lock.json
  packages/harden/package-lock.json
  packages/harden/package.json
  packages/harden/src/index.js
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/index.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/~bkp~index.js
  packages/harden/src/opinions.js
  packages/harden/src/pnpm/build-allowlist.js
  packages/harden/src/pnpm/index.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/filter-opinions.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/tools/types.ts
  packages/harden/src/yarn/index.js
  packages/harden/src/yarn/lm-build-allowlist.js
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/yarn-build-allowlist.js
  packages/harden/src/yarn/yarn-internals.js
  packages/harden/test/packagejson.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

fix npm allowlisting
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/opinions.js
  packages/harden/test/packagejson.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

output handling improvements and an initial allow-scripts implementation for yarn
  packages/harden/src/cli.js
  packages/harden/src/index.js
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/index.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/~bkp~index.js
  packages/harden/src/pnpm/build-allowlist.js
  packages/harden/src/pnpm/index.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/apply-opinions.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/filter-opinions.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/tools/print.js
  packages/harden/src/tools/regex-escape.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/versions.js
  packages/harden/src/yarn/index.js
  packages/harden/src/yarn/lm-build-allowlist.js
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/yarn-build-allowlist.js
  packages/harden/src/yarn/yarn-internals.js
  packages/harden/test/followup-commands.spec.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

yarn plugin deployment for allow-scripts
  packages/harden/src/template/lavamoat/README.md
  packages/harden/src/template/lavamoat/plugin-allow-scripts.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/types.ts
  packages/harden/src/yarn/lm-build-allowlist.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

cleaner yarn plugin
  packages/harden/src/template/lavamoat/README.md
  packages/harden/src/template/lavamoat/plugin-allow-scripts.js
Labels: none

preview v0.2.0
  packages/harden/package-lock.json
  packages/harden/package.json
Labels: none

wizard
  package-lock.json
  packages/harden/README.md
  packages/harden/package.json
  packages/harden/src/cli.js
  packages/harden/src/index.js
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/build-allowlist.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/tools/legacyYarnrc.js
  packages/harden/src/tools/npmrc.js
  packages/harden/src/tools/opinions-engine.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/wizard.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/yarn-build-allowlist.js
  packages/harden/test/followup-commands.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

v0.3.0
  packages/harden/package-lock.json
  packages/harden/package.json
Labels: none

bail out of caching yaml doc if cache key not set
  packages/harden/src/tools/yaml-config.js
Labels: none

feat(run): add @lavamoat/run, a secure npx replacement
  .release-please-manifest.json
  AGENTS.md
  README.md
  eslint.config.mjs
  package-lock.json
  packages/run/.depcheckrc.yml
  packages/run/CHANGELOG.md
  packages/run/LICENSE
  packages/run/README.md
  packages/run/package.json
  packages/run/src/args.js
  packages/run/src/cli.js
  packages/run/src/constants.js
  packages/run/src/error.js
  packages/run/src/fs.js
  packages/run/src/index.js
  packages/run/src/install.js
  packages/run/src/log.js
  packages/run/src/resolve-bin.js
  packages/run/src/run.js
  packages/run/src/spec.js
  packages/run/src/tsconfig.json
  packages/run/src/types.js
  packages/run/test/e2e/cli.spec.js
  packages/run/test/tsconfig.json
  packages/run/test/unit/args.spec.js
  packages/run/test/unit/install.spec.js
  packages/run/test/unit/resolve-bin.spec.js
  packages/run/test/unit/spec.spec.js
  packages/run/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: none

fix(run): harden install, isolate cache, and add run.js tests
  packages/run/README.md
  packages/run/package.json
  packages/run/src/error.js
  packages/run/src/index.js
  packages/run/src/install.js
  packages/run/src/resolve-bin.js
  packages/run/src/run.js
  packages/run/src/spec.js
  packages/run/test/e2e/cli.spec.js
  packages/run/test/unit/args.spec.js
  packages/run/test/unit/install.spec.js
  packages/run/test/unit/resolve-bin.spec.js
  packages/run/test/unit/run.spec.js
  packages/run/test/unit/spec.spec.js
Labels: none
