Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node): fix SES policy violation summary formatting
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

chore(eslint): update config for new version of eslint-plugin-jsonc
  eslint.config.mjs
Labels: none

chore(eslint): update config for new version of eslint-plugin-jsonc
  eslint.config.mjs
Labels: none

feat(laverna): support Yarn This adds support for Yarn v2 workspaces to `@lavamoat/laverna`.
  packages/laverna/README.md
  packages/laverna/src/index.js
  packages/laverna/src/publisher.js
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/fixture/yarn-workspace/package.json
  packages/laverna/test/fixture/yarn-workspace/packages/workspace1/package.json
  packages/laverna/test/fixture/yarn-workspace/yarn.lock
  packages/laverna/test/laverna.spec.js
Labels: pkg:@lavamoat/laverna

chore: add a node sandbox setup to speed up tryingthings out
  eslint.config.mjs
  packages/__sandbox__/README.md
  packages/__sandbox__/node/__package/index.js
  packages/__sandbox__/node/__package/package.json
  packages/__sandbox__/node/index.js
  packages/__sandbox__/node/lavamoat/node/policy.json
  packages/__sandbox__/node/package-lock.json
  packages/__sandbox__/node/package.json
Labels: none

feat(core): endow the ability to write to global symbols
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

fix(core): replace merge-deep with bespoke policy merge implementation
  .wallaby.cjs
  package-lock.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/core/src/mergePolicy.js
  packages/core/test/globals.spec.js
  packages/core/test/mergePolicy.spec.js
  packages/core/test/snapshots/mergePolicy.spec.js.md
  packages/core/test/snapshots/mergePolicy.spec.js.snap
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(node): update for memfs v4.x
  package-lock.json
  packages/node/package.json
  packages/node/test/integration/scenario-util.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(webpack): fix for memfs v4.x
  package-lock.json
  packages/node/test/unit/resolve.spec.js
  packages/webpack/package.json
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(node): update for memfs v4.x
  package-lock.json
  packages/node/package.json
  packages/node/test/integration/scenario-util.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(webpack): fix for memfs v4.x
  package-lock.json
  packages/node/test/unit/resolve.spec.js
  packages/webpack/package.json
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore(node): add eslint configuration for style
  eslint.config.mjs
  package-lock.json
  package.json
Labels: none

chore(eslint): validate config files against JSON schemas
  eslint.config.mjs
  package-lock.json
  package.json
Labels: none

chore: add knip & remove depcheck
  .knip.jsonc
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

test(e2e-dogfooding): added an easier version
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore(e2e-dogfood): create a working dummy project to test with
  packages/__e2e-dogfooding__/README.md
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/src/App.tsx
  packages/__e2e-dogfooding__/src/example.ts
  packages/__e2e-dogfooding__/src/index.tsx
  packages/__e2e-dogfooding__/src/styles.css
  packages/__e2e-dogfooding__/tsconfig.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

test(e2e-dogfood): add lavamoat setup and initial minimal test for building with lavamoat/node
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/webpack/policy.json
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(e2e-dogfood): fix annoying warning
  packages/__e2e-dogfooding__/src/App.tsx
Labels: none

docs(e2e-dogfooding): document running
  packages/__e2e-dogfooding__/README.md
Labels: none

chore(dogfood): updates to get webpack running under lavamoat
  package-lock.json
  package.json
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/build/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/build/policy.json
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy-override.json
  packages/__e2e-dogfooding__/package.json
  patches/@babel+helper-define-polyfill-provider+0.6.8.patch
  patches/graceful-fs+4.2.11.patch
Labels: none

fix(laverna)!: use @lavamoat/vog
  eslint.config.mjs
  package-lock.json
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

fix(tofu): handle discard binding
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

fix(core): replace merge-deep with bespoke policy merge implementation (#1909)
  .wallaby.cjs
  package-lock.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/core/src/mergePolicy.js
  packages/core/test/globals.spec.js
  packages/core/test/mergePolicy.spec.js
  packages/core/test/snapshots/mergePolicy.spec.js.md
  packages/core/test/snapshots/mergePolicy.spec.js.snap
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore: iteration on the design and low quality implementation plan
  designs/custom-capabilities.md
Labels: none

chore: ironed out misconceptions
  designs/custom-capabilities.md
Labels: none

chore: project management
  designs/implement_custom-capabilities.md
Labels: none

feat(core): capabilities
  designs/implement_custom-capabilities.md
  packages/core/src/endowmentsToolkit.js
  packages/core/test/evaluateCapabilities.spec.js
Labels: pkg:lavamoat-core

feat(core): capabilities
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

chore: intermediate progress with llm
  designs/custom-capabilities.md
Labels: none

chore: design custom capabilities
  designs/custom-capabilities.md
Labels: none

feat(core): capabilities
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

feat(core): capabilities - advance policy merging
  designs/custom-capabilities.md
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

chore(node): update static native tests to run under more platform/arch
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/darwin-arm64.js
  packages/node/test/unit/fixture/static-native/index.js
  packages/node/test/unit/fixture/static-native/linux-arm64.js
  packages/node/test/unit/fixture/static-native/linux-x64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/darwin-arm64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/linux-arm64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/linux-x64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/win32.js
  packages/node/test/unit/fixture/static-native/win32.js
  packages/node/test/unit/json-fixture/static-native.json
Labels: pkg:@lavamoat/node

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

chore(vscode): fix double-formatting
  .vscode/settings.json
Labels: none

chore(dogfood): upgrade lavamoat deps
  package-lock.json
  packages/__e2e-dogfooding__/package.json
Labels: none

feat(lavamoat-node): modernize resolve in lavamoat classic, opt-in only
  packages/lavamoat-node/src/kernel.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/src/resolve.js
Labels: pkg:lavamoat-node

chore(node): update static native tests to run under more platform/arch
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/darwin-arm64.js
  packages/node/test/unit/fixture/static-native/index.js
  packages/node/test/unit/fixture/static-native/linux-arm64.js
  packages/node/test/unit/fixture/static-native/linux-x64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/darwin-arm64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/linux-arm64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/linux-x64.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/win32.js
  packages/node/test/unit/fixture/static-native/win32.js
  packages/node/test/unit/json-fixture/static-native.json
Labels: pkg:@lavamoat/node

test(lavamoat-node): test the experimental resolve optin
  packages/lavamoat-node/package.json
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/src/resolve.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/resolve-compat/index.js
  packages/lavamoat-node/test/projects/resolve-compat/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/index.mjs
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/package.json
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/unexpected.js
  packages/lavamoat-node/test/projects/resolve-compat/package-lock.json
  packages/lavamoat-node/test/projects/resolve-compat/package.json
  packages/lavamoat-node/test/projects/resolve-compat/yarn.lock
Labels: pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
