Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore: update lockfile
  package-lock.json
Labels: none

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(policy): prettify schema after writing
  packages/policy/scripts/create-policy-schema.ts
Labels: none

chore(policy): add eslint config
  packages/policy/.eslintrc.cjs
Labels: none

chore(policy): add test exception for unsupported Node.js versions
  packages/policy/package.json
  packages/policy/scripts/test.js
Labels: none

feat(webpack): repair for window.event deprecated leaky poperty
  packages/webpack/src/runtime/repairs/eventsetter.js
  packages/webpack/src/runtime/repairs/index.js
Labels: pkg:@lavamoat/webpack

feat(core): endowments toolkit donor API
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(core): review cleanup
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(core): decouple writable store from root compartment global
  packages/core/package.json
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(core): rename test
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

test(core): add a failing test for an incomplete unwrap of a setter
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(core): type prepareTest in packages/core/test/endowmentsToolkit.spec.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

test(core): cover new behavior of other-realm global copy with a test
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(deps): update prettier-plugin-jsdoc (#1782)
  package-lock.json
  package.json
Labels: none

fix(webpack): MessageEvent repair should not prevent further overrides
  packages/webpack/src/runtime/repairs/messageevent.js
Labels: pkg:@lavamoat/webpack

feat(webpack): add generatePolicyOnly option
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/buildtime/utils.js
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-policy-gen.spec.js
Labels: pkg:@lavamoat/webpack

feat(webpack): static shims for runtime
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/lavamoat.d.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/assemble.spec.js
  packages/webpack/test/e2e-static-shims.spec.js
  packages/webpack/test/fixtures/static-shims/shim-before.js
  packages/webpack/test/fixtures/static-shims/shim-lockdown.js
Labels: pkg:@lavamoat/webpack

chore(webpack): mark staticShims as experimental
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-static-shims.spec.js
Labels: pkg:@lavamoat/webpack

wip
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore(webpack): fix lint
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-static-shims.spec.js
Labels: pkg:@lavamoat/webpack

test(webpack): stop worrying about slicing unicode wrong
  packages/webpack/test/assemble.spec.js
Labels: pkg:@lavamoat/webpack

fix: further simplify the window.event repair
  packages/webpack/src/runtime/repairs/eventsetter.js
Labels: pkg:@lavamoat/webpack

fix(webpack): fix the naive assumption that there can only be 1 module with a certain path
  packages/webpack/src/buildtime/aa.js
Labels: pkg:@lavamoat/webpack

test(webpack): add a test for duplicated modules (wip)
  packages/webpack/test/e2e-layers.spec.js
  packages/webpack/test/fixtures/main/layers/app.js
  packages/webpack/test/fixtures/main/layers/bootstrap.js
  packages/webpack/test/fixtures/main/layers/common.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

test(webpack): add a test for duplicated modules (wip2)
  packages/webpack/src/buildtime/aa.js
  packages/webpack/test/e2e-layers.spec.js
  packages/webpack/test/fixtures/main/layers/app.js
  packages/webpack/test/fixtures/main/layers/bootstrap.js
  packages/webpack/test/fixtures/main/layers/common.js
  packages/webpack/test/scaffold.js
  packages/webpack/test/snapshots/e2e-layers.spec.js.md
  packages/webpack/test/snapshots/e2e-layers.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore: typo fix
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

feat(webpack): fix shims going into unsafe chunk, configure runtime more reliably
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): fix shims going into unsafe chunk, configure runtime more reliably
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

feat(webpack): allow runtimeConfigurationPerChunk_experimental to control embedded runtime options
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

test(webpack): add a test for duplicated modules (done)
  packages/webpack/test/e2e-layers.spec.js
  packages/webpack/test/fixtures/main/layers/app.js
  packages/webpack/test/fixtures/main/layers/bootstrap.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

feat(webpack): null runtime
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore: fix snapshot test maybe
  packages/webpack/package.json
  packages/webpack/test/snapshots/e2e-layers.spec.js.md
  packages/webpack/test/snapshots/e2e-layers.spec.js.snap
Labels: pkg:@lavamoat/webpack

test(webpack): prevent regression on MessageEvent repair configurability
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

chore: clean up
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack

chore: clean up
  packages/webpack/test/snapshots/e2e-layers.spec.js.md
  packages/webpack/test/snapshots/e2e-layers.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore(webpack): nicer test scaffold
  packages/webpack/test/e2e-layers.spec.js
  packages/webpack/test/e2e-repairs.spec.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

fix(webpack): MessageEvent repair should not prevent further overrides (#1787)
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

test(webpack): cover runtimeConfigurationPerChunk_experimental
  packages/webpack/test/e2e-static-shims.spec.js
Labels: pkg:@lavamoat/webpack

chore: doc improvement
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

feat: redesign static shims
  packages/webpack/README.md
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-static-shims.spec.js
  packages/webpack/test/fixtures/static-shims/shim-before.js
  packages/webpack/test/fixtures/static-shims/shim-lockdown.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
