Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

feat(webpack): change how inlining lockdown is configured - from array of specific strings to a regexp
  packages/webpack/README.md
  packages/webpack/src/buildtime/emitSes.js
Labels: pkg:@lavamoat/webpack

fix(webpack): overwrite global aliases even if endowed
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

feat(webpack): avoid errors when code is instrumented for HMR despite HMR not being enabled
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

fix(webpack): wrap nmd and hmd wrappers equally
  packages/webpack/README.md
Labels: pkg:@lavamoat/webpack

feat(webpack): policy debugging capabilities and tighter tests
  packages/webpack/src/runtime/debug.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-policy-errors.spec.js
Labels: pkg:@lavamoat/webpack

feat(webpack): unlockedChunksUnsafe option to refrain from protecting selected chunks
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

cache natives against scuttled env
  packages/webpack/src/runtime/debug.js
Labels: pkg:@lavamoat/webpack

address missing e func
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

fix rebase issues
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

scuttle except for webpack
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

feat: experimental typespec stuff [ci skip]
  package-lock.json
  package.json
  packages/types/main.tsp
  packages/types/schema/@typespec/json-schema/lavamoat
  packages/types/schema/Policy.ts
  packages/types/src/index.ts
  packages/types/src/policy-schema/policy.tsp
  packages/types/test/hello.test.ts
  packages/types/test/test-host.ts
  packages/types/tsconfig.json
  packages/types/tspconfig.yaml
Labels: none

chore(node): make displayed paths human-readable-er
  packages/node/src/cli.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/resolve.js
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

chore(node): refactor PolicyGeneratorContext, LMRCache
  packages/node/.eslintrc.cjs
  packages/node/src/internal.ts
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore(node): better aggregated display of SES compat warnings
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

try
  packages/browserify/src/index.js
  packages/browserify/test/globalRef.spec.js
  packages/core/src/constants.ts
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core

fix
  packages/core/src/constants.ts
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

fix
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

fix
  packages/core/src/constants.js
Labels: pkg:lavamoat-core

fix
  packages/core/src/constants.js
Labels: pkg:lavamoat-core

fix
  packages/browserify/test/globalRef.spec.js
Labels: pkg:lavamoat-browserify

poc
  packages/web/README.md
  packages/web/src/index.js
Labels: none

chore(eslint): add rule for unused vars prefixed with _
  .config/eslintrc.typed-workspace.js
Labels: none

chore(node): add wallaby config
  .wallaby.cjs
  package-lock.json
  package.json
Labels: none

chore(node): fix eslint config
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

chore(node): WIP [ci skip]
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/node/src/compartment/import-hook.js
  packages/node/src/exec/run.js
  packages/node/src/fs.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/unit/exec-macros.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/policy/conversion-fixture/kitchen-sink/endo-policy-overrides.json
  packages/node/test/unit/policy/conversion-fixture/kitchen-sink/endo-policy.json
  packages/node/test/unit/policy/conversion-fixture/kitchen-sink/policy-overrides.json
  packages/node/test/unit/policy/conversion-fixture/kitchen-sink/policy.json
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/generation.spec.js.md
  packages/node/test/unit/policy/snapshots/generation.spec.js.snap
  packages/node/test/unit/resolve.spec.js
  packages/node/test/unit/scenario-util.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

Update packages/core/src/constants.js
  packages/core/src/constants.js
Labels: pkg:lavamoat-core

fix: remove extra exports
  packages/core/src/constants.js
Labels: pkg:lavamoat-core

merge bug fix
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(node,perf): upgrade @endo/compartment-mapper
  package-lock.json
  package.json
  packages/node/package.json
  packages/perf/package.json
Labels: pkg:lavamoat-perf, pkg:@lavamoat/node

chore(node): workaround for failure of Endo to parse "export * as x from 'y'"
  packages/node/src/index.js
Labels: pkg:@lavamoat/node

feat(node): better UX for specifying entry points
  packages/node/src/cli.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/bin-entry/.npmrc
  packages/node/test/e2e/fixture/bin-entry/README.md
  packages/node/test/e2e/fixture/bin-entry/app.js
  packages/node/test/e2e/fixture/bin-entry/lard-o-matic/bin.js
  packages/node/test/e2e/fixture/bin-entry/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin-entry/lard-o-matic/package.json
  packages/node/test/e2e/fixture/bin-entry/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/bin-entry/node_modules/.package-lock.json
  packages/node/test/e2e/fixture/bin-entry/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin-entry/package.json
  packages/node/test/e2e/fixture/extensionless/.npmrc
  packages/node/test/e2e/fixture/extensionless/README.md
  packages/node/test/e2e/fixture/extensionless/app.js
  packages/node/test/e2e/fixture/extensionless/lard-o-matic/bin
  packages/node/test/e2e/fixture/extensionless/lard-o-matic/index.js
  packages/node/test/e2e/fixture/extensionless/lard-o-matic/package.json
  packages/node/test/e2e/fixture/extensionless/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/extensionless/node_modules/.package-lock.json
  packages/node/test/e2e/fixture/extensionless/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/extensionless/package.json
  packages/node/test/e2e/snapshots/cli.spec.js.md
  packages/node/test/e2e/snapshots/cli.spec.js.snap
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture/bin-entry.json
  packages/node/test/unit/json-fixture/extensionless.json
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): reorganize E2E tests
  packages/node/test/e2e/cli-general.spec.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
  packages/node/test/e2e/snapshots/cli.spec.js.md
  packages/node/test/e2e/snapshots/cli.spec.js.snap
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(node): add tests for resolution utils - Unit tests for `resolveWorkspace()` and `resolveBinScript()` - E2E test for `resolveEntrypoint()` since it must use a real filesystem
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

fix(node): exec supports extensionless files
  packages/node/src/compartment/options.js
Labels: pkg:@lavamoat/node

chore(node): add TODO for execution unit test
  packages/node/test/unit/exec.spec.js
Labels: pkg:@lavamoat/node

chore(laverna,node,webpack): upgrade memfs
  package-lock.json
  package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/laverna, pkg:@lavamoat/node

chore: better clean:types script
  package.json
Labels: none

chore(node): allow override of entrypoints within JSON fixtures
  packages/node/test/types.ts
  packages/node/test/unit/exec-macros.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/json-fixture/README.md
  packages/node/test/unit/json-fixture/bin-entry.json
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(node): add --quiet and --verbose
  packages/node/src/cli.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add test for bin script entrypoint execution
  packages/node/test/unit/exec.spec.js
Labels: pkg:@lavamoat/node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
