Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(node): lint
  packages/node/src/exec/exec-parsers.js
  packages/node/src/exec/exec-visitor.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/policy-gen/parse-worker.js
  packages/node/src/policy-gen/pipeline-config.js
  packages/node/src/policy-gen/policy-gen-parsers.js
  packages/node/src/policy-gen/policy-gen-visitor.js
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

fix(node): enable more conditions
  packages/node/src/compartment/node-compartment-map.js
Labels: pkg:@lavamoat/node

fix(ses): update vendored ses
  packages/core/lib/lockdown.umd.js
Labels: pkg:lavamoat-core

chore(eslint): simplify eslint-plugin-ava use
  eslint.config.mjs
Labels: none

chore(node): fix test
  packages/node/test/unit/policy/policy-gen-visitor.spec.js
Labels: pkg:@lavamoat/node

chore: disable lockdown reporting when running tests
  packages/core/package.json
  packages/lavamoat-node/package.json
  packages/node/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node): upgrade @endo/evasive-transform
  package-lock.json
  packages/node/package.json
Labels: pkg:@lavamoat/node

fix(deps): upgrade Endo
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

fix(deps): upgrade @endo/compartment-mapper to v2.3.0
  package-lock.json
  package.json
  packages/node/package.json
Labels: pkg:@lavamoat/node

test: declutter the diff snapshot a little
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
  packages/harden/test/utils.js
Labels: none

fix: avoid accumulating NODE_OPTIONS
  packages/harden/src/runner/run-script-wrapper.cjs
Labels: none

feat(harden): runner scriptsConfig wildcard matching by prefix
  packages/harden/README.md
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/projects/runner-features/lavamoat/scripts.empty.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.permissions.json
  packages/harden/test/projects/runner-features/package.json
  packages/harden/test/runner.spec.js
Labels: none

fix(harden): cleaner PATH handling
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/runner.spec.js
Labels: none

feat(harden): verify lavamoat files integrity in case write to project root was allowed
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/make-run-script-wrapper.global.d.ts
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/src/runner/runner-bundler.js
  packages/harden/src/yarn/runner-plugin.js
Labels: none

feat(harden): debug config
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/template/lavamoat/scripts.debug.json
  packages/harden/src/yarn/opinions.js
Labels: none

chore(node): fix test type
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

fix(core): update vendored ses
  packages/core/lib/lockdown.umd.js
Labels: pkg:lavamoat-core

feat(harden): check --json option
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/tools/verifier.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

fix(harden): use the project root for `projectRoot` in the Yarn runner plugin
  packages/harden/src/yarn/runner-plugin.js
Labels: none

chore: Apply suggestions from code review
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/runner.spec.js
Labels: none

chore(core): cleanup tweak in compactPolicyOverride
  packages/core/src/compact.js
Labels: pkg:lavamoat-core

chore: revert "chore: disable lockdown reporting when running tests"
  packages/core/package.json
  packages/lavamoat-node/package.json
  packages/node/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/node, pkg:lavamoat-node

fix(react-native-lockdown,webpack): revert ses upgrade
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:@lavamoat/webpack

chore(node): cleanup in policy-gen-parsers.js
  packages/node/src/policy-gen/policy-gen-parsers.js
Labels: pkg:@lavamoat/node

chore(node): tweak parse-worker.js
  packages/node/src/policy-gen/parse-worker.js
Labels: pkg:@lavamoat/node

chore: update lockfile
  package-lock.json
Labels: none

fix(node): restrict default set of conditionals
  packages/node/src/compartment/node-compartment-map.js
Labels: pkg:@lavamoat/node

feat(types)!: expand LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core)!: support expanded LavaMoatPolicy.include
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

feat(harden): check --json option
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/tools/verifier.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

chore: enable corepack for harden tests
  packages/harden/package.json
Labels: none

wip
  packages/harden/package.json
  packages/harden/src/npm/opinions.js
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/projects/runner-workspace-npm/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-npm/package.json
  packages/harden/test/projects/runner-workspace-npm/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-pnpm/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-pnpm/package.json
  packages/harden/test/projects/runner-workspace-pnpm/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-pnpm/pnpm-workspace.yaml
  packages/harden/test/projects/runner-workspace-yarn/lavamoat/scripts.loose.json
  packages/harden/test/projects/runner-workspace-yarn/package.json
  packages/harden/test/projects/runner-workspace-yarn/packages/nested/package.json
  packages/harden/test/projects/runner-workspace-yarn/yarn.lock
  packages/harden/test/runner.spec.js
Labels: none

fix(harden): use the project root for `projectRoot` in the Yarn runner plugin
  packages/harden/src/yarn/runner-plugin.js
Labels: none
