Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

setup and test for yarn. can proceed with implementation
  eslint.config.mjs
  package-lock.json
  packages/harden/package.json
  packages/harden/pnpm-lock.yaml
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/runner.cjs
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/buildRunners.js
  packages/harden/src/runner/makeRunScriptWrapper.global.d.ts
  packages/harden/src/runner/runnerBundler.js
  packages/harden/src/template/lavamoat/.runner.npm.cjs
  packages/harden/src/template/lavamoat/.runner.yarn4.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/lavamoat-folder.spec.js
  packages/harden/test/projects/runner-yarn/package.json
  packages/harden/test/runner-bundler.spec.js
  packages/harden/test/runner.spec.js
Labels: none

cleanup
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/makeRunScriptWrapper.global.d.ts
  packages/harden/src/runner/runScriptWrapper.cjs
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/runner.spec.js
Labels: none

working yarn scripts plugin
  packages/harden/package.json
  packages/harden/src/index.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/projects/runner-npm/package.json
  packages/harden/test/projects/runner-pnpm/package.json
  packages/harden/test/projects/runner-yarn/package.json
  packages/harden/test/runner.spec.js
Labels: none

fixing tests
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/versions.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/lm-build-allowlist.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/index.spec.js
  packages/harden/test/projects/npm/package.json
  packages/harden/test/projects/pnpm/package.json
  packages/harden/test/projects/runner-yarn/yarn.lock
  packages/harden/test/projects/yarn/package.json
  packages/harden/test/runner-bundler.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/versions.spec.js
  packages/harden/test/yaml-config.spec.js
Labels: none

v0.4.0
  packages/harden/package-lock.json
  packages/harden/package.json
  packages/harden/test/yaml-config.spec.js
Labels: none

feat: extend node permissions with new features - env variable support and tmp access
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/makeRunScriptWrapper.global.d.ts
  packages/harden/src/runner/runScriptWrapper.cjs
  packages/harden/src/template/lavamoat/scripts.loose.json
  packages/harden/src/template/lavamoat/scripts.strict.json
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/idempotency.spec.js
  packages/harden/test/prepare.js
  packages/harden/test/snapshots/idempotency.spec.js.md
  packages/harden/test/snapshots/idempotency.spec.js.snap
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
  packages/harden/test/utils.js
  packages/harden/test/with-scripts.spec.js
Labels: none

v0.5.0
  packages/harden/package-lock.json
  packages/harden/package.json
  packages/harden/pnpm-lock.yaml
Labels: none

fix(react-native-lockdown)!: update engines
  packages/react-native-lockdown/package.json
Labels: none

chore: add installed-check to lint scripts
  package-lock.json
  package.json
Labels: none

chore: avoid @internal in JS sources (#2062)
  eslint.config.mjs
  packages/aa/src/index.js
  packages/laverna/src/index.js
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/exec-compartment-class.js
  packages/node/src/format.js
  packages/node/src/fs.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/util.js
  packages/node/src/worker-pool.js
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/laverna, pkg:@lavamoat/node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

Apply suggestions from code review
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/tools/detect.js
Labels: none

fix: tmp on macos is a symlink
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/runner.cjs
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/makeRunScriptWrapper.global.d.ts
  packages/harden/src/runner/runScriptWrapper.cjs
  packages/harden/src/tools/types.ts
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/runner-plugin.js
Labels: none

cleanup
  packages/harden/src/runner/runnerBundler.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/lavamoat-folder.js
  packages/harden/src/tools/types.ts
  packages/harden/test/prepare.js
Labels: none

types clenup
  packages/harden/README.md
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/makeRunScriptWrapper.global.d.ts
  packages/harden/src/runner/runScriptWrapper.cjs
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/types.ts
Labels: none

add missing dep specification
  package-lock.json
  packages/harden/package.json
Labels: none

silence depcheck
  packages/harden/.depcheckrc.yml
Labels: none

harden verify command, which forced me to revamp the verification of opinions being applied beyond what wizard needed for the initial summary printout
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/index.js
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/build-allowlist.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/detect.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/opinions-engine.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/verifier.js
  packages/harden/src/tools/versions.js
  packages/harden/src/tools/wizard.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/index.spec.js
  packages/harden/test/snapshots/idempotency.spec.js.md
  packages/harden/test/snapshots/idempotency.spec.js.snap
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
  packages/harden/test/with-scripts.spec.js
Labels: none

no more build
  packages/harden/package.json
Labels: none

remove unnecessary file
  packages/harden/test/prepare.js
Labels: none

test setup cleanup
  packages/harden/package.json
Labels: none

chore: update .github/workflows/commitlint.yml
  .github/workflows/commitlint.yml
Labels: none

chore(ci): use installed commitlint to lint PR commits (#2054)
  .github/workflows/commitlint.yml
Labels: none

chore(ci): lint stuff in parallel (#2063)
  .github/workflows/nodejs.yml
Labels: none

fix(lavapack)!: minimum ES version now ES2023
  packages/lavapack/src/builder-runtime.js
Labels: pkg:@lavamoat/lavapack

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

feat(node): add --compact-overrides flag for policy override compaction
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(deps): upgrade Endo
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

chore(node): refactors
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-gen/policy-gen-parsers.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/test/tsconfig.json
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

fix(node): throw a NoPolicyError if expected policy override not found
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

chore(node): tweak error message during policy gen
  packages/node/src/policy-gen/policy-gen-visitor.js
Labels: pkg:@lavamoat/node

fix(node): do not display warning about compaction when compaction triggers
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
Labels: pkg:@lavamoat/node

feat(types)!: expand LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core)!: support expanded LavaMoatPolicy.include
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
