Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(run): satisfy prettier and sync lockfile for @lavamoat/types
  package-lock.json
  packages/run/src/install.js
  packages/run/src/spec.js
  packages/run/test/unit/run.spec.js
Labels: none

test(run): satisfy ava/use-true-false and depcheck
  packages/run/.depcheckrc.yml
  packages/run/test/unit/run.spec.js
Labels: none

fix
  packages/harden/package-lock.json
  packages/harden/package.json
  packages/harden/src/template/lavamoat/.runner.js
  packages/harden/src/yarn/opinions.js
Labels: none

runner fixes
  eslint.config.mjs
  packages/harden/package-lock.json
  packages/harden/package.json
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/template/lavamoat/.runner.cjs
  packages/harden/src/template/lavamoat/README.md
  packages/harden/test/projects/runner-npm/.npmrc
  packages/harden/test/projects/runner-npm/package.json
  packages/harden/test/projects/runner-pnpm/package.json
  packages/harden/test/projects/runner-pnpm/pnpm-workspace.yaml
  packages/harden/test/runner.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

fix(core): validate policy structure during load
  packages/core/src/loadPolicy.js
Labels: pkg:lavamoat-core

fix: Bump yargs
  package-lock.json
  packages/allow-scripts/package.json
  packages/lavamoat-node/package.json
  packages/node/package.json
Labels: pkg:@lavamoat/allow-scripts, pkg:@lavamoat/node, pkg:lavamoat-node

fix: Bump yargs (#2027)
  package-lock.json
  packages/allow-scripts/package.json
  packages/lavamoat-node/package.json
  packages/node/package.json
Labels: pkg:@lavamoat/allow-scripts, pkg:@lavamoat/node, pkg:lavamoat-node

feat(tofu): Inspect globals passed as function arguments
  packages/tofu/src/inspectSource.js
  packages/tofu/test/inspectGlobals.spec.js
Labels: pkg:lavamoat-tofu

Move keyPath shift down
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

fix(lavamoat-node): remove corepack as prod dep
  package-lock.json
  package.json
  packages/lavamoat-node/package.json
Labels: pkg:lavamoat-node

fix(deps): upgrade @yarnpkg/*
  package-lock.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

feat(node): add --compact flag for policy override compaction
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(deps): upgrade Endo
  package-lock.json
  package.json
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(types): support additionalLocations
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): add merge support for LavaMoatPolicy.additionalLocations
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

chore(e2e-dogfood): create a working dummy project to test with
  packages/__e2e-dogfooding__/README.md
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/src/App.tsx
  packages/__e2e-dogfooding__/src/example.ts
  packages/__e2e-dogfooding__/src/index.tsx
  packages/__e2e-dogfooding__/src/styles.css
  packages/__e2e-dogfooding__/tsconfig.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(e2e-dogfood): fix annoying warning
  packages/__e2e-dogfooding__/src/App.tsx
Labels: none

test(e2e-dogfood): add lavamoat setup and initial minimal test for building with lavamoat/node
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/webpack/policy.json
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(dogfood): updates to get webpack running under lavamoat
  package-lock.json
  package.json
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/build/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/build/policy.json
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy-override.json
  packages/__e2e-dogfooding__/package.json
  patches/@babel+helper-define-polyfill-provider+0.6.8.patch
  patches/graceful-fs+4.2.11.patch
Labels: none

test(e2e-dogfooding): added an easier version
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

docs(e2e-dogfooding): document running
  packages/__e2e-dogfooding__/README.md
Labels: none

chore(dogfood): upgrade lavamoat deps
  package-lock.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore: update deps
  package-lock.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore: update policies
  packages/__e2e-dogfooding__/lavamoat/node_2/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
Labels: none

chore: update patches
  patches/@babel+helper-module-imports+7.28.6.patch
  patches/graceful-fs+4.2.11.patch
Labels: none

chore: update policy and deps
  package-lock.json
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore(dogfood): policy updates (wip)
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
  patches/@babel+helper-module-imports+7.29.7.patch
Labels: none

chore(ci): remove rerun macOS workflow
  .github/workflows/nodejs-macos.yml
  .github/workflows/rerun.yml
Labels: none

fix(yarn-plugin-allow-scripts): rebuild
  packages/yarn-plugin-allow-scripts/README.md
  packages/yarn-plugin-allow-scripts/bundles/@yarnpkg/plugin-allow-scripts.js
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts

fix(lavamoat-node): remove corepack as prod dep (#2030)
  package-lock.json
  package.json
  packages/lavamoat-node/package.json
Labels: pkg:lavamoat-node

fix(deps): upgrade @yarnpkg/* (#2022)
  package-lock.json
  packages/yarn-plugin-allow-scripts/README.md
  packages/yarn-plugin-allow-scripts/bundles/@yarnpkg/plugin-allow-scripts.js
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts

chore(ci): remove rerun macOS workflow (#2033)
  .github/workflows/nodejs-macos.yml
  .github/workflows/rerun.yml
Labels: none

chore: rewording from review
  packages/allow-scripts/README.md
  packages/allow-scripts/src/report.js
Labels: pkg:@lavamoat/allow-scripts

feat(allow-scripts): add a check command to warn an update is needed in CI
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/test/index.spec.js
Labels: pkg:@lavamoat/allow-scripts

chore: fix missing type
  packages/allow-scripts/src/report.js
Labels: pkg:@lavamoat/allow-scripts

feat(allow-scripts): add a check command to warn an update is needed in CI (#1964)
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/test/index.spec.js
Labels: pkg:@lavamoat/allow-scripts

chore: remove old webpack error coment
  packages/webpack/src/buildtime/modulesData.js
Labels: pkg:@lavamoat/webpack

chore: open up features and fixes reviews to a potentially wider group (#1861)
  .github/CODEOWNERS
Labels: none

fix(pkg)!: drop support for Node.js v20.x
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/browserify/package.json
  packages/core/package.json
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/preinstall-always-fail/package.json
  packages/react-native-lockdown/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
