Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(policy): add test exception for unsupported Node.js versions
  packages/policy/package.json
  packages/policy/scripts/test.js
Labels: none

chore(node): add eslint configuration for style
  package-lock.json
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

wip [ci skip]
  package-lock.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/log.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/report.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/resolve.js
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/unit/exec/exec-macros.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

feat(vog): make vog
  packages/vog/.depcheckrc.yml
  packages/vog/LICENSE
  packages/vog/README.md
  packages/vog/package.json
  packages/vog/src/index.ts
  packages/vog/src/log.ts
  packages/vog/src/progress.ts
  packages/vog/src/spinner.ts
  packages/vog/src/tsconfig.json
  packages/vog/src/util.ts
  packages/vog/tsconfig.json
  tsconfig.json
Labels: none

fix(node): use vog
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/log.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/resolve.spec.js
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
Labels: pkg:@lavamoat/node

wip [ci skip]
  packages/node/src/cli.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/tsconfig.json
  packages/vog/src/progress.ts
  packages/vog/src/spinner.ts
Labels: pkg:@lavamoat/node

fix(core): update vendoered ses
  packages/core/lib/lockdown.umd.js
Labels: pkg:lavamoat-core

docs: add to roadmap
  ROADMAP.md
Labels: none

docs: roadmap
  ROADMAP.md
Labels: none

docs: roadmap
  ROADMAP.md
Labels: none

fix(webpack): Actually working MessageEvent repair
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

chore(renovate): group all Endo-related updates
  .github/renovate.json5
Labels: none

docs(roadmap): reorganize into sections & add stuff
  ROADMAP.md
Labels: none

fix(webpack): avoid scuttling the global Webpack uses for sharing chunks
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

test(webpack): doublecheck that the property is not only unscuttled but also exists
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

chore: squashme: Apply suggestions from code review
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

wip
  packages/webpack/src/runtime/hardeners/allPrototypes.js
  packages/webpack/src/runtime/hardeners/index.js
  packages/webpack/src/runtime/hardeners/ownIntrinsics.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore(node): try increasing timeout to make mac CI fail less
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(git-safe): increase resilience against network conditions and github failures
  packages/git-safe-dependencies/src/cache.js
  packages/git-safe-dependencies/src/validate-git.js
Labels: none

fix(webpack): avoid scuttling the global Webpack uses for sharing chunks (#1762)
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

fix(webpack): Actually working MessageEvent repair
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

feat(webpack): repairs for globals that need more than unwrap from core
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-repairs.spec.js
  packages/webpack/test/fixtures/main/node_modules/message-package/index.js
  packages/webpack/test/fixtures/main/node_modules/message-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/src/repairs.js
  packages/webpack/test/fixtures/main/webpack.config.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

feat(webpack): update lockdown settings for better compatibility and easier debugging
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

test(webpack): test multiple MessageEvent endowments
  packages/webpack/test/e2e-repairs.spec.js
  packages/webpack/test/fixtures/main/node_modules/another-message-package/index.js
  packages/webpack/test/fixtures/main/node_modules/another-message-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/src/repairs.js
Labels: pkg:@lavamoat/webpack

fix(webpack): improve repairs matching
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/src/runtime/repairsBuilder.js
Labels: pkg:@lavamoat/webpack

chore(node): try increasing timeout to make mac CI fail less
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(git-safe): increase resilience against network conditions and github failures
  packages/git-safe-dependencies/src/cache.js
  packages/git-safe-dependencies/src/validate-git.js
Labels: none

chore: fix the mess
  package-lock.json
Labels: none

feat(webpack): isolate parts of the app to contain slop
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/main.js
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/fixtures/main/slop/index.js
  packages/webpack/test/fixtures/main/src/moreslop/index.js
  packages/webpack/test/fixtures/main/webpack.config.js
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.md
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.snap
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.md
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.snap
Labels: pkg:@lavamoat/webpack

fix(webpack): avoid scuttling the global Webpack uses for sharing chunks (#1762)
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-scuttle.spec.js
Labels: pkg:@lavamoat/webpack

feat(webpack): opt-out of repairs with plugin options
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

chore: suggestions from code review
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

fix(aa): avoid colliding symlinks between tests - cleanup was async and overlapping (#1747)
  packages/aa/test/symlink-perf.spec.js
  packages/aa/test/utils.js
Labels: pkg:@lavamoat/aa
