Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(deps): upgrade @endo/compartment-mapper to v2.3.0
  package-lock.json
  package.json
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

docs(harden): update README.md
  packages/harden/README.md
Labels: none

feat: analyzer tool that visualizes the coverage of bundle chunks and runtimes - much wip
  packages/webpack/src/buildtime/analyze.js
  packages/webpack/src/buildtime/analyzer.html
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e.manual.js
Labels: pkg:@lavamoat/webpack

test: prevent regressions in how defensive preamble is added to the runtime chunk
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-defensive-preamble.spec.js
Labels: pkg:@lavamoat/webpack

fix: stabilize diff output by forcing a locale
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
  packages/harden/test/utils.js
Labels: none

chore: prevent complaints about npm version from breaking tests
  .github/actions/prepare/action.yml
Labels: none

chore: rename paranoid to strict
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/build-allowlist.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/opinions-engine.js
  packages/harden/src/tools/types.ts
  packages/harden/src/yarn/lm-build-allowlist.js
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/yarn-build-allowlist.js
  packages/harden/test/idempotency.spec.js
  packages/harden/test/index.spec.js
  packages/harden/test/runner.spec.js
  packages/harden/test/snapshots/idempotency.spec.js.md
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/with-scripts.spec.js
Labels: none

fix: use an async generator for filtering opinions to fix the order of questions in the wizard
  packages/harden/src/tools/filter-opinions.js
  packages/harden/src/tools/opinions-engine.js
Labels: none

fix: more precise logic for package manager versioning
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/runScriptWrapper.cjs
  packages/harden/src/tools/fallback-decisions.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/versions.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/projects/yarn/package.json
  packages/harden/test/snapshots/idempotency.spec.js.md
  packages/harden/test/snapshots/idempotency.spec.js.snap
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
Labels: none

chore(node): lint
  packages/node/src/exec/exec-parsers.js
  packages/node/src/exec/exec-visitor.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/policy-gen/parse-worker.js
  packages/node/src/policy-gen/pipeline-config.js
  packages/node/src/policy-gen/policy-gen-parsers.js
  packages/node/src/policy-gen/policy-gen-visitor.js
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

chore(node): update for changes to findUnknownCanonicalNames signature
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

feat(core)!: support expanded LavaMoatPolicy.include
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

feat(types)!: expand LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat: decision snapshot
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/tools/default-decisions.js
  packages/harden/src/tools/types.ts
  packages/harden/src/tools/wizard.js
  packages/harden/src/yarn/yarn-build-allowlist.js
  packages/harden/test/idempotency.spec.js
  packages/harden/test/index.spec.js
  packages/harden/test/projects/runner-yarn/package.json
  packages/harden/test/projects/runner-yarn/yarn.lock
  packages/harden/test/runner.spec.js
  packages/harden/test/with-scripts.spec.js
Labels: none

feat: saving a snapshot
  packages/harden/README.md
  packages/harden/src/cli.js
  packages/harden/src/tools/default-decisions.js
  packages/harden/src/tools/wizard.js
Labels: none

fix: remaining fluff to make CI pass
  packages/harden/test/utils.js
Labels: none

fix: nits
  packages/harden/src/npm/build-allowlist.js
  packages/harden/src/npm/opinions.js
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/tools/packagejson.js
  packages/harden/src/yarn/opinions.js
  packages/harden/src/yarn/runner-plugin.js
Labels: none

chore: rename verify to check
  packages/harden/README.md
  packages/harden/src/cli.js
Labels: none

README cleanup and minor additions to opinions
  packages/harden/README.md
  packages/harden/src/npm/opinions.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
  packages/harden/test/snapshots/with-scripts.spec.js.md
  packages/harden/test/snapshots/with-scripts.spec.js.snap
Labels: none

fix(core): prevent the endowment logic from skipping writable fields
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

v0.6.0
  packages/harden/package-lock.json
  packages/harden/package.json
Labels: none

test: adopt two repros from the bug report of global functions getting wrapped incorrectly
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

fix: partial fix to wrapping, complete tests uncovering more issues
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore: squash; an attempt. not sure I like it
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix: improvements to instrumentDynamicValue
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore: file names consistency
  packages/harden/src/npm/opinions.js
  packages/harden/src/npm/runner.cjs
  packages/harden/src/pnpm/opinions.js
  packages/harden/src/runner/make-run-script-wrapper.global.d.ts
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/src/runner/runner-bundler.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/legacy-yarnrc.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/runner-bundler.spec.js
Labels: none

chore: add @lavamoat/harden to release setup
  .release-please-manifest.json
  RELEASE.md
  packages/harden/package.json
  release-please-config.json
Labels: none

chore: add @lavamoat/harden to release setup (#2084)
  .release-please-manifest.json
  RELEASE.md
  packages/harden/package.json
  release-please-config.json
Labels: none

chore: configure min-release-age exclusions
  .npmrc
Labels: none

chore: configure min-release-age exclusions (#2086)
  .npmrc
Labels: none

feat(webpack): capture importScripts reference for use in runtime despite scuttling (#2070)
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-defensive-preamble.spec.js
Labels: pkg:@lavamoat/webpack

feat(node): add --compact-overrides flag for policy override compaction
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

feat(core): expose policy override compact function
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
Labels: pkg:lavamoat-core

chore(node): refactors
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-gen/policy-gen-parsers.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/test/tsconfig.json
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

chore(node): tweak error message during policy gen
  packages/node/src/policy-gen/policy-gen-visitor.js
Labels: pkg:@lavamoat/node

fix(node): do not display warning about compaction when compaction triggers
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
Labels: pkg:@lavamoat/node

fix(deps): upgrade Endo
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/react-native-lockdown/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(node): throw a NoPolicyError if expected policy override not found
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

chore(node): update for changes to findUnknownCanonicalNames signature
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
