Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

chore(deps): remove unused dep
  package-lock.json
  package.json
Labels: none

fix(deps): upgrade js-yaml (#2099)
  package-lock.json
  packages/git-safe-dependencies/package.json
Labels: none

fix(harden): avoid test flakiness by relying less on one run per process
  packages/harden/src/index.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/with-scripts.spec.js
Labels: none

fix(harden): --allow-fs-tmp needs to explicitly set read and write
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/projects/runner-features/lavamoat/scripts.permissions.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.tmp.json
  packages/harden/test/projects/runner-features/package.json
  packages/harden/test/projects/runner-features/tmp-rw.js
  packages/harden/test/runner.spec.js
Labels: none

chore: apply review sugestions
  packages/harden/src/index.js
  packages/harden/test/with-scripts.spec.js
Labels: none

fix(harden): add correct handling for verifying an opinion without changes
  packages/harden/src/tools/apply-change.js
Labels: none

chore(browserify): increase ava timeout
  packages/browserify/ava.config.mjs
Labels: pkg:lavamoat-browserify

fix(harden): avoid test flakiness by relying less on one run per process (#2103)
  packages/harden/src/index.js
  packages/harden/src/tools/apply-change.js
  packages/harden/src/tools/yaml-config.js
  packages/harden/src/yarn/opinions.js
  packages/harden/test/with-scripts.spec.js
Labels: none

chore(node): increase test timeout - slower on macos
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(browserify): increase ava timeout (#2098)
  packages/browserify/ava.config.mjs
  packages/node/package.json
Labels: pkg:lavamoat-browserify, pkg:@lavamoat/node

feat(types)!: expand LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core)!: support expanded LavaMoatPolicy.include
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
Labels: pkg:lavamoat-core

docs: update RELEASE.md
  RELEASE.md
Labels: none

chore(ci): migrate from release-please to Changesets
  .changeset/README.md
  .changeset/config.json
  .github/actions/prepare/action.yml
  .github/workflows/release-please.yml
  .github/zizmor.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Labels: none

chore(ci): zizmor lint fixes
  .github/workflows/assign-author.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/labeler.yml
  .github/workflows/nodejs-macos.yml
  .github/workflows/nodejs-win.yml
  .github/workflows/nodejs.yml
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

chore(renovate): group memfs-related packages
  .github/renovate.json5
Labels: none

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(deps): remove unused dep
  package-lock.json
  package.json
Labels: none

fix(harden): improve shell-script location resolution in npm
  packages/harden/README.md
  packages/harden/src/npm/opinions.js
  packages/harden/test/runner.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

chore: fix missing return value that I fixed before but lost somewhere
  packages/harden/src/runner/run-script-wrapper.cjs
Labels: none

chore: verbiage fixes from review
  packages/harden/README.md
  packages/harden/src/npm/opinions.js
Labels: none

fix(harden): improve shell-script location resolution in npm (#2109)
  packages/harden/README.md
  packages/harden/src/npm/opinions.js
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/runner.spec.js
  packages/harden/test/snapshots/index.spec.js.md
  packages/harden/test/snapshots/index.spec.js.snap
Labels: none

fix(harden): avoid breaking over limited fs reaed when resolving tmpdir symlink, stage1
  packages/harden/src/runner/run-script-wrapper.cjs
Labels: none

test: adjust the testcase for tmpdir symlink on mac to avoid depending on fs read of all parents
  packages/harden/test/projects/runner-features/tmp-rw.js
Labels: none

fix(harden): --allow-fs-tmp needs to explicitly set read and write
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/test/projects/runner-features/lavamoat/scripts.permissions.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.tmp.json
  packages/harden/test/projects/runner-features/package.json
  packages/harden/test/projects/runner-features/tmp-rw.js
  packages/harden/test/runner.spec.js
Labels: none

fix(harden): fallback for forbidden realpath
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/make-run-script-wrapper.global.d.ts
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/src/yarn/runner-plugin.js
Labels: none

chore: cleanup
  packages/harden/src/runner/make-run-script-wrapper.global.d.ts
  packages/harden/src/runner/run-script-wrapper.cjs
Labels: none

fix(harden): --allow-fs-tmp needs to explicitly set read and write (#2104)
  packages/harden/src/npm/runner.cjs
  packages/harden/src/runner/make-run-script-wrapper.global.d.ts
  packages/harden/src/runner/run-script-wrapper.cjs
  packages/harden/src/yarn/runner-plugin.js
  packages/harden/test/projects/runner-features/lavamoat/scripts.permissions.json
  packages/harden/test/projects/runner-features/lavamoat/scripts.tmp.json
  packages/harden/test/projects/runner-features/package.json
  packages/harden/test/projects/runner-features/tmp-rw.js
  packages/harden/test/runner.spec.js
Labels: none

chore(renovate): group memfs-related packages (#2106)
  .github/renovate.json5
Labels: none

chore: fix test setup
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/projects/.gitignore
  packages/allow-scripts/test/projects/1/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(deps): remove unused dep (#2095)
  package-lock.json
  package.json
Labels: none
