Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

feat(tofu): enable deep dependency analysis of ES modules
  packages/tofu/src/inspectSource.js
  packages/tofu/test/inspectEsmImports.spec.js
Labels: pkg:lavamoat-tofu

feat(core): add informative errors when the result of policy merge contains invalid entries
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
  packages/tofu/src/util.js
Labels: pkg:lavamoat-core, pkg:lavamoat-tofu

chore: push missing snapshot files
  packages/core/test/snapshots/mergePolicy.spec.js.md
  packages/core/test/snapshots/mergePolicy.spec.js.snap
Labels: pkg:lavamoat-core

fix(core): transfer prototype over to a wraped function
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(core): add informative errors when the result of policy merge contains invalid entries (#1848)
  packages/core/src/mergePolicy.js
  packages/core/test/mergePolicy.spec.js
  packages/core/test/snapshots/mergePolicy.spec.js.md
  packages/core/test/snapshots/mergePolicy.spec.js.snap
  packages/tofu/src/util.js
Labels: pkg:lavamoat-core, pkg:lavamoat-tofu

fix(core): transfer prototype over to a wraped function (#1847)
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(tofu): enable deep dependency analysis of ES modules
  packages/tofu/src/inspectSource.js
  packages/tofu/test/inspectEsmImports.spec.js
Labels: pkg:lavamoat-tofu

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

feat(policy): create @lavamoat/policy
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  package-lock.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

chore(policy): prettify schema after writing
  packages/policy/scripts/create-policy-schema.ts
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none

chore: build types first
  .github/actions/test/action.yml
  package.json
Labels: none

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

feat(node): add "validate" command; use @lavamoat/policy
  package-lock.json
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/policy-util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

chore(policy): add eslint config
  packages/policy/.eslintrc.cjs
Labels: none

chore(policy): add test exception for unsupported Node.js versions
  packages/policy/package.json
  packages/policy/scripts/test.js
Labels: none

chore(node): refactor some utils
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore: update lockfile
  package-lock.json
Labels: none

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

feat(core): export MODULE_REFS
  packages/core/src/index.js
Labels: pkg:lavamoat-core

feat(types): add "include" prop to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore: lint
  packages/node/src/policy-util.js
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

fix(node): update code to use latest version of https://github.com/endojs/endo/pull/2988
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(vscode): exclude packages/*/types directories from quick open/search (generated declarations)
  .vscode/settings.json
Labels: none

feat(core): export MODULE_REFS
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

chore(node): re-export FileUrlString from endo
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

chore(node): remove ban-types rule from eslint config
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(node): lint/reformat everything
  package-lock.json
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/compartment/power.js
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/exec/default-attenuator.js
  packages/node/src/format.js
  packages/node/src/log.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-util.js
  packages/node/src/preamble.js
  packages/node/src/resolve.js
  packages/node/test/e2e/cli-general.spec.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/integration/scenario-util.js
  packages/node/test/integration/scenario.spec.js
  packages/node/test/stubs.d.ts
  packages/node/test/test-util.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/resolve.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore: rename copilot-instructions.md to AGENTS.md
  AGENTS.md
Labels: none

docs: Set up comprehensive GitHub Copilot instructions for LavaMoat development (#1756)
  AGENTS.md
Labels: none

chore: limit when renovate runs (#1776)
  .github/renovate.json5
Labels: none

fix(deps): fix npm audit issues
  package-lock.json
  package.json
  packages/allow-scripts/package.json
  packages/git-safe-dependencies/package.json
  packages/laverna/package.json
Labels: pkg:@lavamoat/allow-scripts, pkg:@lavamoat/laverna

fix(deps): fix npm audit issues (#1853)
  package-lock.json
  package.json
  packages/allow-scripts/package.json
  packages/git-safe-dependencies/package.json
  packages/laverna/package.json
Labels: pkg:@lavamoat/allow-scripts, pkg:@lavamoat/laverna

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
