Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore(policy): add a moatload of integration tests
  packages/policy/test/fixture/policy-1.json
  packages/policy/test/fixture/policy-10.json
  packages/policy/test/fixture/policy-11.json
  packages/policy/test/fixture/policy-12.json
  packages/policy/test/fixture/policy-13.json
  packages/policy/test/fixture/policy-14.json
  packages/policy/test/fixture/policy-15.json
  packages/policy/test/fixture/policy-16.json
  packages/policy/test/fixture/policy-17.json
  packages/policy/test/fixture/policy-18.json
  packages/policy/test/fixture/policy-19.json
  packages/policy/test/fixture/policy-2.json
  packages/policy/test/fixture/policy-20.json
  packages/policy/test/fixture/policy-21.json
  packages/policy/test/fixture/policy-22.json
  packages/policy/test/fixture/policy-3.json
  packages/policy/test/fixture/policy-4.json
  packages/policy/test/fixture/policy-5.json
  packages/policy/test/fixture/policy-6.json
  packages/policy/test/fixture/policy-7.json
  packages/policy/test/fixture/policy-8.json
  packages/policy/test/fixture/policy-9.json
  packages/policy/test/policy-schema.spec.ts
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

fix(browserify,core,lavamoat-node,node): do not publish extraneous files
  packages/browserify/package.json
  packages/core/package.json
  packages/lavamoat-node/package.json
  packages/node/package.json
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/node, pkg:lavamoat-node

fix(core): untangle another tsc confusion in generating .d.ts files
  packages/core/src/options.js
  packages/core/src/types.ts
  packages/core/test/scenario.ts
Labels: pkg:lavamoat-core

fix(browserify,core,lavamoat-node,node): do not publish extraneous files (#1866)
  packages/browserify/package.json
  packages/core/package.json
  packages/lavamoat-node/package.json
  packages/node/package.json
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/node, pkg:lavamoat-node

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

feat(policy): create @lavamoat/policy
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.eslintrc.cjs
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/test.js
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: none

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  package-lock.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

fix(policy): canonical names can have capital letters
  packages/policy/src/policy-schema.ts
Labels: none

chore: remove depcheck
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore: add knip
  .knip.jsonc
  package.json
Labels: none

chore(policy): add a moatload of integration tests
  packages/policy/test/fixture/policy-1.json
  packages/policy/test/fixture/policy-10.json
  packages/policy/test/fixture/policy-11.json
  packages/policy/test/fixture/policy-12.json
  packages/policy/test/fixture/policy-13.json
  packages/policy/test/fixture/policy-14.json
  packages/policy/test/fixture/policy-15.json
  packages/policy/test/fixture/policy-16.json
  packages/policy/test/fixture/policy-17.json
  packages/policy/test/fixture/policy-18.json
  packages/policy/test/fixture/policy-19.json
  packages/policy/test/fixture/policy-2.json
  packages/policy/test/fixture/policy-20.json
  packages/policy/test/fixture/policy-21.json
  packages/policy/test/fixture/policy-22.json
  packages/policy/test/fixture/policy-3.json
  packages/policy/test/fixture/policy-4.json
  packages/policy/test/fixture/policy-5.json
  packages/policy/test/fixture/policy-6.json
  packages/policy/test/fixture/policy-7.json
  packages/policy/test/fixture/policy-8.json
  packages/policy/test/fixture/policy-9.json
  packages/policy/test/policy-schema.spec.ts
Labels: none

chore(tofu): internal type fixes
  packages/tofu/src/inspectSource.js
Labels: pkg:lavamoat-tofu

feat(types): add "include" prop to LavaMoatPolicy
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

feat(core): export MODULE_REFS
  packages/core/src/index.js
Labels: pkg:lavamoat-core

fix(node): update code to use latest version of https://github.com/endojs/endo/pull/2988
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore: lint
  packages/node/src/policy-util.js
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

chore(vscode): exclude packages/*/types directories from quick open/search (generated declarations)
  .vscode/settings.json
Labels: none

chore(node): re-export FileUrlString from endo
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

feat(core): export MODULE_REFS
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core

chore(node): remove unused dependencies
  package-lock.json
  packages/node/package.json
  packages/node/src/policy-gen/shims.d.ts
Labels: pkg:@lavamoat/node

chore(node): remove ban-types rule from eslint config
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

fix(types): fix DebugInfo type
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

fix(types): remove dependency on type-fest; update LavaMoatPolicy.include
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: none

chore(node): fix policy gen unit test
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:@lavamoat/node

fix(node): updates for endojs/endo#2988 and endojs/endo#2915
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/index.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): move SourceType to external types
  packages/node/src/internal.ts
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(node): lint/reformat everything
  package-lock.json
  packages/node/src/compartment/import-hook.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/compartment/power.js
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/exec/default-attenuator.js
  packages/node/src/format.js
  packages/node/src/log.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-util.js
  packages/node/src/preamble.js
  packages/node/src/resolve.js
  packages/node/test/e2e/cli-general.spec.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-macros.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/resolve.spec.js
  packages/node/test/integration/scenario-util.js
  packages/node/test/integration/scenario.spec.js
  packages/node/test/stubs.d.ts
  packages/node/test/test-util.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture-util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/resolve.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

feat(webpack): isolate parts of the app to contain slop
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/main.js
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/fixtures/main/slop/index.js
  packages/webpack/test/fixtures/main/src/moreslop/index.js
  packages/webpack/test/fixtures/main/webpack.config.js
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.md
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.snap
Labels: pkg:@lavamoat/webpack

chore(webpack): mark isolateLocations as experimental, they will be removed once we include locations in config/policy
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

test(node): test args re-assembly in cli precisely
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/fixture/basic/echo.js
Labels: pkg:@lavamoat/node

Potential fix for code scanning alert no. 3: Incomplete string escaping or encoding
  packages/allow-scripts/test/utils.js
Labels: pkg:@lavamoat/allow-scripts

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Labels: none

fix(security): escape strings to resolve code-scanning alert #3
  .github/COMMIT_MESSAGE_FIX.md
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
