Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

fix(allow-scripts): fix migration logic for v5
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/test/config.spec.js
  packages/allow-scripts/test/snapshots/config.spec.js.md
  packages/allow-scripts/test/snapshots/config.spec.js.snap
Labels: pkg:@lavamoat/allow-scripts

fix(webpack): preserve sourcemaps when SES source transforms modify module code
  packages/webpack/src/buildtime/generator.js
Labels: pkg:@lavamoat/webpack

fix: use ReplaceSource for the transforms
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

Update wrapper.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

Update wrapper.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

fix: ordering
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

Update wrapper.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

Update wrapper.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

fix(allow-scripts): fix migration logic for v5
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/test/config.spec.js
  packages/allow-scripts/test/snapshots/config.spec.js.md
  packages/allow-scripts/test/snapshots/config.spec.js.snap
Labels: pkg:@lavamoat/allow-scripts

feat(node): Read pnpm bin wrapper scripts
  package-lock.json
  packages/node/package.json
  packages/node/src/resolve.js
  packages/node/src/types/read-cmd-shim.d.ts
  packages/node/test/e2e/resolve.spec.js
Labels: pkg:@lavamoat/node

feat(allow-scripts): add a check command to warn an update is needed in CI
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/test/index.spec.js
Labels: pkg:@lavamoat/allow-scripts

feat(webpack): sourcemap-preserving evasive transforms rebuilt with webpack primitives
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/sourceTransforms.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

feat: draft implementation with endo/evasive-transform
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/sourceTransforms.js
  packages/webpack/src/buildtime/wrapper.js
Labels: pkg:@lavamoat/webpack

test(webpack): test sourcemap preservation
  packages/webpack/test/e2e-sourcemap.spec.js
  packages/webpack/test/e2e.manual.js
  packages/webpack/test/fixtures/main/sourcemap.js
Labels: pkg:@lavamoat/webpack

chore: Apply suggestion from @boneskull
  packages/webpack/test/e2e.manual.js
Labels: pkg:@lavamoat/webpack

feat(webpack): sourcemap-preserving evasive transforms (#1965)
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/sourceTransforms.js
  packages/webpack/src/buildtime/wrapper.js
  packages/webpack/test/e2e-sourcemap.spec.js
  packages/webpack/test/e2e.manual.js
  packages/webpack/test/fixtures/main/sourcemap.js
Labels: pkg:@lavamoat/webpack

test(webpack): add tests for capabilities in webpack
  packages/webpack/src/runtime/capabilitiesBuilder.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/capabilitiesBuilder.spec.js
  packages/webpack/test/e2e-capabilities.spec.js
  packages/webpack/test/fixtures/main/cap-logging.js
  packages/webpack/test/fixtures/main/policy-capabilities/cap-module.js
  packages/webpack/test/fixtures/main/policy-capabilities/policy-override.json
  packages/webpack/test/fixtures/main/policy-capabilities/policy.json
  packages/webpack/test/fixtures/main/policy-capabilities/prefix-log.cap.js
Labels: pkg:@lavamoat/webpack

fix(allow-scripts): fix issues with --skip-versions backward-compatibility
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/types/common.ts
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/prepare.js
  packages/allow-scripts/test/projects/skip_versions/node_modules/aaaa/index.js
  packages/allow-scripts/test/projects/skip_versions/node_modules/aaaa/package.json
  packages/allow-scripts/test/projects/skip_versions/node_modules/bbbb/index.js
  packages/allow-scripts/test/projects/skip_versions/node_modules/bbbb/package.json
  packages/allow-scripts/test/projects/skip_versions/package.json
Labels: pkg:@lavamoat/allow-scripts

feat(allow-scripts): add blocking git dependencies by default
  packages/allow-scripts/src/setup.js
Labels: pkg:@lavamoat/allow-scripts

fix(lavamoat-node): fix old resolution bug where paths containing # were misinterpreted
  packages/lavamoat-node/src/resolve.js
  packages/lavamoat-node/test/index_env.spec.js
  packages/lavamoat-node/test/projects/5/index.js
  packages/lavamoat-node/test/projects/5/node-modules/a/#/jump.js
  packages/lavamoat-node/test/projects/5/node-modules/a/#/x.js
  packages/lavamoat-node/test/projects/5/node-modules/a/main.js
  packages/lavamoat-node/test/projects/5/node-modules/a/package.json
  packages/lavamoat-node/test/projects/5/package.json
Labels: pkg:lavamoat-node

fix(core): move dependency execute after policy check
  packages/core/src/kernelCoreTemplate.js
  packages/core/test/scenarios/index.js
  packages/core/test/scenarios/policyEvasion.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/poc1/index.js
  packages/lavamoat-node/test/projects/poc1/lavamoat/node/policy-override.json
  packages/lavamoat-node/test/projects/poc1/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/poc1/node-modules/evil-package/index.js
  packages/lavamoat-node/test/projects/poc1/node-modules/evil-package/package.json
  packages/lavamoat-node/test/projects/poc1/node-modules/vulnerable-package/index.js
  packages/lavamoat-node/test/projects/poc1/node-modules/vulnerable-package/package.json
  packages/lavamoat-node/test/projects/poc1/package-lock.json
  packages/lavamoat-node/test/projects/poc1/package.json
  packages/lavamoat-node/test/projects/poc1/poc.txt
  packages/lavamoat-node/test/projects/poc1/yarn.lock
Labels: pkg:lavamoat-core, pkg:lavamoat-node

chore: that file should not be there
  packages/lavamoat-node/test/projects/poc1/poc.txt
Labels: pkg:lavamoat-node

chore: harden npmrc further
  .npmrc
Labels: none

fix(allow-scripts): fix issues with --skip-versions backward-compatibility (#1969)
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/types/common.ts
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/prepare.js
  packages/allow-scripts/test/projects/skip_versions/node_modules/aaaa/index.js
  packages/allow-scripts/test/projects/skip_versions/node_modules/aaaa/package.json
  packages/allow-scripts/test/projects/skip_versions/node_modules/bbbb/index.js
  packages/allow-scripts/test/projects/skip_versions/node_modules/bbbb/package.json
  packages/allow-scripts/test/projects/skip_versions/package.json
Labels: pkg:@lavamoat/allow-scripts

fix(core): move dependency execute after policy check (#1974)
  packages/core/src/kernelCoreTemplate.js
  packages/core/test/scenarios/index.js
  packages/core/test/scenarios/policyEvasion.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/poc1/index.js
  packages/lavamoat-node/test/projects/poc1/lavamoat/node/policy-override.json
  packages/lavamoat-node/test/projects/poc1/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/poc1/node-modules/evil-package/index.js
  packages/lavamoat-node/test/projects/poc1/node-modules/evil-package/package.json
  packages/lavamoat-node/test/projects/poc1/node-modules/vulnerable-package/index.js
  packages/lavamoat-node/test/projects/poc1/node-modules/vulnerable-package/package.json
  packages/lavamoat-node/test/projects/poc1/package-lock.json
  packages/lavamoat-node/test/projects/poc1/package.json
  packages/lavamoat-node/test/projects/poc1/yarn.lock
Labels: pkg:lavamoat-core, pkg:lavamoat-node

chore: harden npmrc further (#1973)
  .npmrc
Labels: none

fix(lavamoat-node): fix old resolution bug where paths containing # were misinterpreted (#1971)
  packages/lavamoat-node/src/resolve.js
  packages/lavamoat-node/test/index_env.spec.js
  packages/lavamoat-node/test/projects/5/index.js
  packages/lavamoat-node/test/projects/5/node-modules/a/#/jump.js
  packages/lavamoat-node/test/projects/5/node-modules/a/#/x.js
  packages/lavamoat-node/test/projects/5/node-modules/a/main.js
  packages/lavamoat-node/test/projects/5/node-modules/a/package.json
  packages/lavamoat-node/test/projects/5/package.json
Labels: pkg:lavamoat-node

chore(node): mark failing test as passing for memfs update
  packages/node/test/unit/fs.spec.js
Labels: pkg:@lavamoat/node

chore(node): mark failing test as passing for memfs update
  packages/node/test/unit/fs.spec.js
Labels: pkg:@lavamoat/node

chore(e2e-dogfood): create a working dummy project to test with
  packages/__e2e-dogfooding__/README.md
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/src/App.tsx
  packages/__e2e-dogfooding__/src/example.ts
  packages/__e2e-dogfooding__/src/index.tsx
  packages/__e2e-dogfooding__/src/styles.css
  packages/__e2e-dogfooding__/tsconfig.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

feat(node): add --compact-overrides flag
  packages/core/src/compact.js
  packages/core/src/index.js
  packages/core/test/compact.spec.js
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

test(e2e-dogfood): add lavamoat setup and initial minimal test for building with lavamoat/node
  packages/__e2e-dogfooding__/lavamoat/node/policy.json
  packages/__e2e-dogfooding__/lavamoat/webpack/policy.json
  packages/__e2e-dogfooding__/package.json
  packages/__e2e-dogfooding__/webpack.config.js
Labels: none

chore(e2e-dogfood): fix annoying warning
  packages/__e2e-dogfooding__/src/App.tsx
Labels: none

docs(e2e-dogfooding): document running
  packages/__e2e-dogfooding__/README.md
Labels: none

test(e2e-dogfooding): added an easier version
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore(dogfood): updates to get webpack running under lavamoat
  package-lock.json
  package.json
  packages/__e2e-dogfooding__/build.js
  packages/__e2e-dogfooding__/lavamoat/build/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/build/policy.json
  packages/__e2e-dogfooding__/lavamoat/node/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy-override.json
  packages/__e2e-dogfooding__/package.json
  patches/@babel+helper-define-polyfill-provider+0.6.8.patch
  patches/graceful-fs+4.2.11.patch
Labels: none

chore: update patches
  patches/@babel+helper-module-imports+7.28.6.patch
  patches/graceful-fs+4.2.11.patch
Labels: none

chore: update policies
  packages/__e2e-dogfooding__/lavamoat/node_2/policy-override.json
  packages/__e2e-dogfooding__/lavamoat/node_2/policy.json
Labels: none

chore(dogfood): upgrade lavamoat deps
  package-lock.json
  packages/__e2e-dogfooding__/package.json
Labels: none

chore: update deps
  package-lock.json
  packages/__e2e-dogfooding__/package.json
Labels: none
