Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  package-lock.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

feat(laverna)!: use vog
  package-lock.json
  packages/laverna/.eslintrc.cjs
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore: build types first
  .github/actions/test/action.yml
  package.json
Labels: none

chore(node): add eslint configuration for style
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore(node): refactor some utils
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(policy): prettify schema after writing
  packages/policy/scripts/create-policy-schema.ts
Labels: none

feat(node): add "validate" command; use @lavamoat/policy
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/policy-util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

chore(policy): add test exception for unsupported Node.js versions
  packages/policy/package.json
  packages/policy/scripts/test.js
Labels: none

chore(policy): add eslint config
  packages/policy/.eslintrc.cjs
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

feat(webpack): stringer policy debugging tools
  packages/webpack/src/runtime/debug.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

feat(webpack): document and officially release scuttling in webpack plugin
  packages/core/src/options.js
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/core/test/util.js
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

feat(webpack): document and officially release scuttling in webpack plugin
  packages/core/src/options.js
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/core/test/util.js
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

chore: this might be how we avoid polluting global types of our users
  ambient-types/global.d.ts
  packages/types/src/index.ts
  packages/types/src/policy-schema/ambient.ts
  tsconfig.json
Labels: none

fix: eliminate lavamoat-specific global types
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/setup.js
  packages/allow-scripts/src/types/common.ts
  packages/core/src/endowmentsToolkit.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
Labels: pkg:@lavamoat/allow-scripts, pkg:lavamoat-core

chore: delete the hasOwn global type repair
  ambient-types/global.d.ts
  packages/types/package.json
  tsconfig.json
Labels: none

fix(types): remove global Object.hasOwn type
  package-lock.json
  packages/node/src/util.js
  packages/types/package.json
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: pkg:@lavamoat/node

fix(types): remove global Object.hasOwn type
  package-lock.json
  packages/node/src/util.js
  packages/types/package.json
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: pkg:@lavamoat/node

fix(core): noSharedPrototype case in copyWrappedGlobals must include non-enumerable properties
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

fix(tofu): Deprecate codeSampleFromAstNode and undo breaking change
  packages/tofu/CHANGELOG.md
  packages/tofu/src/codeSampleFromAstNode.js
  packages/tofu/src/index.js
Labels: pkg:lavamoat-tofu

fix(allow-scripts): fix #1796 - correct dev flag in setup
  packages/allow-scripts/src/setup.js
Labels: pkg:@lavamoat/allow-scripts

Update plugin.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(allow-scripts): fix #1796 - correct dev flag in setup
  packages/allow-scripts/src/setup.js
Labels: pkg:@lavamoat/allow-scripts

fix(tofu): Deprecate codeSampleFromAstNode and undo breaking change
  packages/tofu/CHANGELOG.md
  packages/tofu/src/codeSampleFromAstNode.js
  packages/tofu/src/index.js
Labels: pkg:lavamoat-tofu

fix(webpack): more precise config override warning (#1825)
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): more precise config override warning (#1825)
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore(webpack): clean up warning message and test matching
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

fix(core): noSharedPrototype case in copyWrappedGlobals must include non-enumerable properties
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(allow-scripts): change the recommended use of allow-scripts to global install
  packages/allow-scripts/README.md
  packages/allow-scripts/src/setup.js
Labels: pkg:@lavamoat/allow-scripts

feat(allow-scripts): change the recommended use of allow-scripts to global install (#1823)
  packages/allow-scripts/README.md
  packages/allow-scripts/src/setup.js
Labels: pkg:@lavamoat/allow-scripts

fix(webpack): adjust MessageEvent repair to reliably work in the bizarre context of Firefox webextension contentscript
  packages/webpack/src/runtime/repairs/messageevent.js
Labels: pkg:@lavamoat/webpack

fix(core): noSharedPrototype case in copyWrappedGlobals must include non-enumerable properties
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

feat(webpack): document and officially release scuttling in webpack plugin
  packages/core/src/options.js
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/core/test/util.js
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

fix(webpack): adjust MessageEvent repair to reliably work in the bizarre context of Firefox webextension contentscript (#1830)
  packages/webpack/src/runtime/repairs/messageevent.js
Labels: pkg:@lavamoat/webpack

feat(webpack): prevent webpack from eliminating reexports and failing policy enforcement (#1827)
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

feat(webpack): document and officially release scuttling in webpack plugin (#1829)
  packages/core/src/options.js
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/core/test/util.js
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

test(webpack): test the globalThis repair in emulated Firefox contentscript situation
  packages/webpack/test/repairs-globalthis.spec.js
Labels: pkg:@lavamoat/webpack

feat(webpack): fix for globalThis!==window
  packages/webpack/src/runtime/repairs/globalthis.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
