Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore: build types first
  .github/actions/test/action.yml
  package.json
Labels: none

chore(node): refactor some utils
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

feat(node): add "validate" command; use @lavamoat/policy
  package-lock.json
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/policy-util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node

chore(policy): add eslint config
  packages/policy/.eslintrc.cjs
Labels: none

chore: update lockfile
  package-lock.json
Labels: none

chore(node): refactor CLI
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/cli/middleware.js
  packages/node/src/cli/options.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): rename option root => project-root
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): update snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): create a disposable tempdir wrapper for E2E tests
  packages/node/test/e2e/cli-util.js
Labels: pkg:@lavamoat/node

chore(node): prefix human-readable paths with `./` where appropriate
  packages/node/src/util.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): refactor resolveEntrypoint
  packages/node/src/cli.js
  packages/node/src/internal.ts
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): create a fixture helper for tests
  packages/node/test/test-util.js
  packages/node/test/types.ts
Labels: pkg:@lavamoat/node

chore(node): reorganize E2E fixtures a little
  packages/node/test/e2e/fixture/basic/index.js
  packages/node/test/e2e/fixture/basic/package.json
  packages/node/test/e2e/fixture/bin/.npmrc
  packages/node/test/e2e/fixture/bin/README.md
  packages/node/test/e2e/fixture/bin/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/bin
  packages/node/test/e2e/fixture/bin/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/package.json
  packages/node/test/e2e/fixture/bin/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/bin/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin/package.json
  packages/node/test/e2e/fixture/deptree/index.js
  packages/node/test/e2e/fixture/deptree/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/index.js
  packages/node/test/e2e/fixture/dev/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/package.json
  packages/node/test/e2e/fixture/untrusted/README.md
  packages/node/test/e2e/fixture/untrusted/app.js
  packages/node/test/e2e/fixture/untrusted/package.json
Labels: pkg:@lavamoat/node

chore(node): add coverage for getCanonicalName
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

chore(node): update E2E tests for new helpers
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): execution: rename compartment descriptor labels to canonical names
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore: rename "generation" test to "generate"
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): fix path resolution logging output
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore(node): housekeeping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): add failing test for optional dependency handling
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/optional/README.md
  packages/node/test/unit/fixture/optional/node_modules/app/index.js
  packages/node/test/unit/fixture/optional/node_modules/app/package.json
  packages/node/test/unit/fixture/optional/node_modules/dummy/index.js
  packages/node/test/unit/fixture/optional/node_modules/dummy/package.json
  packages/node/test/unit/fixture/optional/node_modules/muddy/index.js
  packages/node/test/unit/fixture/optional/node_modules/muddy/package.json
Labels: pkg:@lavamoat/node

chore(node): add test case for policy enforcement
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/policy-enforcement/README.md
  packages/node/test/unit/fixture/policy-enforcement/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/app.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/package.json
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
Labels: pkg:@lavamoat/node

chore(node): isolate SES compat warning aggregator
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): avoid mutating CompartmentDescriptor.label
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/build-module-records.spec.js
  packages/node/test/unit/policy/load-compartment-map.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): type syntax
  packages/node/src/compartment/compartment-descriptor-transform.js
Labels: pkg:@lavamoat/node

chore(node): fixes for #1547
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore(node): refactor some utils
  packages/node/src/cli.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/e2e/cli-util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(node): update lockfile
  package-lock.json
Labels: none

chore(node): add coverage test
  package-lock.json
  package.json
  packages/node/.c8rc
  packages/node/package.json
Labels: pkg:@lavamoat/node

fix(node): custom logger in policy gen
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

feat(core): add "hints" to policy schema
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/test/types/policy.spec.ts
Labels: pkg:lavamoat-core

chore: update lockfile
  package-lock.json
Labels: none

chore: migrate to eslint 9 (WIP) [ci skip]
  .config/eslintrc.typed-workspace.js
  .config/eslintrc.typed-workspace.mjs
  .eslintignore
  .eslintrc-old.js
  eslint.config-TEMP.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  packages/aa/.eslintrc.js
  packages/allow-scripts/.eslintrc.js
  packages/browserify/.eslintrc.js
  packages/core/.eslintrc.js
  packages/perf/.eslintrc.js
  packages/survey/.eslintrc.js
  packages/yarn-plugin-allow-scripts/.eslintrc.js
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:survey, pkg:@lavamoat/yarn-plugin-allow-scripts

chore(socket): ignore "example" folders
  socket.yml
Labels: none

chore(webpack): update example project
  packages/webpack/examples/lavamoat/policy.json
  packages/webpack/examples/lavamoat/webpack/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
Labels: pkg:@lavamoat/webpack

fix(react-native-lockdown): add types
  packages/react-native-lockdown/.eslintrc.js
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/src/lockdown-serializer.ts
  packages/react-native-lockdown/src/repair.js
  packages/react-native-lockdown/src/tsconfig.json
  packages/react-native-lockdown/src/types.ts
  packages/react-native-lockdown/test/tsconfig.json
  packages/react-native-lockdown/test/unit/assertPolyfills.spec.js
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/tsconfig.json
  tsconfig.json
Labels: none

wip [ci skip]
  eslint.config.mjs
  package-lock.json
Labels: none

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore: update lockfile
  package-lock.json
Labels: none

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none
