Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node): loosen up evadeImportString
  packages/node/src/compartment/module-transforms.js
Labels: pkg:@lavamoat/node

fix: changed my mind on error trapping
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

feat(webpack): update lockdown settings for better compatibility and … (#1761)
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:@lavamoat/webpack

Update packages/node/CHANGELOG.md
  packages/node/CHANGELOG.md
Labels: pkg:@lavamoat/node

Update .github/workflows/eslint.yml
  .github/workflows/eslint.yml
Labels: none

Update .eslintrc.js
  .eslintrc.js
Labels: none

feat(node): use evasive-transforms from Endo
  package-lock.json
  packages/node/package.json
  packages/node/src/compartment/module-transforms.js
  packages/node/test/unit/compartment/module-transforms.spec.js
Labels: pkg:@lavamoat/node

chore: more version updates
  package-lock.json
  packages/node/package.json
Labels: pkg:@lavamoat/node

chore: messy debug
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/webpack/examples/a
  packages/webpack/examples/build.js
  packages/webpack/examples/build.mjs
  packages/webpack/examples/lavamoat/node/policy copy.json
  packages/webpack/examples/lavamoat/node/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(node): replace `--dev` CLI flag with `--prod-only`
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

chore(deps): upgrade @endo/compartment-mapper
  package-lock.json
  package.json
Labels: none

chore(node): do not typecheck e2e fixtures
  packages/node/test/tsconfig.json
Labels: pkg:@lavamoat/node

chore: fix lint-staged config to avoid prettiering files prettier won't pretty
  .config/lint-staged.config.js
Labels: none

chore(node): ignore TS error for now
  packages/node/src/compartment/node-compartment-map.js
Labels: pkg:@lavamoat/node

chore(node): cap worker count
  packages/node/src/internal.ts
  packages/node/src/worker-pool.js
  packages/node/test/unit/worker-pool.spec.js
Labels: pkg:@lavamoat/node

fix(node): fix flimsy policy object validation
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

chore(node): suppress inspection progress in verbose mode
  packages/node/src/log.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
Labels: pkg:@lavamoat/node

fix(node): avoid spurious "unknown canonical name" warnings when using untrusted entrypoints
  packages/node/src/policy-converter.js
  packages/node/test/e2e/fixture/bin/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic/bin
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic/package.json
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

feat(node): typescript support via type stripping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/with-type-stripping.js
  packages/node/src/constants.js
Labels: pkg:@lavamoat/node

fix: fix the policy conversion (todo: types and collection names)
  packages/node/src/policy-converter.js
Labels: pkg:@lavamoat/node

feat(node): warn if non-builtin loaded as a builtin
  packages/node/src/constants.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
Labels: pkg:@lavamoat/node

fix(node): fix policy conversion redux add types
  packages/node/src/policy-converter.js
Labels: pkg:@lavamoat/node

chore: messy debug
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/webpack/examples/a
  packages/webpack/examples/build.js
  packages/webpack/examples/build.mjs
  packages/webpack/examples/lavamoat/node/policy copy.json
  packages/webpack/examples/lavamoat/node/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
Labels: pkg:@lavamoat/webpack, pkg:@lavamoat/node

lotsa mess
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
  packages/node/src/exec/default-attenuator.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

fix(node): correctly remove redundant builtins from generated policy
  packages/core/src/constants.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/test/unit/fixture/builtin-reduction/README.md
  packages/node/test/unit/fixture/builtin-reduction/index.js
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/a.js
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/b.js
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/index.js
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/package.json
  packages/node/test/unit/fixture/builtin-reduction/package.json
  packages/node/test/unit/json-fixture/builtin-reduction.json
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

fix(node): eliminate redundant policy in globals
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/test/unit/fixture/builtin-reduction/README.md
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/a.js
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/b.js
  packages/node/test/unit/fixture/builtin-reduction/node_modules/foo/index.js
  packages/node/test/unit/fixture/builtin-reduction/package.json
  packages/node/test/unit/fixture/redundant-policy/README.md
  packages/node/test/unit/fixture/redundant-policy/index.js
  packages/node/test/unit/fixture/redundant-policy/node_modules/foo/a.js
  packages/node/test/unit/fixture/redundant-policy/node_modules/foo/b.js
  packages/node/test/unit/fixture/redundant-policy/node_modules/foo/index.js
  packages/node/test/unit/fixture/redundant-policy/node_modules/foo/package.json
  packages/node/test/unit/fixture/redundant-policy/package.json
  packages/node/test/unit/json-fixture/builtin-reduction.json
  packages/node/test/unit/json-fixture/redundant-policy.json
  packages/node/test/unit/policy/generate.spec.js
Labels: pkg:@lavamoat/node

chore(node): aggregate exit module warnings as to not interfere with progress indicator
  packages/node/src/policy-gen/load-for-policy.js
Labels: pkg:@lavamoat/node

fix(node): workaround for repeated calls to moduleSourceHook
  packages/node/src/policy-gen/load-for-policy.js
Labels: pkg:@lavamoat/node

moar mess
  packages/core/src/endowmentsToolkit.js
  packages/node/src/compartment/import-hook.js
  packages/webpack/examples/lavamoat/node/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
  packages/webpack/examples/webpack.config.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(node): use endowmentsToolkit for module attenuation properly
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

test(core): add a scenario to cover builtins attenuation with nesting
  packages/browserify/test/runScenarios.spec.js
  packages/core/test/scenarios/builtin.js
  packages/core/test/scenarios/index.js
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core

feat(node): use endowmentsToolkit for module attenuation properly
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

test(core): add a scenario to cover builtins attenuation with nesting
  packages/browserify/test/runScenarios.spec.js
  packages/core/test/scenarios/builtin.js
  packages/core/test/scenarios/index.js
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core

fix(node): fix writable globals
  packages/node/src/constants.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
Labels: pkg:@lavamoat/node

chore(node): remove crufty constants
  packages/node/src/constants.js
Labels: pkg:@lavamoat/node

fix(node): fix order of attenuation for trusted roots
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore: messy debug
  packages/webpack/examples/a
  packages/webpack/examples/build.js
  packages/webpack/examples/build.mjs
  packages/webpack/examples/lavamoat/node/policy copy.json
  packages/webpack/examples/lavamoat/node/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
Labels: pkg:@lavamoat/webpack

fix(webpack/examples): update deps, policy
  packages/webpack/examples/lavamoat/node/policy-override.json
  packages/webpack/examples/lavamoat/node/policy.json
  packages/webpack/examples/package-lock.json
  packages/webpack/examples/package.json
  packages/webpack/examples/webpack.config.js
Labels: pkg:@lavamoat/webpack

fix(core): make the wrapper for global functions strict
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

chore(ci): ensure setup runs before linting happens
  .github/workflows/nodejs.yml
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
