Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore(lavamoat-node): docs, types, missing fixture
  packages/lavamoat-node/README.md
  packages/lavamoat-node/src/resolve.js
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/a-1.0.0.tgz
Labels: pkg:lavamoat-node

fix(webpack): source maps
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): preserve source maps correctnes when SES is inlined (#1932)
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

feat(webpack): override the devtool setting that is likely to break lavamoat
  packages/webpack/README.md
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

chore(git-safe): fix the fixture, repo moved
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/yarn.lock
  packages/git-safe-dependencies/test/lockfile.spec.js
Labels: none

feat(allow-scripts): install scripts pinned to versions
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/types/common.ts
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/prepare.js
  packages/allow-scripts/test/projects/2/package.json
  packages/allow-scripts/test/projects/3/package.json
  packages/allow-scripts/test/projects/4/package.json
  packages/allow-scripts/test/projects/5/node_modules/aaaa/index.js
  packages/allow-scripts/test/projects/5/node_modules/aaaa/package.json
  packages/allow-scripts/test/projects/5/node_modules/bbbb/index.js
  packages/allow-scripts/test/projects/5/node_modules/bbbb/package.json
  packages/allow-scripts/test/projects/5/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(allow-scripts): document versions
  packages/allow-scripts/README.md
Labels: pkg:@lavamoat/allow-scripts

fix(allow-scripts): version migrations behavior and test fixes
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/types/common.ts
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/projects/5/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(git-safe): fix the fixture, repo moved (#1934)
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/yarn.lock
  packages/git-safe-dependencies/test/lockfile.spec.js
Labels: none

feat(webpack): override the devtool setting that is likely to break lavamoat (#1933)
  packages/webpack/README.md
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): do not completely disable sourcemaps
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): do not completely disable sourcemaps (#1935)
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

feat(allow-scripts)!: install scripts pinned to versions
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/types/common.ts
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/prepare.js
  packages/allow-scripts/test/projects/2/package.json
  packages/allow-scripts/test/projects/3/package.json
  packages/allow-scripts/test/projects/4/package.json
  packages/allow-scripts/test/projects/5/node_modules/aaaa/index.js
  packages/allow-scripts/test/projects/5/node_modules/aaaa/package.json
  packages/allow-scripts/test/projects/5/node_modules/bbbb/index.js
  packages/allow-scripts/test/projects/5/node_modules/bbbb/package.json
  packages/allow-scripts/test/projects/5/package.json
Labels: pkg:@lavamoat/allow-scripts

feat(allow-scripts)!: install scripts pinned to versions
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/src/types/common.ts
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/prepare.js
  packages/allow-scripts/test/projects/2/package.json
  packages/allow-scripts/test/projects/3/package.json
  packages/allow-scripts/test/projects/4/package.json
  packages/allow-scripts/test/projects/5/node_modules/aaaa/index.js
  packages/allow-scripts/test/projects/5/node_modules/aaaa/package.json
  packages/allow-scripts/test/projects/5/node_modules/bbbb/index.js
  packages/allow-scripts/test/projects/5/node_modules/bbbb/package.json
  packages/allow-scripts/test/projects/5/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(allow-scripts): documentation improvements
  packages/allow-scripts/README.md
Labels: pkg:@lavamoat/allow-scripts

fix(allow-scripts): fix the debug functionality to better match versions and be more helpful generally
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
Labels: pkg:@lavamoat/allow-scripts

fix(allow-scripts)!: remove the version tolerance
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/test/projects/5/package.json
Labels: pkg:@lavamoat/allow-scripts

fix(allow-scripts): fix recognizing known list entries
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
Labels: pkg:@lavamoat/allow-scripts

fix(allow-scripts): ignore version on $
  packages/allow-scripts/src/config.js
Labels: pkg:@lavamoat/allow-scripts

chore: update lockfile
  package-lock.json
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

feat(laverna): support Yarn This adds support for Yarn v2 workspaces to `@lavamoat/laverna`.
  packages/laverna/README.md
  packages/laverna/src/index.js
  packages/laverna/src/publisher.js
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/fixture/yarn-workspace/package.json
  packages/laverna/test/fixture/yarn-workspace/packages/workspace1/package.json
  packages/laverna/test/fixture/yarn-workspace/yarn.lock
  packages/laverna/test/laverna.spec.js
Labels: pkg:@lavamoat/laverna

feat(node): report redundant 'include' entries
  packages/node/src/constants.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/report.js
  packages/node/src/util.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

chore: WIP
  packages/node/package.json
  packages/node/src/compartment/module-transforms.js
  packages/node/src/compartment/options.js
  packages/node/src/exec/exec-parser.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/composed-parser.js
  packages/node/src/policy-gen/inspect-cjs.js
  packages/node/src/policy-gen/inspector.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-gen/parse-worker.js
  packages/node/src/policy-gen/worker-parser.js
  packages/node/src/tsconfig.json
  packages/node/src/worker-pool.js
  packages/node/test/unit/worker-pool.spec.js
  packages/tofu/src/analyzer-passes.js
  packages/tofu/src/index.js
  packages/tofu/src/types.ts
  packages/tofu/test/analyzer-passes.spec.js
Labels: pkg:lavamoat-tofu, pkg:@lavamoat/node

chore(vscode): fix double-formatting
  .vscode/settings.json
Labels: none

chore(vscode): fix double-formatting (#1925)
  .vscode/settings.json
Labels: none

chore: Apply README suggestions from code review
  packages/allow-scripts/README.md
Labels: pkg:@lavamoat/allow-scripts

chore: cleanup
  packages/allow-scripts/README.md
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
Labels: pkg:@lavamoat/allow-scripts

chore: os-independent package.json scripts
  packages/lavamoat-node/package.json
Labels: pkg:lavamoat-node

feat(lavamoat-node): modernize resolve in lavamoat classic, opt-in only (#1928)
  packages/lavamoat-node/README.md
  packages/lavamoat-node/package.json
  packages/lavamoat-node/src/kernel.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/src/resolve.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/resolve-compat/index.js
  packages/lavamoat-node/test/projects/resolve-compat/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/a-1.0.0.tgz
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/index.mjs
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/package.json
  packages/lavamoat-node/test/projects/resolve-compat/node-modules/a/unexpected.js
  packages/lavamoat-node/test/projects/resolve-compat/package-lock.json
  packages/lavamoat-node/test/projects/resolve-compat/package.json
  packages/lavamoat-node/test/projects/resolve-compat/yarn.lock
Labels: pkg:lavamoat-node

fix(allow-scripts): usability improvements/fixes (#1941)
  packages/allow-scripts/README.md
  packages/allow-scripts/src/cli.js
  packages/allow-scripts/src/config.js
  packages/allow-scripts/src/report.js
  packages/allow-scripts/src/runAllowedPackages.js
  packages/allow-scripts/test/projects/5/package.json
Labels: pkg:@lavamoat/allow-scripts

chore(eslint): validate config files against JSON schemas
  eslint.config.mjs
  package-lock.json
  package.json
Labels: none

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

fix(laverna)!: use @lavamoat/vog
  eslint.config.mjs
  package-lock.json
  packages/laverna/ava.config.cjs
  packages/laverna/package.json
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/log-symbols.js
  packages/laverna/src/tsconfig.json
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/laverna.spec.js
  packages/laverna/tsconfig.json
Labels: pkg:@lavamoat/laverna

chore: add knip & remove depcheck
  .knip.jsonc
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(node): add eslint configuration for style
  eslint.config.mjs
  package-lock.json
  package.json
Labels: none

chore(node): update test snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
Labels: pkg:@lavamoat/node

chore: Apply suggestions from code review
  packages/allow-scripts/README.md
Labels: pkg:@lavamoat/allow-scripts

chore(allow-scripts): documentation improvements (#1940)
  packages/allow-scripts/README.md
Labels: pkg:@lavamoat/allow-scripts

feat(laverna): support Yarn (#1888)
  packages/laverna/README.md
  packages/laverna/src/index.js
  packages/laverna/src/publisher.js
  packages/laverna/src/types.js
  packages/laverna/test/cli.spec.js
  packages/laverna/test/fixture/yarn-workspace/package.json
  packages/laverna/test/fixture/yarn-workspace/packages/workspace1/package.json
  packages/laverna/test/fixture/yarn-workspace/yarn.lock
  packages/laverna/test/laverna.spec.js
Labels: pkg:@lavamoat/laverna
