Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node): execution: rename compartment descriptor labels to canonical names
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): update E2E tests for new helpers
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): reorganize E2E fixtures a little
  packages/node/test/e2e/fixture/basic/index.js
  packages/node/test/e2e/fixture/basic/package.json
  packages/node/test/e2e/fixture/bin/.npmrc
  packages/node/test/e2e/fixture/bin/README.md
  packages/node/test/e2e/fixture/bin/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/bin
  packages/node/test/e2e/fixture/bin/lard-o-matic/index.js
  packages/node/test/e2e/fixture/bin/lard-o-matic/package.json
  packages/node/test/e2e/fixture/bin/lavamoat/node/policy.json
  packages/node/test/e2e/fixture/bin/node_modules/.bin/lard-o-matic
  packages/node/test/e2e/fixture/bin/node_modules/lard-o-matic
  packages/node/test/e2e/fixture/bin/package.json
  packages/node/test/e2e/fixture/deptree/index.js
  packages/node/test/e2e/fixture/deptree/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/index.js
  packages/node/test/e2e/fixture/dev/lavamoat/node/policy-override.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/another-pkg/package.json
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/index.js
  packages/node/test/e2e/fixture/dev/node_modules/shared-pkg/package.json
  packages/node/test/e2e/fixture/dev/package.json
  packages/node/test/e2e/fixture/untrusted/README.md
  packages/node/test/e2e/fixture/untrusted/app.js
  packages/node/test/e2e/fixture/untrusted/package.json
Labels: pkg:@lavamoat/node

chore: rename "generation" test to "generate"
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): add coverage for getCanonicalName
  packages/node/test/unit/policy-util.spec.js
Labels: pkg:@lavamoat/node

fix(node): type syntax
  packages/node/src/compartment/compartment-descriptor-transform.js
Labels: pkg:@lavamoat/node

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

chore(node): add test case for policy enforcement
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/policy-enforcement/README.md
  packages/node/test/unit/fixture/policy-enforcement/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/app.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/app/package.json
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/index.js
  packages/node/test/unit/fixture/policy-enforcement/node_modules/pid/package.json
  packages/node/test/unit/fixture/policy-enforcement/package.json
  packages/node/test/unit/json-fixture/policy-enforcement.json
Labels: pkg:@lavamoat/node

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/lavamoat-node/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa, pkg:lavamoat-node

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
  packages/types/package.json
  packages/types/src/module-record.ts
  packages/types/test/policy.spec.ts
  packages/types/test/tsconfig.json
  packages/types/tsconfig.json
  packages/webpack/src/runtime/runtime.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore: fix lockfile
  package-lock.json
Labels: none

fix(tofu): update type for new SetFieldType behavior
  packages/tofu/src/inspectPrimordialAssignments.js
Labels: pkg:lavamoat-tofu

chore(node): avoid mutating CompartmentDescriptor.label
  packages/node/src/compartment/compartment-descriptor-transform.js
  packages/node/src/compartment/data-map.js
  packages/node/src/compartment/decorate.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/exec/load.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/test/unit/policy/build-module-records.spec.js
  packages/node/test/unit/policy/load-compartment-map.spec.js
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.md
  packages/node/test/unit/policy/snapshots/build-module-records.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.md
  packages/node/test/unit/policy/snapshots/load-compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): housekeeping
  packages/node/src/compartment/options.js
  packages/node/src/compartment/parse-native.js
  packages/node/src/policy-util.js
Labels: pkg:@lavamoat/node

test(webpack): add a test that observes an error from wrapper's checks
  .prettierignore
  packages/webpack/test/e2e-hack.spec.js
  packages/webpack/test/fixtures/main/hack4.js
Labels: pkg:@lavamoat/webpack

feat(core): relax scuttling by skipping intrinsics
  packages/core/src/scuttle.js
  packages/core/test/scenarios/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

feat(core): relax scuttling by skipping intrinsics (#1645)
  packages/core/src/scuttle.js
  packages/core/test/scenarios/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

feat(node): add support in scuttling
  packages/core/src/scuttle.d.ts
  packages/node/src/cli.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
  packages/node/test/unit/scenario.spec.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

feat(node): add support in scuttling (#1627)
  packages/core/src/scuttle.d.ts
  packages/node/src/cli.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
  packages/node/test/unit/scenario.spec.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

refactor(node): something
  packages/node/src/exec/default-attenuator.js
Labels: pkg:@lavamoat/node

test(node): update e2e snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

test(node): update e2e snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(aa): cleanup symlinks
  packages/aa/test/index.spec.js
  packages/aa/test/symlink-perf.spec.js
  packages/aa/test/utils.js
Labels: pkg:@lavamoat/aa

chore(deps): upgrade ava to v6.2.0
  package-lock.json
  package.json
Labels: none

chore(browserify): cleanup after watchify test
  packages/browserify/test/policy.spec.js
Labels: pkg:lavamoat-browserify

chore(ci): add missing (!) workspaces to CI
  .github/workflows/nodejs.yml
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
