Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

chore: update lockfile
  package-lock.json
Labels: none

feat: match host version of RN js polyfills
  package-lock.json
  packages/react-native-lockdown/package.json
Labels: none

chore: add RN js polyfills for tests
  package-lock.json
  packages/react-native-lockdown/package.json
Labels: none

chore: cleanup jsdoc
  packages/react-native-lockdown/src/makeGetPolyfills.js
Labels: none

docs: add install to readme
  packages/react-native-lockdown/README.md
Labels: none

docs: rename readme examples to usage
  packages/react-native-lockdown/README.md
Labels: none

docs: add example babel config to readme
  packages/react-native-lockdown/README.md
Labels: none

docs: add troubleshooting to readme (babel)
  packages/react-native-lockdown/README.md
Labels: none

docs: add troubleshooting important tip
  packages/react-native-lockdown/README.md
Labels: none

docs: ref endo issue (ses being transformed)
  packages/react-native-lockdown/README.md
Labels: none

docs: update ses version (1.13.0)
  packages/react-native-lockdown/README.md
Labels: none

fix: SES_ALREADY_LOCKED_DOWN
  packages/react-native-lockdown/src/index.js
Labels: none

fix(core,webpack): remove deprecated lockdown options
  packages/core/src/kernelTemplate.js
  packages/webpack/examples/webpack.config.js
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

fix(webpack): import types from ses
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): import types from ses
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix: upgrade ses to v1.11.0
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/perf/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/webpack, pkg:@lavamoat/node

fix(core,webpack): remove deprecated lockdown options
  packages/core/src/kernelTemplate.js
  packages/webpack/examples/webpack.config.js
  packages/webpack/src/plugin.js
  packages/webpack/test/fixtures/main/webpack.config.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

feat(core): add "redefine" global policy value to schema
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

feat(core): add "redefine" global policy value to schema
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore(core): add types for jsonStringifySortedPolicy
  packages/core/src/stringifyPolicy.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/lavamoat-node/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa, pkg:lavamoat-node

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  package-lock.json
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/survey/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-node

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(webpack): add @lavamoat/types
  package-lock.json
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

fix(webpack): comment out problem type
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

fix(core,node): updates post-merge of @lavamoat/node
  package-lock.json
  packages/core/src/endowmentsToolkit.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/src/runtime/runtime.js
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(types): add @babel/types back to deps
  package-lock.json
  packages/types/package.json
Labels: none

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

chore(types): fix @babel/types version
  package-lock.json
  packages/types/package.json
Labels: none

fix(types): upgrade @babel/types
  package-lock.json
  packages/types/package.json
Labels: none
