Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

chore(node): better warning when encountering a trust mismatch before execution
  packages/node/src/exec/run.js
Labels: pkg:@lavamoat/node

chore(node): add some test todos
  packages/node/test/e2e/cli-run.spec.js
Labels: pkg:@lavamoat/node

chore(node): consume custom errors
  packages/node/src/compartment/parse-native.js
  packages/node/src/error.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

feat(node): add custom errors
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/index.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

feat(core): add write+define policy option to allow defineProperty on globals
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

fix(core): fix rewrite reference usage
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

chore: Apply suggestions from code review
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

test(node): remove stale policy-gen unit snapshots
  packages/node/test/unit/snapshots/policy-gen.spec.js.md
  packages/node/test/unit/snapshots/policy-gen.spec.js.snap
Labels: pkg:@lavamoat/node

fix(deps): upgrade @endo/compartment-mapper, @endo/evasive-transform (#1588)
  package-lock.json
  package.json
  packages/node/package.json
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
  packages/node/test/unit/snapshots/policy-gen.spec.js.md
  packages/node/test/unit/snapshots/policy-gen.spec.js.snap
  packages/perf/package.json
Labels: pkg:lavamoat-perf, pkg:@lavamoat/node

chore(wallaby): explicitly disable LAVAMOAT_DEBUG env var
  .wallaby.cjs
Labels: none

chore: fix lint-staged to avoid fixtures
  .config/lint-staged.config.js
Labels: none

feat(core): support untrusted entrypoints
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/test/generatePolicy.spec.js
  packages/core/test/snapshots/generatePolicy.spec.js.md
  packages/core/test/snapshots/generatePolicy.spec.js.snap
  packages/core/test/types/policy.spec.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore: add expect-type as dev dep to root
  package-lock.json
  package.json
Labels: none

chore(node): add custom type to avoid direct use of LavamoatModuleRecord
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

feat(core): support untrusted entrypoints
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/test/generatePolicy.spec.js
  packages/core/test/snapshots/generatePolicy.spec.js.md
  packages/core/test/snapshots/generatePolicy.spec.js.snap
  packages/core/test/types/policy.spec.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(node): add custom type to avoid direct use of LavamoatModuleRecord
  packages/node/.eslintrc.cjs
Labels: pkg:@lavamoat/node

chore: add expect-type as dev dep to root
  package-lock.json
  package.json
Labels: none

chore(wallaby): explicitly disable LAVAMOAT_DEBUG env var
  .wallaby.cjs
Labels: none

chore: fix lint-staged to avoid fixtures
  .config/lint-staged.config.js
Labels: none

chore(aa): disable flaky symlink perf test in CI
  packages/aa/test/symlink-perf.spec.js
Labels: pkg:@lavamoat/aa

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: none

chore: update CODEOWNERS (#1598)
  .github/CODEOWNERS
Labels: none

chore(aa): disable flaky symlink perf test in CI
  packages/aa/test/symlink-perf.spec.js
Labels: pkg:@lavamoat/aa

chore(ci): remove docker workflow
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Labels: none

chore(ci): remove docker workflow (#1599)
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Labels: none

chore(ci): try to force-trigger workflow
  .github/workflows/ready-for-review.yml
Labels: none

chore(ci): add ready-for-review workflow
  .github/workflows/ready-for-review.yml
Labels: none

chore(ci): try to add dispatch trigger for testing
  .github/workflows/ready-for-review.yml
Labels: none

chore: configure PAT
  .github/workflows/ready-for-review.yml
Labels: none

chore: clean up .github/workflows/ready-for-review.yml
  .github/workflows/ready-for-review.yml
Labels: none

chore(ci): add ready-for-review workflow (#1597)
  .github/workflows/ready-for-review.yml
Labels: none

poc
  packages/core/test/scenarios/scuttle.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/test/types.ts
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
  packages/node/test/unit/scenario.spec.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

feat: @lavamoat/react-native-lockdown
  package-lock.json
  packages/react-native-lockdown/README.md
  packages/react-native-lockdown/TROUBLESHOOTING.md
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/harden.js
  packages/react-native-lockdown/src/index.js
  packages/react-native-lockdown/src/repair.js
  packages/react-native-lockdown/test/unit/lockdownSerializer.spec.js
  packages/react-native-lockdown/test/unit/snapshots/lockdownSerializer.spec.js.md
  packages/react-native-lockdown/test/unit/snapshots/lockdownSerializer.spec.js.snap
  packages/react-native-lockdown/test/unit/validatePolyfills.spec.js
Labels: none

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/lavamoat-node/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa, pkg:lavamoat-node

feat(node): add custom errors
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/index.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

chore(node): rename option root => project-root
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/test/e2e/cli-run.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: pkg:@lavamoat/node

chore(node): consume custom errors
  packages/node/src/compartment/parse-native.js
  packages/node/src/error.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

chore(node): refactor resolveEntrypoint
  packages/node/src/cli.js
  packages/node/src/internal.ts
  packages/node/src/resolve.js
Labels: pkg:@lavamoat/node

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
