Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(core): LavaMoatPolicy.resources is now required
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

fix(core): handle extensionless files of unknown format
  packages/core/src/generatePolicy.js
  packages/core/test/generatePolicy.spec.js
Labels: pkg:lavamoat-core

fix(node): better policy override path handling
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
Labels: pkg:@lavamoat/node

fix(node): peer review changes
  packages/node/src/cli.js
  packages/node/src/exec/run.js
  packages/node/src/fs.js
  packages/node/src/internal.ts
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/types.ts
  packages/node/src/util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
  packages/node/test/unit/fixture/dynamic/package.json
  packages/node/test/unit/fixture/relative-package/README.md
  packages/node/test/unit/fixture/relative-package/index.js
  packages/node/test/unit/fixture/relative-package/node_modules/blinken/index.js
  packages/node/test/unit/fixture/relative-package/node_modules/blinken/package.json
  packages/node/test/unit/fixture/relative-package/node_modules/winken/index.js
  packages/node/test/unit/fixture/relative-package/node_modules/winken/package.json
  packages/node/test/unit/fixture/relative-package/package.json
  packages/node/test/unit/fs.spec.js
  packages/node/test/unit/json-fixture/relative-package.json
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/generation.spec.js
  packages/node/test/unit/policy/snapshots/generation.spec.js.md
  packages/node/test/unit/policy/snapshots/generation.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): remove unused option
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

chore(node): remove more dead code
  packages/node/src/policy-gen/policy-gen-context.js
Labels: pkg:@lavamoat/node

fix(core): remove unused type-fest
  package-lock.json
  packages/core/package.json
Labels: pkg:lavamoat-core

chore(node): downgrade SES compat warnings to debug loglevel
  packages/node/src/policy-gen/to-policy.js
Labels: pkg:@lavamoat/node

fix(node): fix attenuator compartment handling
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-util.js
Labels: pkg:@lavamoat/node

chore(node): improve performance of util.isObject
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

fix(node): prevent CLI from always warning about entrypoint resolution
  packages/node/src/cli.js
Labels: pkg:@lavamoat/node

fix(node): cleanup import hooks
  packages/node/src/compartment/import-hook.js
Labels: pkg:@lavamoat/node

chore(node): move type for RequiredReadNowPowers into internal types module
  packages/node/src/internal.ts
  packages/node/src/util.js
Labels: pkg:@lavamoat/node

chore(node): rename toUrlString to toEndoUrl
  packages/node/src/exec/load.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/util.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

fix(node): prevent sending Loggerr object into @endo/compartment-mapper
  packages/node/src/policy-gen/policy-gen-compartment-map.js
Labels: pkg:@lavamoat/node

fix(core): fix some types re: stringification
  packages/core/src/stringifyPolicy.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(node): log some more problems
  packages/node/src/policy-gen/policy-gen-context.js
Labels: pkg:@lavamoat/node

chore(node): add test fixture for policy gen override expansion
  packages/node/test/unit/fixture/override-expansion/README.md
  packages/node/test/unit/fixture/override-expansion/index.js
  packages/node/test/unit/fixture/override-expansion/lavamoat/node/policy-override.json
  packages/node/test/unit/fixture/override-expansion/lavamoat/node/policy.json
  packages/node/test/unit/fixture/override-expansion/node_modules/blinken/index.js
  packages/node/test/unit/fixture/override-expansion/node_modules/blinken/package.json
  packages/node/test/unit/fixture/override-expansion/node_modules/winken/index.js
  packages/node/test/unit/fixture/override-expansion/node_modules/winken/package.json
  packages/node/test/unit/fixture/override-expansion/package.json
Labels: pkg:@lavamoat/node

fix(node): do not log that policy was written when it was not written
  packages/node/src/policy-gen/generate.js
Labels: pkg:@lavamoat/node

fix(core): do not generate policy with writable nested global properties
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
Labels: pkg:lavamoat-core

chore(node): lint
  packages/node/src/internal.ts
Labels: pkg:@lavamoat/node

fix(node): fix broken attenuation for untrusted entries
  packages/node/src/constants.js
  packages/node/src/exec/default-attenuator.js
Labels: pkg:@lavamoat/node

fix(node): fix broken override expansion
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/test/unit/fixture/override-expansion/lavamoat/node/policy-override.json
  packages/node/test/unit/fixture/override-expansion/lavamoat/node/policy.json
  packages/node/test/unit/fixture/override-expansion/node_modules/fred/index.js
  packages/node/test/unit/fixture/override-expansion/node_modules/fred/package.json
  packages/node/test/unit/fixture/override-expansion/node_modules/fugs/index.js
  packages/node/test/unit/fixture/override-expansion/node_modules/fugs/package.json
  packages/node/test/unit/fixture/override-expansion/node_modules/winken/index.js
  packages/node/test/unit/fixture/override-expansion/node_modules/winken/package.json
  packages/node/test/unit/fixture/override-expansion/package.json
  packages/node/test/unit/json-fixture/override-expansion.json
  packages/node/test/unit/policy/generation.spec.js
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
Labels: pkg:@lavamoat/node

fix(node): use the "node" condition, since it's used in the wild
  packages/node/src/policy-gen/policy-gen-compartment-map.js
Labels: pkg:@lavamoat/node

chore(node): lint
  packages/node/src/policy-gen/policy-gen-compartment-map.js
Labels: pkg:@lavamoat/node

chore(node): consume custom errors
  packages/node/src/compartment/parse-native.js
  packages/node/src/error.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/lmr-cache.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/policy-gen-util.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/resolve.spec.js
Labels: pkg:@lavamoat/node

feat(node): add custom errors
  packages/node/src/error-code.js
  packages/node/src/error.js
  packages/node/src/errors.ts
  packages/node/src/index.js
  packages/node/src/types.ts
Labels: pkg:@lavamoat/node

feat(webpack): webpack context modules and chunk lazy loading support (#1553)
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/aa.spec.js
  packages/webpack/test/e2e-dynamic-import.spec.js
  packages/webpack/test/e2e-hack.spec.js
  packages/webpack/test/e2e-lockdown-inline.spec.js
  packages/webpack/test/e2e-main.spec.js
  packages/webpack/test/e2e-nodejs.spec.js
  packages/webpack/test/e2e-policy-dependencies.spec.js
  packages/webpack/test/e2e-policy-errors.spec.js
  packages/webpack/test/e2e-policy-gen.spec.js
  packages/webpack/test/e2e-polyfill.spec.js
  packages/webpack/test/e2e-ses-dependency.spec.js
  packages/webpack/test/fixtures/main/dynamic-chunk.js
  packages/webpack/test/fixtures/main/dynamic.js
  packages/webpack/test/fixtures/main/hack-dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/emptycontext.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/forcechunk.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer/package.json
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/dynamic.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-importer2/package.json
  packages/webpack/test/fixtures/main/node_modules/dynamic-stealer/index.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-stealer/package.json
  packages/webpack/test/fixtures/main/node_modules/dynamic-target/index.js
  packages/webpack/test/fixtures/main/node_modules/dynamic-target/package.json
  packages/webpack/test/fixtures/main/node_modules/flag-package/hack.js
  packages/webpack/test/fixtures/main/node_modules/flag-package/index.js
  packages/webpack/test/fixtures/main/node_modules/flag-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/scaffold.js
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.md
  packages/webpack/test/snapshots/e2e-dynamic-import.spec.js.snap
Labels: pkg:@lavamoat/webpack

feat: @lavamoat/react-native-lockdown
  package-lock.json
  packages/react-native-lockdown/README.md
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/harden.js
  packages/react-native-lockdown/src/makeGetPolyfills.js
  packages/react-native-lockdown/src/repair.js
Labels: none

fix: upgrade ses to v1.11.0
  package-lock.json
  package.json
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
  packages/node/package.json
  packages/perf/package.json
  packages/webpack/package.json
Labels: pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(webpack): unlockedChunksUnsafe option to refrain from protecting selected chunks
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

chore: Apply suggestions from code review
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix: cleanup and types
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

fix(webpack): update options type to cover unlockedChunksUnsafe
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

fix(webpack): make a copy of runtimeKit before mutating in unlocked runtime
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

feat(react-native-lockdown): add validation for polyfills input
  packages/react-native-lockdown/src/makeGetPolyfills.js
Labels: none

feat: draft implementation (or two) of lockdownSerializer for metro bundler
  packages/react-native-lockdown/README.md
  packages/react-native-lockdown/package.json
  packages/react-native-lockdown/src/index.js
Labels: none

fix: return configs from serializer functions
  packages/react-native-lockdown/src/index.js
Labels: none

fix: (temp) RangeError: Max call stack size exceeded
  packages/react-native-lockdown/src/index.js
Labels: none

docs: serializer config example with getPolyfills
  packages/react-native-lockdown/README.md
Labels: none

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'
