Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

docs: update RELEASE.md
  RELEASE.md
Labels: none

chore(ci): add a changeset synthesizer for prod dep upgrades
  .github/workflows/release-please.yml
  RELEASE.md
  eslint.config.mjs
  package.json
  scripts/changeset-deps.js
  scripts/test/changeset-deps.test.js
  scripts/test/test.env
Labels: none

chore(node): run execution unit tests in worker thread
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/exec-runner.js
Labels: pkg:@lavamoat/node

feat(core): allow excluding globals by key in copyWrappedGlobals
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

fix: add Node.js v26.0.0 to engines
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/allow-scripts/src/cli.js
  packages/browserify/package.json
  packages/core/package.json
  packages/core/src/kernelTemplate.js
  packages/git-safe-dependencies/package.json
  packages/lavamoat-node/package.json
  packages/lavapack/package.json
  packages/laverna/package.json
  packages/node/package.json
  packages/node/src/preamble.js
  packages/node/test/integration/scenario-util.js
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/types/package.json
  packages/vog/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:@lavamoat/preinstall-always-fail, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

fix(node)!: introduce new policy source API convention
  AGENTS.md
  packages/node/MIGRATION.md
  packages/node/README.md
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/compartment/options.js
  packages/node/src/constants.js
  packages/node/src/exec/load.js
  packages/node/src/exec/run.js
  packages/node/src/index.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-input.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/types.ts
  packages/node/test/integration/scenario-runner.js
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/exec/run.spec.js
  packages/node/test/unit/policy-input.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/snapshots/generate.spec.js.md
  packages/node/test/unit/policy/snapshots/generate.spec.js.snap
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.md
  packages/node/test/unit/policy/snapshots/load-for-policy.spec.js.snap
  packages/node/test/unit/policy/types.ts
Labels: pkg:@lavamoat/node

feat(vog)!: expose terminal-link as terminalLink
  package-lock.json
  packages/vog/package.json
  packages/vog/src/log.ts
  packages/vog/src/util.ts
Labels: none

chore(node): replace loggerr, chalk, etc. with @lavamoat/vog
  AGENTS.md
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/compartment/node-compartment-map.js
  packages/node/src/format.js
  packages/node/src/log-formatter.js
  packages/node/src/log.js
  packages/node/src/policy-gen/hooks.js
  packages/node/src/policy-gen/load-for-policy.js
  packages/node/src/policy-util.js
  packages/node/src/report.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/integration/scenario-runner.js
  packages/node/test/test-util.js
  packages/node/test/tsconfig.json
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/log.spec.js
  packages/node/test/unit/policy/generate.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/report.spec.js
Labels: pkg:@lavamoat/node

feat(vog)!: wrap cli-spinner
  packages/node/src/report.js
  packages/vog/README.md
  packages/vog/src/spinner.ts
Labels: pkg:@lavamoat/node
