Repository LavaMoat/LavaMoat, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-perf, pkg:@lavamoat/preinstall-always-fail, pkg:survey, pkg:lavamoat-tofu, pkg:lavamoat-viz, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:@lavamoat/laverna, pkg:@lavamoat/node, pkg:lavamoat-node

.github/labeler.yml:

'pkg:@lavamoat/aa':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/aa/**'

'pkg:@lavamoat/allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/allow-scripts/**'

'pkg:lavamoat-browserify':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/browserify/**'

'pkg:lavamoat-core':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/core/**'

'pkg:lavamoat-perf':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/perf/**'

'pkg:@lavamoat/preinstall-always-fail':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/preinstall-always-fail/**'

'pkg:survey':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/survey/**'

'pkg:lavamoat-tofu':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/tofu/**'

'pkg:lavamoat-viz':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/viz/**'

'pkg:@lavamoat/webpack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/webpack/**'

'pkg:@lavamoat/lavapack':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavapack/**'

'pkg:@lavamoat/yarn-plugin-allow-scripts':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/yarn-plugin-allow-scripts/**'

'pkg:@lavamoat/laverna':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/laverna/**'

'pkg:@lavamoat/node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/node/**'

'pkg:lavamoat-node':
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/lavamoat-node/**'

'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          # this can't capture digest changes in workflow files
          - 'packages/*/package.json'
          - './package?(-lock).json'

'chore':
  - changed-files:
      - any-glob-to-all-files:
          # general config-related stuff
          - '.github/**'
          - '.husky/**'
          - '**/.*' # all dotfiles
          - '**/.config/**'
          - '**/*.config.*'
          - '*release-please*'
          - '**/tsconfig*.json'

          # adhoc scripts
          - '**/scripts/**'

          # test-related
          - 'packages/*/test/**'
          - 'packages/*/*.spec.{?([mc])js,ts}'

'documentation':
  - changed-files:
      - any-glob-to-any-file:
          # note: this will include snapshot *.md files.
          # someone is welcome to figure out how to exclude these, but I give up
          - '**/*.md'
          - '**/docs/**'
          - '**/example?(s)/**'

fix(deps): add @babel/types override (#1709)
  package-lock.json
  package.json
Labels: none

feat(webpack): repairs for globals that need more than unwrap from core (#1751)
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/runtime/assemble.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
  packages/webpack/test/e2e-repairs.spec.js
  packages/webpack/test/fixtures/main/node_modules/another-message-package/index.js
  packages/webpack/test/fixtures/main/node_modules/another-message-package/package.json
  packages/webpack/test/fixtures/main/node_modules/message-package/index.js
  packages/webpack/test/fixtures/main/node_modules/message-package/package.json
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/src/repairs.js
  packages/webpack/test/fixtures/main/webpack.config.js
  packages/webpack/test/scaffold.js
Labels: pkg:@lavamoat/webpack

chore: limit when renovate runs
  .github/renovate.json5
Labels: none

feat(core): support FireFox contentscript shenanigans with cross-realm window prototypes
  packages/core/src/endowmentsToolkit.js
Labels: pkg:lavamoat-core

chore(renovate): group all Endo-related updates (#1765)
  .github/renovate.json5
Labels: none

chore: limit when renovate runs
  .github/renovate.json5
Labels: none

chore(ci): add a thing that updates coverage thresholds
  .github/actions/coverage-threshold/action.yml
  .github/workflows/coverage-threshold.yml
Labels: none

chore!: drop Node.js v16 support across the board
  .github/workflows/nodejs.yml
  packages/aa/package.json
  packages/allow-scripts/package.json
  packages/preinstall-always-fail/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/yarn-plugin-allow-scripts

chore(eslint): validate config files against JSON schemas
  .eslintrc.js
  package-lock.json
  package.json
Labels: none

chore: remove depcheck
  package-lock.json
  package.json
  packages/aa/.depcheckrc.yml
  packages/aa/package.json
  packages/allow-scripts/.depcheckrc.yml
  packages/allow-scripts/package.json
  packages/browserify/.depcheckrc.yml
  packages/browserify/package.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/lavamoat-node/.depcheckrc.yml
  packages/lavamoat-node/package.json
  packages/lavapack/.depcheckrc.yml
  packages/lavapack/package.json
  packages/tofu/.depcheckrc.yml
  packages/tofu/package.json
Labels: pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:@lavamoat/lavapack, pkg:lavamoat-node

chore: add knip
  .knip.jsonc
  package-lock.json
  package.json
Labels: none

chore(deps): update prettier-plugin-jsdoc
  package-lock.json
  package.json
Labels: none

chore(node): add eslint configuration for style
  package-lock.json
  packages/node/.eslintrc.cjs
  packages/node/package.json
Labels: pkg:@lavamoat/node

feat(vog): make vog
  package-lock.json
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/log.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/ses-compat.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/resolve.js
  packages/node/src/types.ts
  packages/node/test/e2e/cli-util.js
  packages/node/test/unit/exec/exec-macros.js
  packages/vog/.depcheckrc.yml
  packages/vog/LICENSE
  packages/vog/README.md
  packages/vog/package.json
  packages/vog/src/index.ts
  packages/vog/src/log.ts
  packages/vog/src/progress.ts
  packages/vog/src/spinner.ts
  packages/vog/src/tsconfig.json
  packages/vog/src/util.ts
  packages/vog/tsconfig.json
  tsconfig.json
Labels: pkg:@lavamoat/node

chore(deps): update prettier-plugin-jsdoc
  package-lock.json
  package.json
Labels: none

feat(types): create @lavamoat/types
  package-lock.json
  packages/aa/package.json
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/module-record.ts
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/index.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
  packages/types/src/tsconfig.json
  packages/types/tsconfig.json
  release-please-config.json
  tsconfig.json
Labels: pkg:@lavamoat/aa

fix(tofu,core,node,survey): move codeSampleFromAstNode to core
  packages/core/package.json
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/schema/ambient.ts
  packages/core/src/schema/index.ts
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
  packages/core/src/tsconfig.json
  packages/core/src/types.ts
  packages/core/src/walk.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
  packages/lavamoat-node/src/parseForPolicy.js
  packages/tofu/package.json
  packages/tofu/src/index.js
  packages/tofu/src/inspectPrimordialAssignments.js
  packages/tofu/src/inspectSesCompat.js
  packages/tofu/src/inspectSource.js
  packages/tofu/src/tsconfig.json
  packages/tofu/src/types.ts
  packages/tofu/src/util.js
  packages/types/src/policy-schema/ambient.ts
  packages/types/src/policy-schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core, pkg:lavamoat-tofu, pkg:lavamoat-node

chore: update depcheck cfgs
  packages/browserify/.depcheckrc.yml
  packages/core/.depcheckrc.yml
  packages/tofu/.depcheckrc.yml
Labels: pkg:lavamoat-browserify, pkg:lavamoat-core, pkg:lavamoat-tofu

fix(webpack): add @lavamoat/types
  packages/webpack/package.json
  packages/webpack/src/buildtime/aa.js
  packages/webpack/src/buildtime/policyGenerator.js
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
Labels: pkg:@lavamoat/webpack

chore(ts): reorder root tsconfig.json references
  tsconfig.json
Labels: none

fix(webpack): remove now-unused @ts-expect-error; add project ref to @lavamoat/types
  packages/webpack/tsconfig.json
Labels: pkg:@lavamoat/webpack

fix(types): update package.json and lockfile
  packages/types/package.json
Labels: none

fix(types): do not generate .js files
  packages/types/package.json
  packages/types/src/tsconfig.json
Labels: none

fix(core,node): updates post-merge of @lavamoat/node
  packages/core/src/endowmentsToolkit.js
  packages/core/src/generatePolicy.js
  packages/core/src/moduleRecord.js
  packages/node/package.json
  packages/node/src/cli.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/internal.ts
  packages/node/src/policy-converter.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-class.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/tsconfig.json
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/exec/exec-macros.js
  packages/node/test/unit/policy/conversion.spec.js
  packages/node/test/unit/policy/policy-macros.js
  packages/node/test/unit/policy/types.ts
  packages/node/test/unit/scenario-util.js
  packages/types/src/module-record.ts
  packages/types/test/policy.spec.ts
  packages/types/test/tsconfig.json
  packages/types/tsconfig.json
  packages/webpack/src/runtime/runtime.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack, pkg:@lavamoat/node

feat(types): provide Object.hasOwn definition
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: none

fix(core): bad type in mergePolicy
  packages/core/src/mergePolicy.js
Labels: pkg:lavamoat-core

fix(tofu): update type for new SetFieldType behavior
  packages/tofu/src/inspectPrimordialAssignments.js
Labels: pkg:lavamoat-tofu

fix(types): update @babel/types
  packages/types/.depcheckrc.yml
Labels: none

chore(core): remove has-own type def in lieu of @lavamoat/types
  packages/core/src/has-own.d.ts
Labels: pkg:lavamoat-core

fix(types): Object.hasOwn does not interfere with index signatures
  packages/types/src/has-own.ts
Labels: none

chore(core): convert all inline type imports to @import statements
  packages/core/.eslintrc.js
  packages/core/src/codeSampleFromAstNode.js
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/tsconfig.json
  packages/core/src/walk.js
  packages/core/test/scenarios/index.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

chore(types): add lint:deps script
  packages/core/.depcheckrc.yml
  packages/types/package.json
Labels: pkg:lavamoat-core

feat(policy): create @lavamoat/policy
  package-lock.json
  package.json
  packages/policy/.depcheckrc.yml
  packages/policy/.gitignore
  packages/policy/LICENSE
  packages/policy/README.md
  packages/policy/lavamoat-policy.schema.json
  packages/policy/package.json
  packages/policy/scripts/create-policy-schema.ts
  packages/policy/scripts/tsconfig.json
  packages/policy/src/index.ts
  packages/policy/src/policy-schema.ts
  packages/policy/src/tsconfig.json
  packages/policy/test/policy-schema.spec.ts
  packages/policy/test/policy-schema.spec.ts.snapshot
  packages/policy/test/tsconfig.json
  packages/policy/tsconfig.json
  tsconfig.json
Labels: none

chore: build types first
  .github/actions/test/action.yml
  package.json
Labels: none

chore(ci): rebuild types before linting
  .github/workflows/nodejs.yml
Labels: none

chore(types): remove reference to non-existent @types/ses
  packages/types/test/tsconfig.json
Labels: none

chore(core): avoid deprecated LavaMoatPolicyOverrides type
  packages/core/src/generatePolicy.js
  packages/core/src/loadPolicy.js
  packages/core/src/mergePolicy.js
  packages/core/src/parseForPolicy.js
  packages/core/src/stringifyPolicy.js
  packages/core/test/scenario.ts
  packages/core/test/util.js
Labels: pkg:lavamoat-core

fix(webpack): fix type import
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: pkg:@lavamoat/webpack

chore(node): refactor some utils
  packages/node/src/compartment/parse-native.js
  packages/node/src/exec/run.js
  packages/node/src/format.js
  packages/node/src/policy-gen/generate.js
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/src/policy-gen/policy-gen-context.js
  packages/node/src/policy-gen/to-policy.js
  packages/node/src/policy-util.js
  packages/node/src/resolve.js
  packages/node/src/util.js
  packages/node/test/unit/format.spec.js
  packages/node/test/unit/util.spec.js
Labels: pkg:@lavamoat/node

feat(node): add "validate" command; use @lavamoat/policy
  package-lock.json
  packages/node/package.json
  packages/node/src/cli/cli.js
  packages/node/src/policy-util.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/unit/policy-util.spec.js
  packages/node/test/unit/policy/policy-macros.js
Labels: pkg:@lavamoat/node
