Repository LavaMoat/LavaMoat, pull requests merged in 2023-08, with the labels that each got.

#654 fix(lavamoat): fix main entry point
  packages/node/package.json
Labels: bug

#666 chore(release-please): set initial bootstrap sha
  release-please-config.json
Labels: chore

#653 fix(lavamoat): allow prefixed builtins
  packages/node/src/parseForPolicy.js
  packages/node/test/index.js
  packages/node/test/projects/6/fake_node_modules/a/index.js
  packages/node/test/projects/6/fake_node_modules/a/package.json
  packages/node/test/projects/6/index.js
  packages/node/test/projects/6/lavamoat/node/policy.json
  packages/node/test/projects/6/package-lock.json
  packages/node/test/projects/6/package.json
Labels: bug

#643 chore: normalize test config
  package-lock.json
  package.json
  packages/aa/package.json
  packages/aa/test/index.spec.js
  packages/allow-scripts/package.json
  packages/allow-scripts/test/index.spec.js
  packages/browserify/ava.config.cjs
  packages/browserify/package.json
  packages/browserify/test/arguments.spec.js
  packages/browserify/test/basic.spec.js
  packages/browserify/test/factor.spec.js
  packages/browserify/test/generatePolicy.spec.js
  packages/browserify/test/globalRef.spec.js
  packages/browserify/test/globalWrites.spec.js
  packages/browserify/test/globals.spec.js
  packages/browserify/test/lavamoatNode.spec.js
  packages/browserify/test/policy.spec.js
  packages/browserify/test/runScenarios.spec.js
  packages/core/package.json
  packages/core/test/builtin.spec.js
  packages/core/test/circularDeps.spec.js
  packages/core/test/generatePolicy.spec.js
  packages/core/test/globals.spec.js
  packages/core/test/index.js
  packages/core/test/makeGetEndowmentsForConfig.spec.js
  packages/core/test/mergePolicy.spec.js
  packages/core/test/runScenarios.spec.js
  packages/lavapack/package.json
  packages/lavapack/test/index.spec.js
  packages/lavapack/test/runtimeEcma.js
  packages/lavapack/test/runtimeEcma.spec.js
  packages/lavapack/test/sourcemaps.js
  packages/lavapack/test/sourcemaps.spec.js
  packages/node/package.json
  packages/node/test/arguments.js
  packages/node/test/arguments.spec.js
  packages/node/test/envConfig.spec.js
  packages/node/test/globals.spec.js
  packages/node/test/index.spec.js
  packages/node/test/runScenarios.spec.js
  packages/node/test/waysToRun.spec.js
  packages/tofu/package.json
  packages/tofu/test/findGlobals.spec.js
  packages/tofu/test/index.js
  packages/tofu/test/inspectEsmImports.spec.js
  packages/tofu/test/inspectGlobals.spec.js
  packages/tofu/test/inspectImports.spec.js
  packages/tofu/test/inspectPrimordialAssignments.spec.js
  packages/tofu/test/inspectSesCompat.spec.js
  packages/tofu/test/util.spec.js
Labels: chore

#671 chore(survey/deps): cheerio@^0.22.0->^1.0.0-rc12
  package-lock.json
  packages/survey/package.json
Labels: dependencies

#687 chore: remove NOTES.md
  NOTES.md
Labels: chore

#690 nvmrc: node v14 -> v18
  .nvmrc
Labels: chore
