Repository LavaMoat/LavaMoat, pull requests merged in 2023-12, with the labels that each got.

#755 chore(deps): upgrade type-fest across entire repo
  package-lock.json
  package.json
Labels: chore

#767 chore: npm audit fix; npm dedupe
  package-lock.json
Labels: dependencies

#776 chore(deps): pin typescript to patch versions
  package-lock.json
  package.json
Labels: chore

#792 fix(lavapack): espree should be a dep, not a dev dep
  package-lock.json
  packages/lavapack/package.json
Labels: bug

#790 chore(vscode): update settings for new vscode
  .vscode/settings.json
Labels: chore

#805 chore: fix typo in release:dry-run script
  package.json
Labels: chore
