Repository LavaMoat/LavaMoat, pull requests merged in 2023-09, with the labels that each got.

#678 fix(tofu): parse private names
  packages/tofu/src/findGlobals.js
  packages/tofu/src/util.js
  packages/tofu/test/fixtures/class.js
Labels: bug

#676 chore(lavapack): ensure artifacts get built upon publish
  RELEASE.md
  package-lock.json
  package.json
  packages/lavapack/.gitignore
  packages/lavapack/package.json
  packages/lavapack/src/builder-runtime.js
  packages/lavapack/src/runtime-cjs.js
  packages/lavapack/src/runtime.js
  packages/lavapack/test/runtimeEcma.spec.js
  packages/viz/package.json
Labels: chore

#695 chore(browserify): remove dead code
  packages/browserify/test/util.js
Labels: chore

#702 fix(viz): upgrade d3 stuff for npm audit
  package-lock.json
  packages/viz/package.json
Labels: dependencies

#698 chore: use npm for browserify tests
  package-lock.json
  packages/browserify/package.json
  packages/browserify/test/fixtures/secureBundling/lavamoat/node/policy.json
  packages/browserify/test/util.js
Labels: chore

#708 docs(release): embetter
  RELEASE.md
Labels: documentation
