Repository LavaMoat/LavaMoat, pull requests merged in 2023-11, with the labels that each got.

#743 chore: update deps for private workspaces
  package-lock.json
  packages/perf/package.json
  packages/survey/package.json
Labels: chore

#747 chore(core): rename fake_node_modules to node-modules
  packages/node/test/projects/1/node-modules/a/index.js
  packages/node/test/projects/1/node-modules/a/package.json
  packages/node/test/projects/1/node-modules/b/index.js
  packages/node/test/projects/1/node-modules/b/package.json
  packages/node/test/projects/1/package.json
  packages/node/test/projects/1/yarn.lock
  packages/node/test/projects/3/node-modules/a/index.js
  packages/node/test/projects/3/node-modules/a/package.json
  packages/node/test/projects/3/node-modules/b/index.js
  packages/node/test/projects/3/node-modules/b/package.json
  packages/node/test/projects/3/package.json
  packages/node/test/projects/3/yarn.lock
  packages/node/test/projects/4/node-modules/a/index.js
  packages/node/test/projects/4/node-modules/a/package.json
  packages/node/test/projects/4/node-modules/b/index.js
  packages/node/test/projects/4/node-modules/b/package.json
  packages/node/test/projects/4/package.json
  packages/node/test/projects/4/yarn.lock
  packages/node/test/projects/5/node-modules/a/index.js
  packages/node/test/projects/5/node-modules/a/package.json
  packages/node/test/projects/5/package.json
  packages/node/test/projects/5/yarn.lock
  packages/node/test/projects/6/node-modules/a/index.js
  packages/node/test/projects/6/node-modules/a/package.json
  packages/node/test/projects/6/package.json
  packages/node/test/projects/6/yarn.lock
Labels: chore

#745 chore: do not call allow-scripts in workspace root
  package.json
Labels: chore

#748 chore(node): fix tests when running on apple silicon
  packages/node/package.json
  packages/node/test/prepare.js
Labels: chore

#749 chore(deps): fix lavamoat-tofu version in survey
  package-lock.json
  packages/survey/package.json
Labels: dependencies

#751 chore: normalize repository & engines fields
  package-lock.json
  packages/browserify/package.json
  packages/core/package.json
  packages/lavapack/package.json
  packages/node/package.json
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/viz/package.json
  packages/webpack/package.json
Labels: chore

#760 docs(aa,webpack): add missing LICENSE file
  packages/aa/LICENSE.md
  packages/webpack/LICENSE.md
Labels: documentation
