Repository LavaMoat/LavaMoat, pull requests merged in 2024-12, with the labels that each got.

#1411 fix(lavamoat-node): fix the bug that prevented following dependency relationships listed in policy overrides
  packages/lavamoat-node/src/parseForPolicy.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/7/.npmrc
  packages/lavamoat-node/test/projects/7/README.md
  packages/lavamoat-node/test/projects/7/index.js
  packages/lavamoat-node/test/projects/7/lavamoat/node/policy-override.json
  packages/lavamoat-node/test/projects/7/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/7/node-modules/a/index.js
  packages/lavamoat-node/test/projects/7/node-modules/a/package.json
  packages/lavamoat-node/test/projects/7/node-modules/b/index.js
  packages/lavamoat-node/test/projects/7/node-modules/b/package.json
  packages/lavamoat-node/test/projects/7/node-modules/c/index.js
  packages/lavamoat-node/test/projects/7/node-modules/c/package.json
  packages/lavamoat-node/test/projects/7/package.json
  packages/lavamoat-node/test/projects/7/yarn.lock
Labels: documentation

#1442 chore(ci): add env flag to Docker build
  .github/workflows/docker.yml
Labels: chore, documentation

#1467 feat(core): policy sorting cli for cleaner sort order migration
  packages/core/package.json
  packages/core/src/generatePolicy.js
  packages/core/src/policy-sort-cli.js
Labels: dependencies, pkg:lavamoat-core

#1469 fix: make policy ordering consistntly manifest itself in json files produced
  package-lock.json
  packages/browserify/package.json
  packages/browserify/src/index.js
  packages/browserify/test/fixtures/exampleApp/policy.json
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/loadPolicy.js
  packages/core/src/policy-sort-cli.js
  packages/core/src/stringifyPolicy.js
  packages/core/test/generatePolicy.spec.js
  packages/core/test/snapshots/stringifyPolicy.spec.js.md
  packages/core/test/snapshots/stringifyPolicy.spec.js.snap
  packages/core/test/stringifyPolicy.spec.js
  packages/lavamoat-node/package.json
  packages/lavamoat-node/src/index.js
  packages/lavamoat-node/test/index.spec.js
  packages/lavamoat-node/test/projects/1/fake-fs.js
  packages/lavamoat-node/test/projects/1/lavamoat/node/policy.json
  packages/lavamoat-node/test/projects/1/node-modules/0zero/index.js
  packages/lavamoat-node/test/projects/1/node-modules/0zero/package.json
  packages/lavamoat-node/test/projects/1/node-modules/a/index.js
  packages/lavamoat-node/test/projects/1/node-modules/a/package.json
  packages/lavamoat-node/test/projects/1/yarn.lock
  packages/lavamoat-node/test/snapshots/index.spec.js.md
  packages/lavamoat-node/test/snapshots/index.spec.js.snap
  packages/tofu/test/inspectImports.spec.js
  packages/webpack/src/buildtime/policyGenerator.js
Labels: dependencies, documentation, pkg:lavamoat-core, pkg:@lavamoat/aa, pkg:lavamoat-browserify, pkg:lavamoat-tofu, pkg:@lavamoat/webpack

#1471 fix: 2 bugs manifested in walking content from policy-overrides: atte…
  packages/core/src/generatePolicy.js
  packages/core/src/walk.js
  packages/lavamoat-node/src/parseForPolicy.js
Labels: pkg:lavamoat-core
