Repository LavaMoat/LavaMoat, pull requests merged in 2024-01, with the labels that each got.

#813 chore: enable save-exact
  .npmrc
Labels: chore

#823 chore(ci): ignore codeql warnings from perf examples
  .github/codeql/codeql-config.yml
Labels: chore

#819 chore: fix package.json files
  package.json
  packages/allow-scripts/package.json
  packages/browserify/package.json
  packages/core/package.json
  packages/lavapack/package.json
  packages/node/package.json
  packages/perf/package.json
  packages/preinstall-always-fail/package.json
  packages/tofu/package.json
  packages/viz/package.json
  packages/webpack/package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: chore

#831 chore(lavapack): fix source-map version
  package-lock.json
  packages/lavapack/package.json
Labels: dependencies, chore

#835 fix(tofu): make lavamoat-core a peer dep
  package-lock.json
  packages/tofu/package.json
Labels: bug

#864 chore: add an auto-labeler bot
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: chore

#865 chore(ci): fix labelbot
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: chore, documentation

#861 chore(renovate): do not automerge anything
  .github/renovate.json5
Labels: chore

#878 chore(deps): upgrade SES
  package-lock.json
  package.json
  packages/core/package.json
  packages/perf/package.json
  packages/webpack/package.json
Labels: dependencies, documentation, pkg:lavamoat-perf, pkg:lavamoat-core, pkg:@lavamoat/webpack

#881 fix(core): update SES to v1.1.0 in core
  packages/core/lib/lockdown.umd.js
  packages/core/package.json
Labels: dependencies, documentation, pkg:lavamoat-core

#872 chore(ci): fix labeler again
  .github/labeler.yml
Labels: chore, documentation

#876 chore(ci): only tag "chore" if all files are in the chore bucket
  .github/labeler.yml
Labels: chore

#875 chore(deps): override @types/node
  package-lock.json
  package.json
  packages/yarn-plugin-allow-scripts/package.json
Labels: dependencies, pkg:@lavamoat/yarn-plugin-allow-scripts

#909 perf(core): optimize RegExp allocation and compilation in sourceTransforms
  packages/core/src/sourceTransforms.js
Labels: pkg:lavamoat-core

#950 chore(deps): fix invalid package-lock.json
  package-lock.json
Labels: pkg:lavamoat-browserify

#899 chore(ci): auto-assign PR author
  .github/workflows/assign-author.yml
Labels: chore

#951 chore(ci): validate lockfile
  .github/workflows/nodejs.yml
Labels: chore

#977 chore(browserify,lavapack): remove extraneous stale gitHead from package.json
  packages/browserify/package.json
  packages/lavapack/package.json
Labels: dependencies, pkg:lavamoat-browserify, pkg:@lavamoat/lavapack

#971 fix(allow-scripts): add corepack to bannedBins
  packages/allow-scripts/src/index.js
Labels: pkg:@lavamoat/allow-scripts

#758 refactor(core): extract scuttling from the kernel
  packages/core/src/generateKernel.js
  packages/core/src/kernelCoreTemplate.js
  packages/core/src/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: chore, pkg:lavamoat-core

#973 fix(core): update LavamoatModuleRecord
  package-lock.json
  packages/core/.depcheckrc.yml
  packages/core/package.json
  packages/core/src/moduleRecord.js
Labels: dependencies, pkg:lavamoat-core
