Repository LavaMoat/LavaMoat, pull requests merged in 2024-08, with the labels that each got.

#1269 chore(allow-scripts): doc fix
  packages/allow-scripts/README.md
Labels: documentation, pkg:@lavamoat/allow-scripts

#1287 chore(webpack): release @lavamoat/webpack as 0.5.0-beta.0
  release-please-config.json
Labels: chore

#1126 chore(core): normalize non-existent package references in test files
  packages/core/test/builtin.spec.js
Labels: chore, pkg:lavamoat-core

#1309 fix(webpack): allow __webpack_require__.t in webpack runtime
  packages/webpack/src/runtime/runtime.js
Labels: pkg:@lavamoat/webpack
