Repository LavaMoat/LavaMoat, pull requests merged in 2024-09, with the labels that each got.

#1321 nvmrc: default node 20
  .nvmrc
Labels: chore

#1335 chore: align internal dependency ranges
  package-lock.json
  packages/node/examples/express/package.json
  packages/perf/package.json
  packages/survey/package.json
Labels: dependencies, documentation, pkg:lavamoat-perf, pkg:survey

#1319 feat(webpack): support ContextModule - skip enforcement of policy
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

#1301 feat(webpack): support thisAsExports runtime requirement
  packages/webpack/src/ENUM.json
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/wrapper.js
  packages/webpack/test/fixtures/main/node_modules/commonjs-quirks/index.js
  packages/webpack/test/fixtures/main/node_modules/commonjs-quirks/this.js
Labels: pkg:@lavamoat/webpack

#1296 feat(webpack): change how inlining lockdown is configured
  packages/webpack/README.md
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/plugin.js
  packages/webpack/test/e2e-lockdown-inline.spec.js
Labels: documentation, pkg:@lavamoat/webpack
