Repository LavaMoat/LavaMoat, pull requests merged in 2024-02, with the labels that each got.

#1007 chore(browserify): see if running in serial helps tests not timeout
  packages/browserify/package.json
Labels: dependencies, pkg:lavamoat-browserify

#1011 feat(lavapack): check syntax of a module independently of browserify's own check
  packages/lavapack/src/pack.js
  packages/lavapack/test/index.spec.js
Labels: pkg:@lavamoat/lavapack

#1008 refactor: normalise root tsconfig references paths
  tsconfig.json
Labels: chore

#1031 chore: add to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: chore

#1034 chore: revert "adapt dirty-check script to be run in local dev env"
  .github/workflows/nodejs.yml
  package.json
  scripts/dirty-check.js
Labels: chore

#1037 chore: remove dirty-check from lint-staged cfg
  .config/lint-staged.config.js
Labels: chore

#1035 chore(browserify): disable scenario tests on macos in CI for now
  packages/browserify/ava.config.mjs
  packages/browserify/package.json
Labels: dependencies, pkg:lavamoat-browserify

#1030 feat(core): turn off localeTaming in ses lockdown by default
  packages/core/src/kernelTemplate.js
Labels: pkg:lavamoat-core

#1032 fix(core): export types from generatePolicy
  packages/core/src/types.ts
Labels: pkg:lavamoat-core

#1057 chore(lavamoat): increase scenario test timeout
  packages/node/package.json
Labels: dependencies
