Repository LavaMoat/LavaMoat, pull requests merged in 2024-04, with the labels that each got.

#1167 chore(CI): avoid triggering duplicated jobs
  .github/workflows/nodejs.yml
Labels: chore

#1156 fix(lavapack): remove unused sourcemap logic, simplify clearing out sourcemaps from concatenated sources
  package-lock.json
  packages/lavapack/package.json
  packages/lavapack/src/pack.js
  packages/lavapack/test/index.spec.js
  packages/lavapack/test/snapshots/index.spec.js.md
  packages/lavapack/test/snapshots/index.spec.js.snap
  packages/lavapack/test/snapshots/sourcemap-regex.spec.js.md
  packages/lavapack/test/snapshots/sourcemap-regex.spec.js.snap
  packages/lavapack/test/sourcemap-regex.spec.js
Labels: dependencies, documentation, pkg:@lavamoat/lavapack

#1101 webpack: lockdown inlining
  packages/webpack/README.md
  packages/webpack/src/buildtime/emitSes.js
  packages/webpack/src/plugin.js
  packages/webpack/src/types.js
  packages/webpack/test/e2e-lockdown-inline.spec.js
Labels: documentation, pkg:@lavamoat/webpack

#1174 chore(allow-scripts): attempt to skip problem test on windows
  packages/allow-scripts/test/index.spec.js
Labels: chore, pkg:@lavamoat/allow-scripts
