Repository LavaMoat/LavaMoat, pull requests merged in 2024-03, with the labels that each got.

#962 chore: add json5 to linter
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
Labels: chore

#1075 fix(webpack): fix global aliases in non-root compartments
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-manual.js
  packages/webpack/test/fixtures/main/main.js
  packages/webpack/test/fixtures/main/node_modules/globals-package/index.js
  packages/webpack/test/fixtures/main/node_modules/globals-package/package.json
  packages/webpack/test/fixtures/main/node_modules/node-global-package/index.js
  packages/webpack/test/fixtures/main/package.json
  packages/webpack/test/fixtures/main/policy-broken/policy.json
  packages/webpack/test/fixtures/main/policy/policy.json
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.md
  packages/webpack/test/snapshots/e2e-policy-gen.spec.js.snap
Labels: documentation, pkg:@lavamoat/webpack

#1118 chore(aa): disable symlink perf test on darwin in CI
  packages/aa/test/symlink-perf.spec.js
Labels: chore, pkg:@lavamoat/aa

#1109 feat(core): add external package name fallback function to options in generatePolicy, use it in webpack
  packages/core/src/generatePolicy.js
  packages/webpack/src/buildtime/policyGenerator.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/webpack

#1127 fix(core): remove circular ref to ambient.ts
  packages/core/src/schema/index.ts
Labels: pkg:lavamoat-core

#1123 fix(webpack): dependency fixes
  package-lock.json
  packages/webpack/package.json
Labels: dependencies, pkg:@lavamoat/webpack

#1125 fix(laverna): fix cycle in type declarations
  packages/laverna/src/cli.js
  packages/laverna/src/defaults.js
  packages/laverna/src/index.js
  packages/laverna/src/laverna.js
  packages/laverna/src/types.js
  packages/laverna/test/laverna.spec.js
Labels: pkg:@lavamoat/laverna

#1104 chore(browserify): remove secureBundling policy.json from VCS
  .gitignore
  packages/browserify/package.json
  packages/browserify/test/fixtures/secureBundling/lavamoat/node/policy.json
Labels: dependencies, pkg:@lavamoat/aa, pkg:lavamoat-browserify
