Repository LavaMoat/LavaMoat, pull requests merged in 2024-10, with the labels that each got.

#1358 chore(allow-scripts): handle spaces in execPath in Windows tests
  packages/allow-scripts/test/index.spec.js
  packages/allow-scripts/test/prepare.js
  packages/allow-scripts/test/utils.js
Labels: chore, pkg:@lavamoat/allow-scripts

#1362 chore(browserify): npm audit fix examples
  packages/browserify/examples/00-simple-cli/package-lock.json
  packages/browserify/examples/01-simple-js/package-lock.json
  packages/browserify/examples/02-scuttler-js/package-lock.json
Labels: documentation, pkg:lavamoat-browserify

#1383 feat(allow-scripts): allow configuring lifecycleEvents for loadAllPackageConfigurations
  packages/allow-scripts/src/config.js
Labels: pkg:@lavamoat/allow-scripts

#1390 chore: mark webpack plugin version 0.7
  release-please-config.json
Labels: chore

#1379 fix(aa): only require used sync submodule from resolve package
  packages/aa/src/index.js
  packages/aa/src/types/resolve-sync.d.ts
Labels: pkg:@lavamoat/aa

#1350 feat(core): sort policy in a diff-friendly way
  packages/core/src/generatePolicy.js
  packages/core/test/generatePolicy.spec.js
  packages/core/test/snapshots/generatePolicy.spec.js.md
  packages/core/test/snapshots/generatePolicy.spec.js.snap
Labels: documentation, pkg:lavamoat-core

#1421 feat(browserify): configurable resolve implementation
  packages/browserify/src/index.js
Labels: pkg:lavamoat-browserify
