Repository LavaMoat/LavaMoat, pull requests merged in 2025-01, with the labels that each got.

#1483 chore(node): update release-please config for @lavamoat/node
  release-please-config.json
Labels: chore

#1489 chore: attempt to fix initial release of @lavamoat/node
  release-please-config.json
Labels: chore

#1494 feat(webpack): add undocumented __unsafeAllowContextModules flag to a…
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

#1484 docs: rewrite readme for @lavamoat/node
  packages/node/README.md
Labels: documentation

#1491 docs(test): update dev docs for working with JSON fixtures
  packages/node/test/unit/json-fixture/README.md
Labels: chore, documentation

#1270 chore: remove legacy examples
  packages/browserify/examples/00-simple-cli/.gitignore
  packages/browserify/examples/00-simple-cli/README.md
  packages/browserify/examples/00-simple-cli/index.html
  packages/browserify/examples/00-simple-cli/index.js
  packages/browserify/examples/00-simple-cli/lavamoat/browserify/lavamoat-config-override.json
  packages/browserify/examples/00-simple-cli/lavamoat/browserify/lavamoat-config.json
  packages/browserify/examples/00-simple-cli/lavamoat/browserify/policy-override.json
  packages/browserify/examples/00-simple-cli/package-lock.json
  packages/browserify/examples/00-simple-cli/package.json
  packages/browserify/examples/00-simple-cli/plugin.js
  packages/browserify/examples/00-simple-cli/policy-override.json
  packages/browserify/examples/00-simple-cli/policy.json
  packages/browserify/examples/01-simple-js/.gitignore
  packages/browserify/examples/01-simple-js/README.md
  packages/browserify/examples/01-simple-js/build.js
  packages/browserify/examples/01-simple-js/index.html
  packages/browserify/examples/01-simple-js/index.js
  packages/browserify/examples/01-simple-js/lavamoat/browserify/policy-override.json
  packages/browserify/examples/01-simple-js/lavamoat/browserify/policy.json
  packages/browserify/examples/01-simple-js/package-lock.json
  packages/browserify/examples/01-simple-js/package.json
  packages/browserify/examples/02-scuttler-js/.gitignore
  packages/browserify/examples/02-scuttler-js/README.md
  packages/browserify/examples/02-scuttler-js/build.js
  packages/browserify/examples/02-scuttler-js/index.html
  packages/browserify/examples/02-scuttler-js/index.js
  packages/browserify/examples/02-scuttler-js/lavamoat/browserify/policy-override.json
  packages/browserify/examples/02-scuttler-js/lavamoat/browserify/policy.json
  packages/browserify/examples/02-scuttler-js/package-lock.json
  packages/browserify/examples/02-scuttler-js/package.json
  packages/browserify/examples/README.md
  packages/lavamoat-node/examples/eval-server/README.md
  packages/lavamoat-node/examples/eval-server/index.js
  packages/lavamoat-node/examples/eval-server/lavamoat-config-override.json
  packages/lavamoat-node/examples/eval-server/lavamoat-config.json
  packages/lavamoat-node/examples/eval-server/package-lock.json
  packages/lavamoat-node/examples/eval-server/package.json
  packages/lavamoat-node/examples/express/README.md
  packages/lavamoat-node/examples/express/chapter3/override-0.json
  packages/lavamoat-node/examples/express/index.js
  packages/lavamoat-node/examples/express/lavamoat-config-override.json
  packages/lavamoat-node/examples/express/package.json
  packages/lavamoat-node/examples/express/patches/depd+1.1.2.patch
  packages/lavamoat-node/examples/todo-cli/index.js
  packages/lavamoat-node/examples/todo-cli/lavamoat-config.json
  packages/lavamoat-node/examples/todo-cli/package-lock.json
  packages/lavamoat-node/examples/todo-cli/package.json
  packages/lavamoat-node/examples/todo-cli/todo.txt
Labels: documentation, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify

#1499 fix(node): update ses to v1.10.0
  package-lock.json
  packages/node/package.json
Labels: dependencies

#1506 fix(node): allow flags to be passed to entrypoint
  packages/node/src/cli.js
  packages/node/test/e2e/cli.spec.js
  packages/node/test/e2e/fixture/basic/app.js
  packages/node/test/types.ts
Labels: bug

#996 chore(core): run scenarios in ava context
  packages/core/test/runScenarios.spec.js
Labels: dependencies, chore, pkg:lavamoat-core

#1298 feat(webpack): support scuttling
  packages/webpack/src/buildtime/assemble.js
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/e2e-scuttle.spec.js
  packages/webpack/test/fixtures/main/policy-scuttling/policy.json
  packages/webpack/test/fixtures/main/simple.js
  packages/webpack/test/scaffold.js
Labels: dependencies, documentation, pkg:lavamoat-perf, pkg:lavamoat-core, pkg:lavamoat-browserify, pkg:lavamoat-tofu, pkg:@lavamoat/webpack
