Repository LavaMoat/LavaMoat, pull requests merged in 2025-03, with the labels that each got.

#1544 chore(node): add wallaby config
  .wallaby.cjs
  package-lock.json
  package.json
Labels: pkg:@lavamoat/node

#1522 chore(node): update native fixtures
  .eslintrc.js
  packages/node/test/unit/fixture/native/.gitignore
  packages/node/test/unit/fixture/native/.npmrc
  packages/node/test/unit/fixture/native/README.md
  packages/node/test/unit/fixture/native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/native/node_modules/node-gyp-build/SECURITY.md
  packages/node/test/unit/fixture/native/node_modules/node-gyp-build/bin.js
  packages/node/test/unit/fixture/native/node_modules/node-gyp-build/package.json
  packages/node/test/unit/fixture/native/package.json
  packages/node/test/unit/json-fixture/native.json
Labels: chore, documentation, pkg:@lavamoat/node

#1545 feat(node): add --quiet and --verbose
  packages/node/src/cli.js
  packages/node/test/e2e/cli-generate.spec.js
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-generate.spec.js.md
  packages/node/test/e2e/snapshots/cli-generate.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: documentation, pkg:@lavamoat/node

#1556 fix(git-safe): improve git specifier detection and tests
  packages/git-safe-dependencies/src/index.js
  packages/git-safe-dependencies/src/isgit.js
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/fixtures/npm-realistic/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/workspaces/example/package.json
  packages/git-safe-dependencies/test/fixtures/npm-workspaces/workspaces/example2/package.json
  packages/git-safe-dependencies/test/fixtures/npm/package-lock.json
  packages/git-safe-dependencies/test/fixtures/npm/package.json
  packages/git-safe-dependencies/test/fixtures/workflows/add-release-label.yml
  packages/git-safe-dependencies/test/fixtures/workflows/more/add-mmi-reviewer-and-notify.yml
  packages/git-safe-dependencies/test/fixtures/workflows2/ignore.json
  packages/git-safe-dependencies/test/fixtures/workflows2/more/add-mmi-reviewer-and-notify.yml
  packages/git-safe-dependencies/test/fixtures/yarn-berry-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-berry-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-berry/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-berry/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-nopackage/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-classic-realistic/yarn.lock.ignore.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-classic/yarn.lock
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/package.json
  packages/git-safe-dependencies/test/fixtures/yarn-mmm/yarn.lock
  packages/git-safe-dependencies/test/isgit.spec.js
  packages/git-safe-dependencies/test/manual/actions.sh
  packages/git-safe-dependencies/test/manual/run.sh
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: dependencies, documentation

#1560 chore(git-safe): relative path snapshots
  packages/git-safe-dependencies/package.json
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/fixtures/workflows/add-release-label.yml
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: dependencies, chore, documentation

#1505 fix(core): block circular global object endowments
  packages/browserify/src/index.js
  packages/browserify/test/globalRef.spec.js
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
  packages/core/src/makePrepareRealmGlobalFromConfig.js
  packages/core/test/globals.spec.js
  packages/core/test/util.js
  packages/lavamoat-node/test/globals.spec.js
  packages/lavapack/src/runtime-template.js
  packages/webpack/src/runtime/runtime.js
Labels: pkg:lavamoat-core, pkg:lavamoat-browserify, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:lavamoat-node
