Repository LavaMoat/LavaMoat, pull requests merged in 2025-04, with the labels that each got.

#1585 feat(core): add "redefine" global policy value to schema
  packages/core/src/schema/lavamoat-policy.v0-0-1.schema.ts
Labels: pkg:lavamoat-core

#1586 chore(core): add types for jsonStringifySortedPolicy
  packages/core/src/stringifyPolicy.js
  packages/core/test/util.js
Labels: pkg:lavamoat-core

#1588 fix(deps): upgrade @endo/compartment-mapper, @endo/evasive-transform
  package-lock.json
  package.json
  packages/node/package.json
  packages/node/src/policy-gen/policy-gen-compartment-map.js
  packages/node/test/unit/snapshots/compartment-map.spec.js.md
  packages/node/test/unit/snapshots/compartment-map.spec.js.snap
  packages/node/test/unit/snapshots/policy-gen.spec.js.md
  packages/node/test/unit/snapshots/policy-gen.spec.js.snap
  packages/perf/package.json
Labels: dependencies, documentation, pkg:lavamoat-perf, pkg:@lavamoat/node

#1598 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#1596 chore(aa): disable flaky symlink perf test in CI
  packages/aa/test/symlink-perf.spec.js
Labels: chore, pkg:@lavamoat/aa

#1599 chore(ci): remove docker workflow
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
Labels: chore

#1597 chore(ci): add ready-for-review workflow
  .github/workflows/ready-for-review.yml
Labels: chore

#1600 chore(ci): fix problems in nodejs workflow
  .github/workflows/nodejs.yml
Labels: chore

#1604 chore(ci): change how project review workflow works
  .github/workflows/pr-review.yml
Labels: chore

#1616 chore(renovate): ignore perf/trials
  .github/renovate.json5
Labels: chore

#1614 chore(ci): remove pr-review workflow
  .github/workflows/pr-review.yml
Labels: chore

#1623 prevent exploding on install
  packages/allow-scripts/package.json
Labels: dependencies, pkg:@lavamoat/allow-scripts

#1631 chore(renovate): re-ignore paths that should be ignored
  .github/renovate.json5
Labels: chore
