Repository LavaMoat/LavaMoat, pull requests merged in 2025-08, with the labels that each got.

#1759 chore(git-safe-dependencies): fix snapshots by normalizing output
  packages/git-safe-dependencies/test/e2e.spec.js
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.md
  packages/git-safe-dependencies/test/snapshots/e2e.spec.js.snap
Labels: chore, documentation

#1747 fix(aa): avoid colliding symlinks between tests - cleanup was async
  packages/aa/test/symlink-perf.spec.js
  packages/aa/test/utils.js
Labels: chore, pkg:@lavamoat/aa

#1767 chore(node): try increasing timeout to make mac CI fail less
  packages/node/package.json
Labels: dependencies, pkg:@lavamoat/node

#1765 chore(renovate): group all Endo-related updates
  .github/renovate.json5
Labels: chore
