Repository LavaMoat/LavaMoat, pull requests merged in 2025-06, with the labels that each got.

#1677 chore(renovate): use helpers:disableTypesNodeMajor
  .github/renovate.json5
Labels: chore

#1700 chore: rename all LICENSE.md to LICENSE
  LICENSE
  packages/aa/LICENSE
  packages/allow-scripts/LICENSE
  packages/browserify/LICENSE
  packages/core/LICENSE
  packages/lavamoat-node/LICENSE
  packages/lavapack/LICENSE
  packages/node/LICENSE
  packages/perf/LICENSE
  packages/preinstall-always-fail/LICENSE
  packages/survey/LICENSE
  packages/tofu/LICENSE
  packages/webpack/LICENSE
  packages/yarn-plugin-allow-scripts/LICENSE
Labels: pkg:@lavamoat/yarn-plugin-allow-scripts, pkg:lavamoat-perf, pkg:lavamoat-core, pkg:@lavamoat/aa, pkg:@lavamoat/allow-scripts, pkg:lavamoat-browserify, pkg:lavamoat-tofu, pkg:@lavamoat/webpack, pkg:@lavamoat/lavapack, pkg:survey, pkg:@lavamoat/preinstall-always-fail, pkg:@lavamoat/node, pkg:lavamoat-node

#1719 chore: update release-please configuration
  .release-please-manifest.json
  packages/react-native-lockdown/package.json
  release-please-config.json
Labels: dependencies, chore

#1723 chore(react-native-lockdown): fix publish config
  packages/react-native-lockdown/package.json
Labels: dependencies

#1728 fix(react-native-lockdown): add vendor directory when creating tarball
  packages/react-native-lockdown/package.json
Labels: dependencies

#1724 chore(aa): disable symlink perf test on all darwin
  packages/aa/test/symlink-perf.spec.js
Labels: chore, pkg:@lavamoat/aa
