Repository LavaMoat/LavaMoat, pull requests merged in 2025-02, with the labels that each got.

#1521 chore(ci): update labeler action config
  .github/labeler.yml
Labels: chore

#1529 fix(webpack): support regex in scuttling exceptions
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

#1531 webpack: refactor conditional
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack

#1537 chore(node): update JSON fixture docs for snapshot-fs v5
  packages/node/test/unit/json-fixture/README.md
Labels: chore, documentation, pkg:@lavamoat/node

#1539 refactor(core/browserify): export global this aliases to one place
  packages/browserify/src/index.js
  packages/browserify/test/globalRef.spec.js
  packages/core/src/constants.js
  packages/core/src/generatePolicy.js
  packages/core/src/index.js
Labels: pkg:lavamoat-core, pkg:lavamoat-browserify
