Repository LavaMoat/LavaMoat, pull requests merged in 2025-05, with the labels that each got.

#1637 chore(renovate): add packages/*test to ignored paths
  .github/renovate.json5
Labels: chore

#1375 feat(webpack): unlockedChunksUnsafe option to refrain from protecting…
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/src/runtime/runtimeUnlocked.js
Labels: pkg:@lavamoat/webpack

#1644 chore(node): rebuild linux native fixtures
  packages/node/test/unit/fixture/native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
Labels: chore, pkg:@lavamoat/node

#1647 chore(node): add linux-arm64 prebuilt binary
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/.gitignore
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/package.json
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/json-fixture/static-native.json
Labels: chore, documentation, pkg:@lavamoat/node

#1648 chore(node): fix native module tests
  packages/node/test/unit/exec/execute.spec.js
  packages/node/test/unit/fixture/native/README.md
  packages/node/test/unit/fixture/static-native/README.md
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/hello.js
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/darwin-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-arm64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/linux-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/hello_world/prebuilds/win32-x64/hello_world.node
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/LICENSE
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/README.md
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/bin.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/build-test.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/index.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/node-gyp-build.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/optional.js
  packages/node/test/unit/fixture/static-native/node_modules/node-gyp-build/package.json
  packages/node/test/unit/json-fixture/native.json
  packages/node/test/unit/json-fixture/static-native.json
Labels: chore, documentation, pkg:@lavamoat/node

#1645 feat(core): relax scuttling by skipping intrinsics
  packages/core/src/scuttle.js
  packages/core/test/scenarios/scuttle.js
  packages/core/test/scuttle.spec.js
Labels: pkg:lavamoat-core

#1627 feat(node): add support in scuttling
  packages/core/src/scuttle.d.ts
  packages/node/src/cli.js
  packages/node/src/compartment/module-transforms.js
  packages/node/src/exec/default-attenuator.js
  packages/node/src/exec/run.js
  packages/node/src/types.ts
  packages/node/test/types.ts
  packages/node/test/unit/scenario-runner.js
  packages/node/test/unit/scenario-util.js
  packages/node/test/unit/scenario.spec.js
Labels: pkg:lavamoat-core, pkg:@lavamoat/node

#1654 test(node): update e2e snapshots
  packages/node/test/e2e/snapshots/cli-general.spec.js.md
  packages/node/test/e2e/snapshots/cli-general.spec.js.snap
  packages/node/test/e2e/snapshots/cli-run.spec.js.md
  packages/node/test/e2e/snapshots/cli-run.spec.js.snap
Labels: chore, documentation, pkg:@lavamoat/node

#1660 chore(ci): bump GHA macOS image to 15 and run ava tests concurrently
  .github/workflows/nodejs-macos.yml
  packages/node/test/unit/scenario.spec.js
Labels: pkg:@lavamoat/node

#1665 docs(webpack): improve documentation
  packages/webpack/src/buildtime/generator.js
  packages/webpack/src/buildtime/wrapper.js
  packages/webpack/src/plugin.js
Labels: pkg:@lavamoat/webpack
