Repository LavaMoat/LavaMoat, pull requests merged in 2025-09, with the labels that each got.

#1787 fix(webpack): MessageEvent repair should not prevent further overrides
  packages/webpack/src/runtime/repairs/messageevent.js
  packages/webpack/test/e2e-repairs.spec.js
Labels: pkg:@lavamoat/webpack

#1799 chore: trim CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#1785 feat(webpack): repair for window.event deprecated leaky poperty
  packages/webpack/src/runtime/repairs/eventsetter.js
  packages/webpack/src/runtime/repairs/index.js
Labels: pkg:@lavamoat/webpack

#1786 feat(core): support Firefox contentscript shenanigans with cross-realm window prototypes
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

#1809 fix(vog): fix exports
  packages/vog/package.json
Labels: dependencies

#1818 fix(types): remove global Object.hasOwn type
  package-lock.json
  packages/node/src/util.js
  packages/types/package.json
  packages/types/src/has-own.ts
  packages/types/src/index.ts
Labels: dependencies, pkg:@lavamoat/node

#1820 fix(core): noSharedPrototype case in copyWrappedGlobals must include non-enumerable properties
  packages/core/src/endowmentsToolkit.js
  packages/core/test/endowmentsToolkit.spec.js
Labels: pkg:lavamoat-core

#1830 fix(webpack): adjust MessageEvent repair to reliably work in the bizarre context of Firefox webextension contentscript
  packages/webpack/src/runtime/repairs/messageevent.js
Labels: pkg:@lavamoat/webpack

#1829 feat(webpack): document and officially release scuttling in webpack plugin
  packages/core/src/options.js
  packages/core/src/scuttle.d.ts
  packages/core/src/scuttle.js
  packages/core/src/types.ts
  packages/core/test/util.js
  packages/webpack/README.md
  packages/webpack/src/buildtime/types.ts
  packages/webpack/src/plugin.js
  packages/webpack/src/runtime/runtime-namespace.ts
  packages/webpack/src/runtime/runtimeBuilder.js
Labels: documentation, pkg:lavamoat-core, pkg:@lavamoat/webpack

#1832 secret prototype repair for FF contentscript sandbox
  packages/webpack/src/runtime/repairs/globalthis.js
  packages/webpack/src/runtime/repairs/index.js
  packages/webpack/src/runtime/repairsBuilder.js
  packages/webpack/src/runtime/runtime.js
  packages/webpack/test/repairs-globalthis.spec.js
Labels: pkg:@lavamoat/webpack
